<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th colspan="2" class="text-center text-info">{{'ADDITIONAL_INFORMATION' | translate}}</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <th>{{'ENTRANCE' | translate}}</th>
        <th>{{additionalInfo.entrance}}</th>
    </tr>

    <tr>
        <th>{{'DOOR_CODE' | translate}}</th>
        <th>{{additionalInfo.doorCode}}</th>
    </tr>

    <tr>
        <th>{{ 'FLOOR' | translate}}</th>
        <th>{{additionalInfo.floor}}</th>
    </tr>
    <tr>
        <th>{{'DATE_OF_VERIF/DISASSEMBLY'| translate }}</th>
        <th>{{additionalInfo.dateOfVerif}}</th>
    </tr>
    <tr>
        <th>{{ 'TIME_OF_CALIBRATION' | translate}}</th>
        <th>{{additionalInfo.time}}</th>
    </tr>
    <tr>
        <th>{{ 'PLUMBING_SERVICEABILITY' | translate}}</th>
        <th>{{additionalInfo.serviceability}}</th>
    </tr>
    <tr>
        <th>{{'NO_WATER_TO'| translate }}</th>
        <th>{{additionalInfo.noWaterToDate}}</th>
    </tr>
    <tr>
        <th>{{'NOTES' | translate}}</th>
        <th>{{additionalInfo.notes}}</th>
    </tr>
    </tbody>
</table>