<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th colspan="2" class="text-center text-info">{{'COUNTER_' | translate}}</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <th>{{'COUNTER_CATEGORY' | translate}}</th>
        <th>{{counterInfo.deviceType | translate}}</th>
    </tr>

    <tr>
        <th>{{'DISMANTLED_COUNTER' | translate}}</th>
        <th>{{counterInfo.counterStatus}}</th>
    </tr>
    <tr>
        <th>{{'DATE_OF_DISMANTLED' | translate}}</th>
        <th>{{counterInfo.dateOfDismantled}}</th>
    </tr>
    <tr>
        <th>{{'DATE_OF_MOUNTED' | translate}}</th>
        <th>{{counterInfo.dateOfMounted}}</th>
    </tr>
    <tr>
        <th>{{'APPLICATION_COMMENT' | translate}}</th>
        <th>{{counterInfo.comment}}</th>
    </tr>
    <tr>
        <th>{{'NUMBER_OF_COUNTER' | translate}} </th>
        <th>{{counterInfo.numberCounter}}</th>
    </tr>
    <tr>
        <th>{{'PRESENCE_OF_SEAL' | translate}}</th>
        <th>{{counterInfo.sealPresence}}</th>
    </tr>
    <tr>
        <th>{{'SYMBOL_OF_COUNTER' | translate}}</th>
        <th>{{counterInfo.counterSymbol}}</th>
    </tr>
    <tr>
        <th>{{'STANDART_SIZE_OF_COUNTER' | translate}}</th>
        <th>{{counterInfo.counterStandardSize}}</th>
    </tr>
    <tr>
        <th>{{'YEAR OF COUNTER' | translate}}</th>
        <th>{{counterInfo.releaseYear}}</th>
    </tr>
    </tbody>
</table>