

<table class="table table-striped table-bordered">

    <thead>
    <tr>
        <th colspan="2" class="text-center text-info">{{'INFO_CUSTOMER' | translate}}</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <th>{{'LAST_NAME' | translate}}</th>
        <th>{{verificationData.lastName}}</th>
    </tr>

    <tr>
        <th>{{'FIRST_NAME' | translate}}</th>
        <th>{{verificationData.firstName}}</th>
    </tr>

    <tr>
        <th>{{'MIDDLE_NAME' | translate}}</th>
        <th>{{verificationData.middleName}}</th>
    </tr>

    <tr>
        <th>{{'EMAIL' | translate}}</th>
        <th>{{verificationData.email}}</th>
    </tr>

    <tr>
        <th>{{'PHONE_NUMBER' | translate}}</th>
        <th>{{verificationData.phone}}</th>
    </tr>

    <tr>
        <th>{{'REGION' | translate}}</th>
        <th>{{verificationData.region}}</th>
    </tr>

    <tr>
        <th>{{'DISTRICT' | translate}}</th>
        <th>{{verificationData.district}}</th>
    </tr>

    <tr>
        <th>{{'LOCALITY' | translate}}</th>
        <th>{{verificationData.locality}}</th>
    </tr>

    <tr>
        <th>{{'STREET' | translate}}</th>
        <th>{{verificationData.street}}</th>
    </tr>

    <tr>
        <th>{{'BUILDING' | translate}}</th>
        <th>{{verificationData.building}}</th>
    </tr>

    <tr>
        <th>{{'FLAT' | translate}}</th>
        <th>{{verificationData.flat}}</th>
    </tr>
    </tbody>
</table>