<div class="modal-body">

    <form name="teamForm" novalidate ng-submit="
     !teamForm.teamName.$error.pattern && !teamForm.teamName.$error.required
     && !teamForm.leaderFullName.$error.pattern && !teamForm.leaderFullName.$error.required
     && onTeamFormSubmit()
     ">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3>{{'FILL_IN_INFORMATION_ABOUT_VERIFICATION_TEAM' | translate }}</h3></div>
            <div class="panel-body">
                <div class="row">

                    <div class="form-group col-md-4">
                        <label class="control-label">{{'VERIFICATION_TEAM_NUMBER' | translate }}</label>
                    </div>
                    <div class="form-group col-md-8" ng-class="teamNumberValidation.css" show-errors>
                        <input id="teamNumber" name="teamNumber" class="form-control"
                               type="text" ng-model="teamFormData.teamNumber"
                               ng-change="checkAll('teamNumber')"
                               ng-pattern="TEAM_USERNAME_REGEX" required>

                        <div ng-show="teamForm.$submitted || (teamForm.teamNumber.$touched   && !teamForm.teamNumber.$pristine)
                        || (teamForm.teamNumber.$dirty)">

                            <p class="validation-message" ng-if="!teamNumberValidation.isValid">
                                {{teamNumberValidation.message }}
                            </p>

                            <p class="validation-message" ng-if="teamForm.teamNumber.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'REQUIRED' | translate}}
                            </p>

                            <p class="validation-message" ng-if="teamForm.teamNumber.$error.pattern">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'INCORRECT_VALUE_VERIFICATION_TEAM_NUMBER' | translate }}
                            </p>
                        </div>
                    </div>


                    <div class="form-group col-md-4">
                        <label class="control-label">{{'VERIFICATION_TEAM_NAME' |translate }}</label>
                    </div>
                    <div class="form-group col-md-8" ng-class="teamNameValidation.css" show-errors>
                        <input type="text" ng-model="teamFormData.teamName"
                               id="teamName" ng-pattern="TEAM_NAME_REGEX"
                               name="teamName" class="form-control" required>

                        <div ng-show="teamForm.$submitted || (teamForm.teamName.$touched  && !teamForm.teamName.$pristine)
                        || (teamForm.teamName.$dirty)">
                            <p class="validation-message" ng-if="teamForm.teamName.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'REQUIRED' | translate}}
                            </p>

                            <p class="validation-message" ng-if="teamForm.teamName.$error.pattern">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'INCORRECT_VALUE_VERIFICATION_TEAM_NAME' | translate }}
                            </p>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="control-label">{{'VERIFICATION_TEAM_LEADER' |translate }}</label>
                    </div>
                    <div class="form-group col-md-8" ng-class="teamLeaderFullNameValidation.css" show-errors>
                        <input type="text" ng-model="teamFormData.leaderFullName"
                               id="leaderFullName" ng-pattern="TEAM_LEADER_FULL_NAME_REGEX"
                               name="leaderFullName" class="form-control" required>

                        <div ng-show="teamForm.$submitted || (teamForm.leaderFullName.$touched
                        && !teamForm.leaderFullName.$pristine)
                        || (teamForm.leaderFullName.$dirty)">
                            <p class="validation-message" ng-if="teamForm.leaderFullName.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'REQUIRED' | translate}}
                            </p>

                            <p class="validation-message" ng-if="teamForm.leaderFullName.$error.pattern">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'INCORRECT_VALUE_VERIFICATION_TEAM_LEADER' | translate }}
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="form-group col-md-10">
                <button type="submit" class="btn btn-success"
                        >{{'ADD' | translate}}
                </button>
                <button type="reset" class="btn btn-warning" ng-click="resetTeamForm()">
                    {{'CLEAR_FORM' | translate }}
                </button>
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-danger pull-right" ng-click="closeModal()">{{'CLOSE' | translate}}
                </button>
            </div>
        </div>

    </form>
</div>