<div class="modal-body" ng-show="isShownForm">
    <form name="clientForm" ng-submit="sendApplicationData()" novalidate>
        <div class="panel panel-primary">
            <div class="panel-heading">{{'GENERAL_INFORMATION' | translate }}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4 form-group">
                            <label for="lastName">{{'LAST_NAME' | translate}} </label>
                        </div>
                        <div class="col-md-8 form-group" show-errors>
                            <input id="lastName" name="lastName" class="form-control" type="text"
                                   ng-model="formData.lastName"
                                   popover="{{'ALPHABETIC_INFO' | translate}}"
                                   popover-trigger="focus" popover-placement="right" ng-pattern="FIRST_LAST_NAME_REGEX"
                                   required>
							<span class="form-control-feedback glyphicon  form-horizontal glyphicon glyphicon-ok-sign"
                                  id="okFeedBack">
							</span>

                            <p class="help-block" ng-if="clientForm.lastName.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'REQUIRED' | translate}}
                            </p>

                            <p class="help-block" ng-if="clientForm.lastName.$error.pattern">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'DOUBLE_NAME_ERROR' | translate}}
                            </p>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 form-group">
                            <label for="firstName">
                                {{'FIRST_NAME' | translate}} </label>
                        </div>
                        <div class="col-md-8 form-group" show-errors>
                            <input id="firstName" name="firstName" class="form-control" ng-model="formData.firstName"
                                   popover="{{'ALPHABETIC_INFO' | translate}}" popover-trigger="focus"
                                   popover-placement="right"
                                   ng-pattern="FIRST_LAST_NAME_REGEX" required>
							<span class="form-control-feedback glyphicon  form-horizontal glyphicon glyphicon-ok-sign"
                                  id="okFeedBack">
							</span>

                            <p class="help-block" ng-if="clientForm.firstName.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'REQUIRED' | translate}}
                            </p>

                            <p class="help-block" ng-if="clientForm.firstName.$error.pattern">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'DOUBLE_NAME_ERROR' | translate}}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 form-group">
                            <label for="middleName">
                                {{'MIDDLE_NAME' | translate}} </label>
                        </div>
                        <div class="col-md-8 form-group" show-errors>
                            <input id="middleName" name="middleName" type="text" class="form-control"
                                   ng-model="formData.middleName"
                                   popover="{{'MIDDLE_NAME_INFO' | translate}}" popover-trigger="focus"
                                   popover-placement="right" ng-pattern="MIDDLE_NAME_REGEX" required>
                    <span class="form-control-feedback glyphicon  form-horizontal glyphicon glyphicon-ok-sign"
                          id="okFeedBack"></span>

                            <p class="help-block" ng-if="clientForm.middleName.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'REQUIRED' | translate}}
                            </p>

                            <p class="help-block" ng-if="clientForm.middleName.$error.pattern">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'ALPHABETIC_ERROR' | translate}}
                            </p>
                        </div>
                    </div>

                    <div class="form-group" show-errors>
                        <div class="col-md-4 form-group">
                            <label for="email">
                                {{'EMAIL' | translate}} </label>
                        </div>

                        <div class="col-md-8 form-group" show-errors>
                            <input id="email" name="email" type="email" class="form-control"
                                   ng-model="formData.email"
                                   placeholder="example@gmail.com"
                                   ng-pattern="EMAIL_REGEX" required>
							<span class="form-control-feedback glyphicon  form-horizontal glyphicon glyphicon-ok-sign"
                                  id="okFeedBack">
							</span>

                            <p class="help-block" ng-if="clientForm.email.$error.email">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'EMAIL_ERROR' | translate}}<i>example@gmail.com</i>
                            </p>

                            <p class="help-block" ng-if="clientForm.email.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'REQUIRED' | translate}}
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4 form-group">
                            <label for="phoneNumber">
                                {{'PHONE_NUMBER' | translate}} </label>
                        </div>
                        <div class="col-md-8 form-group" show-errors>
                            <div>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon-code">+380</span>
                                    <input id="phoneNumber" name="phoneNumber" type="tel"
                                           class="form-control col-md-8 "
                                           ng-model="formData.phone"
                                           placeholder="XXXXXXXXX" ng-pattern="PHONE_REGEX" required>
                                    <span class="input-group-addon">{{'SECOND_PHONE' |translate}}</span>
								<span class="input-group-addon">
								 	<input type="checkbox" ng-model="checkboxModel">
								</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="help-block col-md-8 col-md-offset-2"
                               ng-if="clientForm.phoneNumber.$error.pattern">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'PHONE_NUMBER_ERROR' | translate}}

                            <p class="help-block col-md-8 col-md-offset-2" ng-if="clientForm.email.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'REQUIRED' | translate}}
                            </p>
                        </div>
                    </div>
                    <div class="form-group" ng-show="checkboxModel">
                        <div class="col-md-4 form-group">
                            <label for="phoneNumberSecond">
                                {{'SECOND_PHONE' | translate}} </label>
                        </div>
                        <div class="col-md-8 form-group" show-errors>
                            <div>
                                <div class="input-group" ng-show="checkboxModel">

                                    <span class="input-group-addon" id="basic-addon-code">+38</span>
                                    <input id="phoneNumberSecond" name="phoneNumberSecond" class="form-control"
                                           ng-model="formData.secondPhone"
                                           placeholder="0XXXXXXXXX" ng-pattern="PHONE_REGEX_SECOND"
                                           popover="{{'PHONE_NUMBER_INFO' | translate}}"
                                           popover-trigger="focus" popover-placement="right">
                                </div>
                        <span class="form-control-feedback glyphicon  form-horizontal glyphicon glyphicon-ok-sign"
                              id="okFeedBack" ng-show="checkboxModel"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="help-block col-md-8 col-md-offset-2"
                               ng-if="clientForm.phoneNumberSecond.$error.pattern">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'PHONE_NUMBER_ERROR' | translate}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Місцезнаходження</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4 form-group">
                            <label for="region">
                                {{'REGION' | translate}} </label>
                        </div>
                        <div class="col-md-8 form-group" show-errors>
                            <ui-select class="form-control" type="text" theme="select2"
                                       ng-model="selectedData.region"
                                       on-select="receiveDistricts(selectedData.region)"
                                       name="region" id="region">
                                <ui-select-match placeholder="{{'SELECT_DISTRICT' | translate}}" allow-clear="true">
                                    {{$select.selected.designation}}
                                </ui-select-match>
                                <ui-select-choices repeat="region in regions | filter: $select.search">
                                    <span ng-bind-html="region.designation"></span>
                                </ui-select-choices>
                            </ui-select>

                            <p class="help-block">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'TYPEAHEAD_ERROR' | translate}}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 form-group">
                            <label for="district">{{'DISTRICT' | translate}}</label>
                        </div>
                        <div class="col-md-8 form-group" show-errors>
                            <ui-select class="form-control" type="text" theme="select2"
                                       ng-model="selectedData.district"
                                       ng-disabled="!selectedData.region"
                                       on-select="receiveLocalitiesAndProviders(selectedData.district)"
                                       name="district" id="district" required>
                                <ui-select-match placeholder="{{'SELECT_DISTRICT' | translate}}" allow-clear="true">
                                    {{$select.selected.designation}}
                                </ui-select-match>
                                <ui-select-choices repeat="district in districts | filter: $select.search">
                                    <span ng-bind-html="district.designation"></span>
                                </ui-select-choices>
                            </ui-select>

                            <p class="help-block">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'TYPEAHEAD_ERROR' | translate}}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 form-group">
                            <label for="locality">
                                {{'LOCALITY' | translate}} </label>
                        </div>

                        <div class="col-md-8 form-group" show-errors>
                            <ui-select class="form-control" type="text" theme="select2"
                                       ng-model="selectedData.locality"
                                       ng-disabled="!selectedData.district"
                                       on-select="receiveStreets(selectedData.locality,selectedData.district)"
                                       name="locality" id="locality" required>
                                <ui-select-match placeholder="{{'SELECT_LOCALITY' | translate}}" allow-clear="true">
                                    {{$select.selected.designation}}
                                </ui-select-match>
                                <ui-select-choices repeat="locality in localities | filter: $select.search">
                                    <span ng-bind-html="locality.designation"></span>
                                </ui-select-choices>
                            </ui-select>

                            <p class="help-block">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'TYPEAHEAD_ERROR' | translate}}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4" form-group>
                            <label for="index"> {{'INDEX' | translate}}
                            </label>
                        </div>

                        <div class="col-md-8 form-group" show-errors>
                            <ui-select class="form-control" type="text" theme="select2"
                                       ng-model="selectedData.index"
                                       ng-disabled="!selectedData.locality"
                                       name="index" id="index" required>
                                <ui-select-match placeholder="{{'INDEX' | translate}}" allow-clear="true">
                                    {{$select.selected}}
                                </ui-select-match>
                                <ui-select-choices repeat="index  in indexes | filter: $select.search">
                                    <span ng-bind-html="index"></span>
                                </ui-select-choices>
                            </ui-select>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 form-group">
                            <label for="street">
                                {{'STREET' | translate}} </label>
                        </div>
                        <div class="col-md-8 form-group" show-errors>
                            <div class="pull-left col-lg-3" id="typeStreet">
                                <ui-select class="form-control" type="text" theme="select2"
                                           ng-model="selectedData.selectedStreetType"
                                           name="street" id="street" required>
                                    <ui-select-match placeholder="{{'TYPE_OF_STREET' | translate}}" allow-clear="true">
                                        {{$select.selected.designation}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="streetsType in streetsTypes | filter: $select.search">
                                        <span ng-bind-html="streetsType.designation"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-md-9" id="streetBox">
                                <input name="street" class="form-control" type="text"
                                       ng-model="selectedStreet"
                                       ng-disabled="!selectedData.selectedStreetType"
                                       typeahead="street as street.designation for street in streets | filter: $viewValue"
                                       ng-pattern="STREET_REGEX"
                                       autocomplete="off"
                                       typeahead-editable="false"
                                       typeahead-on-select="receiveBuildings(selectedStreet)"
                                       required>


                            </div>
                    <span class="form-control-feedback glyphicon form-horizontal glyphicon glyphicon-ok-sign"
                          id="okFeedBack"></span>

                        </div>
                        <p class="help-block col-md-offset-2">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'DOUBLE_NAME_ERROR' | translate}}
                        </p>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 form-group">
                            <label for="building">
                                {{'BUILDING' | translate}} </label>
                        </div>
                        <div class="col-md-8 form-group" show-errors>
                            <input id="building" name="building" class="form-control" ng-model="selectedBuilding"
                                   typehead="building as building.designation for building in buildings | filter: $viewValue"
                                   ng-pattern="BUILDING_REGEX" required>
                            <span class="form-control-feedback glyphicon form-horizontal glyphicon glyphicon-ok-sign"
                                  id="okFeedBack"></span>

                            <p class="help-block">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'REQUIRED' | translate}}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 form-group">
                            <label for="flat">{{'FLAT' | translate}}</label>
                        </div>
                        <div class="col-md-8 form-group" show-errors>
                            <input id="flat" name="flat" class="form-control"
                                   ng-model="formData.flat" popover="{{'FLAT_INFO' | translate}}"
                                   popover-trigger="focus" popover-placement="right"
                                   ng-pattern="FLAT_REGEX"

                                   required> <span
                                class="form-control-feedback glyphicon form-horizontal glyphicon glyphicon-ok-sign"
                                id="okFeedBack"></span>

                            <p class="help-block" ng-if="clientForm.flat.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'REQUIRED' | translate}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Основна інформація</div>
            <div class="panel-body">
                <div class="row">

                    <div class="form-group">
                        <div class="col-md-4 form-group">
                            <label for="device">
                                {{'COUNTER_CATEGORY' | translate}} </label>
                        </div>
                        <div class="col-md-8 form-group" show-errors>
                            <div class="pull-left col-lg-3" id="counterNumber">
                                <ui-select class="form-control" type="text" theme="select2"
                                           ng-model="selectedData.selectedCount"
                                           name="device" id="device" required>
                                    <ui-select-match allow-clear="false">
                                        {{$select.selected}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="option in deviceCountOptions | filter: $select.search">
                                        <span ng-bind-html="option"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-md-9 pull-right" id="deviceBox">

                                <ui-select class="form-control" type="text" theme="select2"
                                           ng-model="selectedData.selectedDevice"
                                           on-select="receiveCalibrators(selectedData.selectedDevice)"
                                           name="device" required>
                                    <ui-select-match placeholder="{{'COUNTER_CATEGORY' | translate}}" allow-clear="true">
                                        {{$select.selected.designation}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="device in devices | filter: $select.search">
                                        <span ng-bind-html="device.designation"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <p class="help-block">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'TYPEAHEAD_ERROR' | translate}}
                            </p>
                        </div>
                    </div>

                    <div class="form-group" ng-show="isCalibrator>0">
                        <label for="calibrator" class="col-md-2 control-label">
                            {{'I_AM_CALIBRATOR' | translate}}
                        </label>

                        <div class="col-md-8 pull-left">
                            <input type="checkbox" class="form-control" ng-model="calibratorDefined">
                        </div>
                    </div>
                    <div class="form-group" show-errors ng-hide="calibratorDefined">
                        <div class="col-md-4">
                            <label for="calibrator">
                                {{'CALIBRATOR' | translate}} </label>
                        </div>
                        <div class="col-md-8 form-group">
                            <ui-select class="form-control" type="text" theme="select2"
                                       ng-model="selectedData.selectedCalibrator"
                                       name="calibrator" id="calibrator" required>
                                <ui-select-match placeholder="{{'CALIBRATOR' | translate}}" allow-clear="true">
                                    {{$select.selected.designation}}
                                </ui-select-match>
                                <ui-select-choices repeat="calibrator in calibrators | filter: $select.search">
                                    <span ng-bind-html="calibrator.designation"></span>
                                </ui-select-choices>
                            </ui-select>

                        </div>
                    </div>
                    <div class="form-group" ng-show="calibratorDefined">
                        <div class="col-md-4 form-group">
                            <label for="calibrator">
                                {{'CALIBRATOR' | translate}} </label>
                        </div>
                        <div class="col-md-8 form-group" show-errors>
                            <input id="calibratorInfo" name="calibratorInfo" class="form-control"
                                   ng-model="selectedCalibrator.designation"
                                   placeholder={{selectedCalibrator.designation}}
                                   readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="form group col-md-10">
                <button type="submit" class="btn btn-success text-uppercase"
                        ng-show="!showEditButton">
                    {{'SEND_BTN' | translate}}
                </button>
                <button type="reset" class="btn btn-warning text-uppercase"
                        ng-click="resetApplicationForm()">
                    {{'CLEAR_FORM'|translate}}
                </button>
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-danger pull-right text-uppercase" ng-click="closeAlert()">
                    {{'CLOSE'|translate}}
                </button>
            </div>

        </div>
    </form>

</div>

<div ng-show="!isShownForm " class="row col-md-12 alert alert-success alert-dismissible centered" role="alert">
    <button ng-click="closeAlert()" type="button" class="close btn-close-alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <i ng-show="!applicationCodes" class="fa fa-3x fa-spinner fa-spin col-md-6 col-md-offset-5"></i>

    <div ng-if="isMailValid" class="text-center" ng-show="applicationCodes">
        {{'APP_SENT_ORG' | translate}}
        <div ng-repeat="code in applicationCodes">
            <b>{{ code }} </b> <br>
        </div>
    </div>
    <div ng-if="!isMailValid" class="text-center" ng-show="applicationCodes">
        {{'APP_SENT_ORG' | translate}}
        <div ng-repeat="code in applicationCodes">
            <b>{{ code }} </b> <br>
        </div>
        {{'APP_INVALID_MAIL' | translate}} <b>+380{{ clientForm.phoneNumber.$viewValue }} </b> <br>
    </div>
</div>
</div>