<div class="modal-header">
    <h3 class="modal-title">{{'DATAILS_OF_CALIBRATOR' | translate}}</h3>
</div>

<div class="modal-body">
    <table class="table table-striped table-bordered">
        <tr>
            <th>{{'DATE_TIME' | translate}}</th>
            <th>{{verificationDataMain.initialDate  | date :'dd-MM-yyyy'}}</th>
        </tr>

        <tr>
            <th>{{'REGISTRATION_NUMBER_OF_VERIFICATION' | translate}}</th>
            <th>{{verificationDataMain.id}}</th>
        </tr>

        <tr ng-show="verificationData.rejectedMessage">
            <th>{{'RETURN_REASON' | translate}}</th>
            <th>{{verificationDataMain.rejectedMessage}}</th>
        </tr>

    </table>

    <button class="btn btn-default pull-right" ng-click="toEditClientInfo = !toEditClientInfo" ng-show="!toEditClientInfo">{{'EDIT' | translate}}</button>
    <button class="btn btn-default pull-right" ng-click="toEditClientInfo = !toEditClientInfo" ng-show="toEditClientInfo">{{'REVIEW' | translate}}</button>
    <ng-include src="'resources/app/common/views/modals/main-details-table.html'" ng-show="!toEditClientInfo"></ng-include>
    <ng-include src="'resources/app/common/views/modals/main-details-modal.html'" ng-show="toEditClientInfo"></ng-include>
    <hr>

    <button type="button" class ="btn btn-default" ng-click="openCounterInfo()">
        <i class="fa fa-info fa-lg"></i>
        {{'COUNTER_' | translate}}
    </button>
    <button class="btn btn-default pull-right" ng-click="toEditCounter = !toEditCounter" ng-show="!toEditCounter && showCounter.opened">{{'EDIT' | translate}}</button>
    <button class="btn btn-default pull-right" ng-click="toEditCounter = !toEditCounter" ng-show="toEditCounter && showCounter.opened">{{'REVIEW' | translate}}</button>

    <ng-include src="'resources/app/common/views/modals/counter-info-modal.html'" ng-show="toEditCounter && showCounter.opened"></ng-include>
    <ng-include src="'resources/app/common/views/modals/counter-info-table.html'" ng-show="!toEditCounter && showCounter.opened"></ng-include>

    <button type="button" class="btn btn-default" ng-click="openAdditionalInformation()">
        <i class="fa fa-info fa-lg"></i>
        {{'INFO_BUTTON' | translate}}
    </button>
    <button class="btn btn-default pull-right" ng-click="toEditInfo = !toEditInfo" ng-show="!toEditInfo && showStatus.opened">{{'EDIT' | translate}}</button>
    <button class="btn btn-default pull-right" ng-click="toEditInfo = !toEditInfo" ng-show="toEditInfo && showStatus.opened">{{'REVIEW' | translate}}</button>

    <ng-include src="'resources/app/common/views/modals/additional-info-modal.html'" ng-show="toEditInfo && showStatus.opened"></ng-include>
    <ng-include src="'resources/app/common/views/modals/additional-info-table.html'" ng-show="!toEditInfo && showStatus.opened"></ng-include>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">{{'CLOSE' | translate}}</button>
    <button class="btn btn-danger" ng-click="rejectVerification()">{{'REJECT' | translate}}</button>
</div>
