<div class="modal-header">
    <h3 class="modal-title">{{'ALERT' | translate}}</h3>
</div>


<div class="modal-body text-center">
    <h2>{{'RESET_SURE' | translate}}</h2>
    <h3>{{'DATA_LOST_ALERT' | translate}}</h3>
</div>

<div class="modal-footer">
    <button class="btn btn-success pull-left" type="button" ng-click="submit()">
        {{'OK' | translate}}
    </button>

    <button class="btn btn-danger pull-right" type="button" ng-click="cancel()">
        {{'CANCEL' | translate}}
    </button>
</div>