<div id="page-wrapper" ng-controller="CounterTypePanelController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{'TYPES_OF_COUNTERS' | translate}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <button type="submit" class="btn btn-primary" ng-click="openAddCounterTypeModal()">
                <span class="glyphicon glyphicon-plus"></span>
                {{'ADD_COUNTER_TYPE' | translate}}
            </button>
        </div>

        <div class="col-xs-6 col-md-6 col-lg-6">
            <button ng-click="clearAll()" ng-show="isFilter()"
                    class="btn btn-danger pull-right">
                {{'CLEAR_ALL' | translate }}
            </button>
        </div>
    </div>
    <p></p>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table show-filter="true" ng-table="tableParams" template-pagination="custom/pager"
                       class="table table-bordered table-hover users_table">
                    <tbody>
                    <tr ng-repeat="counterType in $data">
                        <td data-title="'COUNTER_NAME' | translate " sortable="'name'"
                            filter="{ 'name': 'text' }">{{ counterType.name}}
                        </td>
                        <td data-title="'SYMBOL' | translate " sortable="'symbol'"
                            filter="{ 'symbol': 'text' }">{{ counterType.symbol}}
                        </td>
                        <td data-title="'STANDARD_SIZE' | translate"
                            sortable="'standardSize'"
                            filter="{ 'standardSize': 'text' }">{{ counterType.standardSize}}
                        </td>
                        <td data-title="'MANUFACTURER' | translate " sortable="'manufacturer'"
                            filter="{ 'manufacturer': 'text' }">{{ counterType.manufacturer}}
                        </td>
                        <td data-title="'INSPECTION_INTERVAL' | translate " sortable="'calibrationInterval'"
                            filter="{ 'calibrationInterval': 'text' }">{{ counterType.calibrationInterval}}
                        </td>
                        <td data-title="'YEAR_INSPECTION_INTERVAL' | translate " sortable="'yearIntroduction'"
                            filter="{ 'yearIntroduction': 'text' }">{{ counterType.yearIntroduction}}
                        </td>
                        <td data-title="'GOST' | translate " sortable="'gost'"
                            filter="{ 'gost': 'text' }">{{ counterType.gost}}
                        </td>
                        <td data-title="'ACTIONS' | translate" class="text-center">

                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-primary"
                                        ng-click="openEditCounterTypeModal(counterType.id)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button type="button" class="btn btn-danger"
                                        ng-click="deleteCounterType(counterType.id)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.panel -->
            <script type="text/ng-template" id="custom/pager">
                <div>
                    <ul class="pager ng-cloak">
                        <li ng-repeat="page in pages"
                            ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                            ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                            <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo;
                                Previous</a>
                            <a ng-switch-when="next" ng-click="params.page(page.number)"
                               href="">Next &raquo;</a>
                        </li>
                        <li>
                            <div class="btn-group">
                                <button type="button" ng-class="{'active':params.count() == 5}"
                                        ng-click="params.count(5)" class="btn btn-default">5
                                </button>
                                <button type="button" ng-class="{'active':params.count() == 10}"
                                        ng-click="params.count(10)" class="btn btn-default">10
                                </button>
                                <button type="button" ng-class="{'active':params.count() == 25}"
                                        ng-click="params.count(25)" class="btn btn-default">25
                                </button>
                                <button type="button" ng-class="{'active':params.count() == 50}"
                                        ng-click="params.count(50)" class="btn btn-default">50
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </script>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<!-- /#page-wrapper -->
