<div class="modal-header">
	<h3 class="modal-title">{{'FILL_IN_INFORMATION_ABOUT_ORGANIZATION'
		| translate}}</h3>
	<h6>{{'ALL_FIELDS_REQUIRED' | translate}}</h6>
</div>

<div class="modal-body">

	<form name="organizationForm" novalidate>
		<div class="panel panel-primary">
			<div class="panel-heading">{{'GENERAL_INFORMATION' | translate}}</div>
			<div class="panel-body">
		<div>

			<div class="form-group col-md-4">
				<label class="control-label">{{'ORGANIZATION_NAME_ADMIN' |
					translate }}</label>
			</div>

			<div class="form-group col-md-8" show-errors>

				<input type="text" ng-model="organizationFormData.name" id="name"
					   ng-pattern="ORGANIZATION_NAME_REGEX" name="name"
					   class="form-control" required>

				<p class="help-block" ng-if="organizationForm.name.$error.pattern">
					<span class="glyphicon glyphicon-exclamation-sign"></span> {{'ORGANIZATION_NAME_LENGTH' |
					translate }}
				</p>

			</div>

		<div>
			<div class="form-group col-md-4">
				<label class="control-label">{{'ORGANIZATION_TYPE_ADMIN' | translate }}</label>
			</div>

			<div class="form-group col-md-8">
				<select multiple chosen type="text" class="form-control"
						ng-model="organizationFormData.types"
						data-placeholder="Choose type"
						ng-options="type as type.label for type in typeData | organizationFilter:organizationFormData.types">
				</select>
			</div>
		</div>

		<div >
			<div class="form-group col-md-4">
				<label class="control-label">{{'ORGANIZATION_TELEPHON_NUMBER_ADMIN'
					| translate }}</label>
			</div>

			<div class="form-group col-md-8" show-errors>
				<div>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon-code">+38</span> <input
							id="phoneNumber" name="phoneNumber" type="text"
							class="form-control col-md-8 "
							ng-model="organizationFormData.phone" placeholder="0XXXXXXXXX"
							ng-pattern="PHONE_REGEX" required>
					</div>
				</div>
				<div class="form-group">
					<p class="help-block col-md-8 col-md-offset-2"
					   ng-if="organizationFormData.phone.$error.pattern">
						<span class="glyphicon glyphicon-exclamation-sign"></span>
						{{'PHONE_NUMBER_ERROR' | translate}}
					</p>
				</div>
			</div>
		</div>


		<div>
			<div class="form-group col-md-4">
				<label class="control-label">{{'EMAIL' | translate }}</label>
			</div>
			<div class="form-group col-md-8" show-errors>

				<input id="email" name="email" type="email" class="form-control"
					   ng-model="organizationFormData.email" placeholder="example@gmail.com"
					   required>

				<p class="help-block" ng-if="organizationFormData.email.$error.email">
					<span class="glyphicon glyphicon-exclamation-sign"></span>
					{{'EMAIL_ERROR' | translate}}<i>example@gmail.com</i>
				</p>

			</div>
		</div>


		<div>
			<div class="form-group col-md-4">
				<label class="control-label">{{'NUMBER_OF_EMPLOYEES' | translate}}</label>
			</div>
			<div class="form-group col-md-8" show-errors>

				<input type="number" id="capacity"  name="capacity" class="form-control"
					   ng-model="organizationFormData.employeesCapacity"  min="1" required>

			</div>
		</div>

		<div class="pull-left">
			<div class="form-group col-md-4 ">
				<label class="control-label">{{'MAX_PROCESS_TIME' | translate }}</label>
			</div>

			<div class="form-group col-md-8 " show-errors>
				<input type="number" id="processTime"  name="processTime" class="form-control" ng-model="organizationFormData.maxProcessTime"
				ng-init="organizationFormData.maxProcessTime=5" min="1" required>
	        </div>
		 </div>



		   </div>
		</div>
	</div>


		    	<hr />
			  <div class="panel panel-primary">
  			<div class="panel-heading">{{'FILL_YOUR_SYSTEM_ADMINISTRATOR_FOR_ORGANIZATION'  | translate }}</div>
			<div class="panel-body">

			<div class="row">
				<div class="form-group col-md-4">
					<label class="control-label">{{'LOGIN_TWO' | translate }}</label>
				</div>
				<div class="form-group col-md-8" show-errors>
					<input type="text" ng-model="organizationFormData.username"
						   ng-change="checkIfUsernameIsAvailable()"
						   ng-pattern="USERNAME_REGEX" id="username" name="username"
						   class="form-control" required>

					<p class="help-block" ng-if="!isUsernameAvailable">{{'LOGIN_ISNT_AVAILABLE' |
						translate }}</p>

					<p class="help-block"
					   ng-if="organizationForm.username.$error.pattern">
						<span class="glyphicon glyphicon-exclamation-sign"></span> {{'LOGIN_HAS_INVALID_LENGTH' |
						translate }}
					</p>
			</div>
          </div>
			<div class="row">
				<div class="form-group col-md-4">
					<label class="control-label">{{'PASSWORD_TWO' | translate}}</label>
				</div>
				<div class="form-group col-md-8" show-errors>
					<input type="password" ng-model="organizationFormData.password"
						   ng-pattern="PASSWORD_REGEX" name="password" class="form-control"
						   required>

					<p class="help-block"
					   ng-if="organizationForm.password.$error.pattern">
						<span class="glyphicon glyphicon-exclamation-sign"></span> {{'PASSWORD_TOO_SHORT' |
						translate }}
					</p>

				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-4">
					<label class="control-label">{{'REPEAT_PASSWORD' |
						translate}}</label>
				</div>
				<div class="form-group col-md-8" show-errors>
					<input type="password" ng-model="organizationFormData.rePassword"
						   ng-change="checkRePassword()" name="rePassword"
						   class="form-control" required>

					<p class="help-block" ng-class="{'unreadClass': verification.readStatus=='UNREAD'}"
					   ng-if="!isPasswordsEqual">{{'PASSWORDS_ISNT_EQUAL' |
						translate }}</p>

				</div>
			  </div>
		    </div>
		  </div>

		<hr/>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading">{{'ADDRESS' | translate }}</div>
					<div class="panel-body">
						<div class="col-lg-12">
							<div class="row">
								<div class="form-group col-md-4">
									<label class="control-label">{{'REGION_TWO' |
										translate}}</label>
								</div>
								<div class="form-group col-md-8">
									<select chosen name="region" type="text"
										   ng-model="organizationFormData.region"
										   ng-options="region as region.designation for region in regions | filter: $viewValue"
										   ng-change="onRegionSelected(organizationFormData.region.id)"
										   typeahead-editable="false" class="form-control" required></select>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-4">
									<label class="control-label">{{'DISTRICT_TWO' |
										translate}}</label>
								</div>
								<div class="form-group col-md-8">
									<select chosen name="district" type="text"
										   ng-model="organizationFormData.district"
										   ng-options="district as district.designation for district in districts | filter: $viewValue"
										   ng-change="onDistrictSelected(organizationFormData.district.id)"
										   typeahead-editable="false" class="form-control" required></select>
								</div>
							</div>


							<div class="row">
								<div class="form-group col-md-4">
									<label class="control-label">{{'LOCALITY_TWO' |
										translate}}</label>
								</div>
								<div class="form-group col-md-8">
									<select chosen name="locality" type="text"
										   ng-model="organizationFormData.locality"
										   ng-options="locality as locality.designation for locality in localities | unique:'designation' "
										   ng-change="onLocalitySelected(organizationFormData.locality.id)"
										   typeahead-editable="false" class="form-control" required></select>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-4">
									<label class="control-label">{{'STREET_TWO' | translate }}
									</label>
								</div>
								<div class="form-group col-md-8">
									<input name="street" type="text"
										   ng-model="organizationFormData.street"
										   typeahead="street as street.designation for street in streets | filter: $viewValue |limitTo: 4"
										   typeahead-on-select="onStreetSelected(organizationFormData.street.id)"
										   typeahead-editable="false" class="form-control" required>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-4">
									<label class="control-label">{{'HOUSE_TWO' | translate}}
									</label>
								</div>
								<div class="form-group col-md-8">
									<input name="building" type="text"
										   ng-model="organizationFormData.building"
										   typeahead="building as building.designation for building in buildings | filter: $viewValue"
										   class="form-control" required>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-4">
									<label class="control-label">{{'FLAT' | translate}}</label>
								</div>
								<div class="form-group col-md-8">
									<input name="flat" type="text" ng-model="organizationFormData.flat" class="form-control" required>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-10">
				<button type="submit" class="btn btn-success"
						ng-click="onOrganizationFormSubmit()">{{'ADD' |
					translate}}</button>
				<a class="btn btn-warning" ng-click="resetOrganizationForm()">{{'CLEAR_FORM'
					| translate }}</a>
			</div>
			<div class="form-group col-md-2">
				<button class="btn btn-danger pull-right" ng-click="closeModal()">{{'CLOSE'
					| translate}}</button>
			</div>
		</div>

	</form>

</div>