<div class="modal-header" xmlns="http://www.w3.org/1999/html">
	<h3 class="modal-title">{{'EDIT_OF_ORGANIZATION' | translate}}</h3>
</div>

<div class="modal-body">
	<form name="organizationFormEdit" novalidate>

		<div class="row">
			<div class="form-group col-md-4">
				<label class="control-label">{{'ORGANIZATION_NAME_ADMIN'| translate}}</label>
			</div>
			<div class="form-group col-md-8" show-errors>
				<input type="text"
					ng-model="$root.organization.name"
					ng-minlength="3" id="name" name="name" class="form-control"
					required>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-4">
				<label class="control-label">{{'PHONE_NUMBER' | translate }}</label>
			</div>
			<div class="form-group col-md-8" show-errors>
				<input type="text"
					ng-model="$root.organization.phone"
					name="phone" class="form-control" required>
			</div>
		</div>
		<div class="row">
  			<div class="form-group col-md-4">
    			<label class="control-label">{{'EMAIL' | translate }}</label>
   			</div>
   			<div class="form-group col-md-8">
    			<input type="text" ng-model="$root.organization.email" name="email" class="form-control">
   			</div>
  		</div>

		<div class="row">
			<div class="form-group col-md-4">
				<label class="control-label">{{'NUMBER_OF_EMPLOYEES' | translate}}</label>
			</div>
			<div class="form-group col-md-8" show-errors>

				<input type="number" id="capacity"  name="capacity" class="form-control"
					   ng-model="$root.organization.employeesCapacity" required>

			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-4">
				<label class="control-label">Max process time</label>
			</div>
			<div class="form-group col-md-8" show-errors>

				<input type="number" id="processTime"  name="processTime" class="form-control"
					   ng-model="$root.organization.maxProcessTime" required>

			</div>
		</div>


		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading">{{'ADDRESS' | translate }}</div>
					<div class="panel-body">
						<div class="col-lg-12">
							<div class="row">
								<div class="form-group col-md-4">

									<label class="control-label">{{'REGION_TWO' | translate}}</label>
								</div>
								<div class="form-group col-md-8">
									<select  chosen name="region" type="text"
										ng-model="$root.organization.address.region"
										ng-options="region as region.designation for region in regions | filter: $viewValue"
										ng-change="onRegionSelected(organization.address.region.id)"
										typeahead-editable="false" class="form-control" required></select>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-4">
									<label class="control-label">{{'DISTRICT_TWO' | translate}}</label>
								</div>
								<div class="form-group col-md-8">
									<select  chosen name="district" type="text"
										ng-model="$root.organization.address.district"
										ng-options="district as district.designation for district in districts | filter: $viewValue"
										ng-change="onDistrictSelected(organization.address.district.id)"
										typeahead-editable="false" class="form-control" required></select>
								</div>
							</div>


							<div class="row">
								<div class="form-group col-md-4">

									<label class="control-label">{{'LOCALITY_TWO' | translate}}</label>
								</div>
								<div class="form-group col-md-8">
									<select chosen name="locality" type="text"
										ng-model="$root.organization.address.locality"
										ng-options="locality as locality.designation for locality in localities | filter: $viewValue"
										ng-change="onLocalitySelected(organization.address.locality.id)"
										typeahead-editable="false" class="form-control" required></select>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-4">
									<label class="control-label">{{'STREET_TWO' | translate }}</label>
								</div>
								<div class="form-group col-md-8">
									<input  name="street" type="text"
										ng-model="$root.organization.address.street"
										typehead="street as street.designation for street in streets | filter: $viewValue"
										typehead-on-select="onStreetSelected(organization.address.street.id)"
										typeahead-editable="false" class="form-control" required>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-4">
									<label class="control-label">{{'HOUSE_TWO' | translate}}</label>
								</div>
								<div class="form-group col-md-8">
									<input name="building" type="text"
										ng-model="$root.organization.address.building"
										typeahead="building as building.designation for building in buildings | filter: $viewValue"
										class="form-control" required>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-4">
									<label class="control-label">{{'FLAT' | translate}}</label>
								</div>
								<div class="form-group col-md-8">
									<input name="flat" type="text"
										ng-model="$root.organization.address.flat" class="form-control"
										required>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-10">

				<button class="btn btn-success" ng-click="editOrganization()">{{'EDIT' | translate}}</button>
				<a class="btn btn-warning" ng-click="resetOrganizationForm()">{{'CLEAR_FORM' | translate }}</a>
			</div>
			<div class="form-group col-md-2">
				<button class="btn btn-danger pull-right" ng-click="closeModal()">{{'CLOSE' | translate}}</button>
			</div>
		</div>
	</form>

</div>