<div id="page-wrapper">

    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Додати повірку</h1>
        </div>
    </div>


                <form class="form-horizontal" role="form" ng-controller="AddingVerificationsController">
                    <div class="form-group">
                        <label for="inputSurname" class="col-sm-2 control-label">Прізвище</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="inputSurname"  ng-model="form.Surname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Ім'я</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="inputName"  ng-model="form.Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputMiddleName" class="col-sm-2 control-label">По-батькові</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="inputMiddleName"  ng-model="form.MiddleName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPhone" class="col-sm-2 control-label">Номер телефону</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="inputPhone"  ng-model="form.Phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputRegion" class="col-sm-2 control-label">Область</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="inputRegion" ng-model="form.Region">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDistrict" class="col-sm-2 control-label">Район</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="inputDistrict"  ng-model="form.District">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputLocality" class="col-sm-2 control-label">Населений пункт</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="inputLocality"  ng-model="form.Locality">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputStreet" class="col-sm-2 control-label">Вулиця</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="inputStreet"  ng-model="form.Street">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputBuilding" class="col-sm-2 control-label">Будинок</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="inputBuilding"  ng-model="form.Building">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputFlat" class="col-sm-2 control-label">Квартира</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="inputFlat"  ng-model="form.Flat">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputCalibratorName" class="col-sm-2 control-label">Повірник</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="inputCalibratorName"  ng-model="form.Flat">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" ng-click="saveData()" class="btn btn-success">Ініціювати повірку</button>
                        </div>
                    </div>
                    <span>{{form}}</span>
                </form>
</div>

