<div id="page-wrapper">

    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Додати повірку</h1>
        </div>
    </div>
    <form class="form-horizontal" role="form" ng-controller="AddingVerificationsController">
        <div class="form-group">
            <label for="surname" class="col-sm-2 control-label">Прізвище</label>

            <div class="col-sm-4">
                <input class="form-control" id="surname" ng-model="form.surname" required>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Ім'я</label>

            <div class="col-sm-4">
                <input class="form-control" id="name" ng-model="form.name" required>
            </div>
        </div>
        <div class="form-group">
            <label for="middleName" class="col-sm-2 control-label">По-батькові</label>

            <div class="col-sm-4">
                <input class="form-control" id="middleName" ng-model="form.middleName" required>
            </div>
        </div>
        <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">Номер телефону</label>

            <div class="col-sm-4">
                <input class="form-control" id="phone" ng-model="form.phone" required>
            </div>
        </div>

        <div class="form-group has-feedback">
            <label for="locality" class="col-sm-2 control-label">Населений пункт</label>

            <div class="col-sm-4">
                <input class="form-control" id="locality" ng-model="selectedLocality"
                       typeahead="locality as locality.designation for locality in localities | filter: $viewValue"
                       typeahead-on-select="receiveStreets(selectedLocality)"
                       typeahead-editable="false" required>
                <i class="form-control-feedback glyphicon glyphicon glyphicon-ok-sign"></i>

                <p class="help-block">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    Почніть вводити і виберіть відповідний варіант з випадаючого списку
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="street" class="col-sm-2 control-label">Вулиця</label>

            <div class="col-sm-4">
                <input class="form-control" id="street" ng-model="selectedStreet"
                       typeahead="street as street.designation for street in streets | filter: $viewValue"
                       typeahead-on-select="receiveBuildings(selectedStreet)"
                       typeahead-editable="false" required>
                <i class="form-control-feedback glyphicon glyphicon glyphicon-ok-sign"></i>

                <p class="help-block">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    Почніть вводити і виберіть відповідний варіант з випадаючого списку
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="building" class="col-sm-2 control-label">Будинок</label>

            <div class="col-sm-4">
                <input class="form-control" id="building" ng-model="selectedBuilding"
                       typeahead="building as building.designation for building in buildings | filter: $viewValue"
                       required>
                <i class="form-control-feedback glyphicon glyphicon glyphicon-ok-sign"></i>

                <p class="help-block">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    Почніть вводити і виберіть відповідний варіант з випадаючого списку
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="flat" class="col-sm-2 control-label">Квартира</label>

            <div class="col-sm-4">
                <input class="form-control" id="flat" ng-model="form.flat">
            </div>
        </div>

        <div class="form-group">
            <label for="calibrator" class="col-sm-2 control-label">Повірник</label>

            <div class="col-sm-4">
                <input class="form-control" id="calibrator" ng-model="selectedCalibrator"
                       typeahead="calibrator as calibrator.name for calibrator in calibrators | filter: $viewValue"
                       typeahead-editable="false" required>
                <i class="form-control-feedback glyphicon glyphicon glyphicon-ok-sign"></i>

                <p class="help-block">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    Почніть вводити і виберіть відповідний варіант з випадаючого списку
                </p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" ng-click="saveVerification(form)" class="btn btn-success">
                    Ініціювати повірку
                </button>
                <button type="button" class="btn btn-warning" ng-click="resetForm()">
                    Скинути форму
                </button>
            </div>

        </div>
        <span>{{form}}</span>
    </form>
</div>

