
<div id="page-wrapper">

    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Нові повірки</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Останні дані
                	</div>
                	<div class="panel-body">
                		
                   <div class="row">
                        <div class="col-md-12">
                            <table  ng-table="tableParams" template-pagination="custom/pager" class="table table-bordered table-hover" >
                                <thead>
                                <tr>
                                   <th>Дата початку процесу повірки</th>
                                    <th>Реєстраційний номер повірки</th>
                                    <th>Прізвище клієнта</th>
                                    <th>Вулиця, на якій проживає клієнт</th>
                                    <th>Дії<br/> <br/></th>
                                    <th>Відправити державному повірнику</th>
                                </tr>
                                </thead>
								 <tbody>
								 <tr>
								 <form name="form" class = "form-inline" ng-submit="doSearch()"> 
									
								 <td>
								 <div class="form-group">
									  <p class="input-group">
							              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="$parent.opened" min-date="minDate"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
							              <span class="input-group-btn">
							                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							              </span>
						          	  </p>
								</div>
								 </td>
								 <td> <div class="form-group">
								 	<input type="text" class="form-control" ng-model="idText">
								 </div>
								 </td>
								 <td> <div class="form-group">
								 	 <input type="text" class="form-control" ng-model="lastNameText">
								 </div>
								 </td>
								 <td> <div class="form-group">
								 	 <input type="text" class="form-control" ng-model="streetText">
								</div>
								 </td>
								 <td>
								  <div class="form-group">
								  <button class="btn btn-primary" type="submit">Search</button>
								  </div>
								 </td>
								 
								 </tr>
								 
								 
                                <tr ng-repeat="verification in $data" 
                                ng-class="{'unreadClass': verification.readStatus=='UNREAD'}">
                                    <td>{{ verification.initialDate | date}}</td>
                                    <td>{{ verification.id}}</td>
                                    <td>{{ verification.surname }}</td>
                                    <td>{{ verification.street }}</td>
                                <td class="text-center">
                                        <a popover="Детальніше"
                                           popover-trigger="mouseenter"
                                           ng-click="openDetails(verification.id, verification.initialDate, verification.readStatus)">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                       
                                    <td class="text-center">
                                        <input type="checkbox"
                                               ng-click="resolveVerificationId(verification.id)"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
							
   					 		
						 <script type="text/ng-template" id="custom/pager">
			<div> 			
				
			<p id="emptyError" ng-if="allIsEmpty && isClicked"
                               class="help-block col-md-3 col-md-offset-9">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                Оберіть хоча б одну пвірку
            </p>			
			<div class="col-md-3 col-md-offset-10 send-button">
               <button type="button" class="btn btn-primary"
					 ng-click="openSendingModal()">
                                    Надіслати
               </button>
            </div> 
						<ul class="pager ng-cloak">
            			<li ng-repeat="page in pages"
                			ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                			ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
            			</li>
           				<li>
               				<div class="btn-group">
                    			<button type="button" ng-class="{'active':params.count() == 5}" ng-click="params.count(5)" class="btn btn-default">5</button>
                    			<button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                   				<button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                   				<button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                			</div>
            			</li>
        			</ul>
			</div>
    	</script>
						 </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>

