<div id="page-wrapper" class="container-fluid">

    <div class="row header_row">
        <div class="col-md-12">
            <h1 class="page-header">Нові повірки</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-6">
            <button type="button" class="btn btn-primary"
                    ng-click="initiateVerification()">
                <span class="glyphicon glyphicon-plus"></span>{{'CREATE_NEW' | translate }}
            </button>

        </div>

        <div class="col-xs-6 col-md-6">
            <button type="button" class="btn btn-danger pull-right" ng-click="clearAll()"
                    ng-show="checkFilters() || checkDateFilters()">
                {{'CLEAR_ALL' | translate }}
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <br/>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <span> Останні дані</span>
                    <span class="pull-right">{{'VERIFS_FOUND' | translate }}: {{resultsCount}}</span>
                </div>

                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table show-filter="true" ng-table="tableParams" template-pagination="custom/pager"
                                       class="table table-bordered table-hover users_table">

                                    <tbody>
                                    <tr ng-repeat="verification in $data"
                                        ng-class="{'unreadClass': verification.readStatus=='UNREAD'}">
                                        <!--<td data-title="''" popover="Спочатку оберіть працівника" popover-trigger="{{ filterCells(verification.providerEmployee) }}">-->
                                        <td data-title="''">
                                            <div>
                                                <input type="checkbox"
                                                       ng-click="resolveVerificationId(verification.id)"
                                                       ng-disabled="!verification.providerEmployee"/>
                                            </div>
                                        </td>
                                        <td data-title="'INITIAL_DATE' | translate" class="datecolumn" sortable="'date'"
                                            filter="{ 'date': 'daterange' }">{{ verification.initialDate | date :
                                            'dd-MM-yyyy'}}
                                            <div ng-show="verification.processTimeExceeding>0"><b>{{'TIME_EXCEEDED' |
                                                translate}} {{verification.processTimeExceeding}} {{'DAYS' |
                                                translate}}</b>
                                            </div>
                                        </td>
                                        <td data-title="'VERIFICATION_ID' | translate" sortable="'id'"
                                            filter="{ 'id': 'text' }" ng-model="filters.id">{{ verification.id }}
                                        </td>
                                        <td data-title="'CLIENT_FULL_NAME' | translate" sortable="'client_last_name'"
                                            filter="{ 'client_full_name': 'text' }">{{ verification.fullName }}
                                        </td>
                                        <td data-title="'REGION' | translate" sortable="'region'"
                                            filter="{ 'region': 'text' }">{{ verification.region}}
                                        </td>
                                        <td data-title="'DISTRICT' | translate" sortable="'district'"
                                            filter="{ 'district': 'text' }">{{ verification.district}}
                                        </td>
                                        <td data-title="'LOCALITY' | translate" sortable="'locality'"
                                            filter="{ 'locality': 'text' }">{{ verification.locality}}
                                        </td>

                                        <td data-title="'CLIENT_STREET' | translate" sortable="'street'"
                                            filter="{ 'street': 'text' }">{{ verification.street }}
                                        </td>
                                        <td data-title="'STATUS' | translate" sortable="'status'"
                                            filter="{ 'status': 'status' }" width="200">{{ verification.status | translate }}
                                        </td>
                                        <td data-title="'EMPLOYEE_SINGLE' | translate"
                                            sortable="'employee_last_name'"
                                            filter="{ 'employee_last_name': 'text' }">{{ verification.providerEmployee}}
                                        </td>
                                        <td data-title="'ACTIONS' | translate" style="width: 12%"
                                            class="control_buttons">
                                            <i class="fa fa-info-circle info_icon"
                                               popover="Детальніше"
                                               popover-trigger="mouseenter"
                                               ng-click="openDetails(verification.id, verification.initialDate, verification.readStatus, verification.status)">
                                            </i>

                                            <i class="fa fa-user add_attached_user_icon"
                                               ng-show="!verification.providerEmployee"
                                               popover="Вибрати відповідальну особу"
                                               popover-trigger="mouseenter"
                                               ng-click="addProviderEmployee(verification.id,verification.providerEmployee)">
                                            </i>


                                            <i class="fa fa-times-circle remove_attached_user_icon"
                                               ng-show="verification.providerEmployee && !isEmployee"
                                               popover="Скасувати відповідальну особу"
                                               popover-trigger="mouseenter"
                                               ng-click="removeProviderEmployee(verification.id)">
                                            </i>

                                            <i class="fa fa-ban cancel_icon"
                                               popover="{{'REJECT' | translate}}" popover-trigger="mouseenter"
                                               ng-click="openMailModal(verification.id)">
                                            </i>

                                            <a popover="Download doc in 'docx' format"
                                               popover-trigger="mouseenter"
                                               href="{{'/doc/info/' + verification.id + '/docx'}}">
                                                <i class="fa fa-file-word-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <script type="text/ng-template" id="custom/pager">
                                <div>
                                    <ul class="pager ng-cloak">
                                        <li ng-repeat="page in pages"
                                            ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                                            ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                                            <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo;
                                                Previous</a>
                                            <a ng-switch-when="next" ng-click="params.page(page.number)"
                                               href="">Next &raquo;</a>
                                        </li>
                                        <li>
                                            <div class="btn-group">
                                                <button type="button" ng-class="{'active':params.count() == 5}"
                                                        ng-click="params.count(5)" class="btn btn-default">5
                                                </button>
                                                <button type="button" ng-class="{'active':params.count() == 10}"
                                                        ng-click="params.count(10)" class="btn btn-default">10
                                                </button>
                                                <button type="button" ng-class="{'active':params.count() == 25}"
                                                        ng-click="params.count(25)" class="btn btn-default">25
                                                </button>
                                                <button type="button" ng-class="{'active':params.count() == 50}"
                                                        ng-click="params.count(50)" class="btn btn-default">50
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </script>
                            <script type="text/ng-template" id="ng-table/filters/daterange.html">

                                <div class="input-group right-inner-addon" style="width: 100%">
                                    <i id="calendar_icon" class="glyphicon glyphicon-calendar"
                                       ng-click="showPicker($event)"></i>
                                    <input date-range-picker="opts" class="form-control date-picker" type="text"
                                           ng-model="myDatePicker.pickerDate" ng-change="doSearch()" options="opts"
                                           id="datepickerfield" readonly/>

                                        <span class="input-group-btn">
                                                  <button type="button" class="btn btn-default myGroupBtn"
                                                          ng-show="!isDateDefault()"
                                                          ng-click="clearDate()">
                                                      <i class="glyphicon glyphicon-remove"></i>
                                                  </button>
                                        </span>
                                </div>
                            </script>
                            <script type="text/ng-template" id="ng-table/filters/status.html">
                                <ui-select ng-model="selectedStatus.name" theme="select2" on-select='doSearch()' search-enabled="false"
                                           name="filter-status">   
                                    <ui-select-match placeholder="{{'STATUS_SELECT_PLACEHOLDER' | translate}}" allow-clear="true">
                                        {{$select.selected.label}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="status in statusData">
                                        <span ng-bind-html="status.label"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </script>
                            <p id="emptyError" ng-if="allIsEmpty && isClicked" class="help-block">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                Оберіть хоча б одну повірку
                            </p>

                            <div class="pull-left">
                                <button type="button" class="btn btn-primary"
                                        ng-click="openSendingModal()"><span class="glyphicon glyphicon-send"></span>
                                    Надіслати
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

