<div id="page-wrapper">

    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Працівники</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Додати працівника
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12"
                            ng-include="'/resources/app/calibrator/views/employee/adding-employee.html'">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
