<div id="page-wrapper" ng-show="accessLable">
    <h1>У вас немає права доступу до даної інформації</h1>
    <i class="fa fa-times-circle-o"></i>
</div>

<div id="page-wrapper" ng-controller="UsersControllerCalibrator" ng-show="verificator">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" translate="USERS"></h1>
            <button type="submit" class="btn btn-primary"
                    ng-click="openAddEmployeeModal()">{{'ADD_EMPLOYEE' | translate}}
            </button>
        </div>
    </div>

    <br/>

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span translate="EMPLOYEE"> </span>
                    <!--     <span class="pull-right"> На балансі {{totalEmployee}} працівників </span>-->
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <button ng-click="clearAll()" ng-show="isFilter()"
                                    class="btn btn-warning pull-right is-filter" translate="DROP_SEARCH">
                            </button>


                            <table show-filter="true" ng-table="tableParams" template-pagination="employee/pager"
                                   class="table table-bordered table-hover users_table">

                                <tbody>
                                <tr ng-repeat="user in $data" ng-class="{incorrect : !user.isAvaliable}">
                                    <td data-title="'USERNAME'|translate " sortable="'username'"
                                        filter="{ 'username': 'text' }">{{
                                        user.username }}
                                    </td>

                                    <td data-title="'ROLE' | translate"
                                        sortable="'userRoles'"
                                        filter="{ 'role': 'userType' }">
                                        {{ user.role }}
                                    </td>

                                    <td data-title="'FIRST_NAME'|translate" sortable="'firstName'"
                                        filter="{ 'firstName': 'text' }">{{
                                        user.firstName }}
                                    </td>
                                    <td data-title="'LAST_NAME'|translate" sortable="'lastName'"
                                        filter="{ 'lastName': 'text' }">{{
                                        user.lastName }}
                                    </td>
                                    <td data-title="'ORGANIZATIONS'|translate" sortable="'organization'"
                                        filter="{ 'organization': 'text' }">{{
                                        user.organization }}
                                    </td>
                                    <td data-title="'PHONE_NUMBER'|translate" sortable="'phone'"
                                        filter="{ 'phone': 'text' }">{{
                                        user.phone }}
                                    </td>
                                    <td data-title="'SECOND_PHONE'|translate" sortable="'secondPhone'"
                                            filter="{ 'secondPhone': 'text' }">{{
                                            user.secondPhone }}
                                        </td>
                                    <td data-title="'EMPLOYEE_CAPACITY'|translate">
                                        <a ng-if="user.calibratorTasks" ng-click="showCapacity(user.username)"
                                           class="cursor-pointer">
                                            {{user.calibratorTasks }}</a>
                                        <span ng-if="!user.calibratorTasks"> {{ user.calibratorTasks}}    </span>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary"
                                                ng-click="openEditEmployeeModal(user.username)">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <script type="text/ng-template" id="employee/pager">
                        <div>
                            <ul class="pager ng-cloak">
                                <li ng-repeat="page in pages"
                                    ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                                    ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                                    <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo;
                                        Previous</a>
                                    <a ng-switch-when="next" ng-click="params.page(page.number)"
                                       href="">Next &raquo;</a>
                                </li>
                                <li>
                                    <div class="btn-groups">
                                        <button type="button" ng-class="{'active':params.count() == 5}"
                                                ng-click="params.count(5)" class="btn btn-default">5
                                        </button>
                                        <button type="button" ng-class="{'active':params.count() == 10}"
                                                ng-click="params.count(10)" class="btn btn-default">10
                                        </button>
                                        <button type="button" ng-class="{'active':params.count() == 25}"
                                                ng-click="params.count(25)" class="btn btn-default">25
                                        </button>
                                        <button type="button" ng-class="{'active':params.count() == 50}"
                                                ng-click="params.count(50)" class="btn btn-default">50
                                        </button>
                                        <button type="button" ng-class="{'active':params.count() == 100}"
                                                ng-click="params.count(100)" class="btn btn-default">100
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </script>
                    <script type="text/ng-template" id="ng-table/filters/userType.html">
                        <ui-select ng-model="selectedUserType.name" theme="select2" on-select='doSearch()'
                                   search-enabled="false"
                                   name="filter-userType">
                            <ui-select-match placeholder="{{'STATUS_SELECT_PLACEHOLDER' | translate}}"
                                             allow-clear="true">
                                {{$select.selected.label}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="userType in userTypeData">
                                <span ng-bind-html="userType.label"></span>
                            </ui-select-choices>
                        </ui-select>
                    </script>

                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /#page-wrapper -->