<div class="modal-header-capacity">
    <h3 class="capacity-employee"> {{'INFO_ABOUT_EMPLOYEE_VERIFICATIONS' | translate}}</h3>
</div>

<div class="modal-body-capacity">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="col-md-2">{{'DATE_OF_BEGINNING' | translate}}</th>
            <th>{{'VERIFICATION_ID' | translate}}</th>
            <th>{{'CLIENT_LAST_NAME' | translate}}</th>
            <th>{{'CLIENT_FIRST_NAME' | translate}}</th>
            <th>{{'DISTRICT' | translate}}</th>
            <th class="col">{{'LOCALITY_TWO' | translate}}</th>
            <th>{{'CLIENT_STREET' | translate}}</th>
            <th>{{'PHONE_NUMBER' | translate}}</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="verification in verifications">

            <td>{{ verification.initialDate | date}}</td>
            <td class="verificationNumber">
                <span popover="{{verification.id}}" popover-trigger="mouseenter" popover-placement="center">
                    {{ verification.id}}</span></td>
            <td>{{ verification.surname }}</td>
            <td>{{ verification.name }}</td>
            <td>{{ verification.district }}</td>
            <td>{{ verification.locality }}</td>
            <td>{{ verification.street }}</td>
            <td>{{ verification.phone }}</td>

        </tr>
        </tbody>
    </table>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">{{'CLOSE' | translate}}</button>
</div>
