<html>
	<body>
		<span style="font-weight:bold">
			Привіт, $name!  Ваша заявка була успішно відправлена.
		</span>
		<br>Ви можете перевірити статус вашої заявки за наступним посиланням:
		<br>$protocol://$domain/#/application-status/$applicationId

		<br>Дякуємо, що користуєтесь нашим сервісом.
	</body>
</html>