<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Admin page</title>


<link
	href="/resources/assets/bower_components/bootstrap/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="/resources/assets/bower_components/font-awesome/css/font-awesome.min.css"
	rel="stylesheet">
<link href="/resources/assets/bower_components/ng-table/ng-table.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="/resources/assets/bower_components/chosen/chosen.min.css">
<link href="/resources/assets/css/admin.css" rel="stylesheet">


</head>

<body>

	<div id="adminModule" class="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation"
			style="margin-bottom: 0" ng-controller="TopNavBarController">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" style="color:beige">{{ 'HEAD_TITLE' | translate }}</a>
			</div>

			<div ng-controller="InternationalizationController">
				<ul class="nav navbar-nav">
					<li class="dropdown" dropdown on-toggle="toggled(open)"><a
						class="dropdown-toggle" dropdown-toggle> {{ 'LANG' | translate
							}} <span class="caret"></span>
					</a>

						<ul class="dropdown-menu">
							<li ng-repeat="lang in languages"><a
								ng-click="changeLanguage(lang.key)">{{ lang.name }}</a></li>
						</ul></li>
				</ul>
			</div>

			<!-- Nav bar top right links -->
			<ul class="nav navbar-top-links navbar-right">
				<li class="dropdown" dropdown>
					<a class="dropdown-toggle" dropdown-toggle>
						User name   <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
					</a>
					<ul class="dropdown-menu dropdown-user"  style="background-color: lightskyblue ">
						<li class="user-header bg-light-blue">
							<img src="/resources/assets/AdminLTE-master/img/avatar3.png" class="img-circle" alt="User Image" />
							<p>
								INPUT PARAM OF USER HERE
							</p>
						</li>
						<li class="user-footer" >
							<div  style="width: 100%">
								<a href="#" class="btn btn-default" style="color: #2C1919 ;width:230px">Profile</a>
							</div>
							<div  style="width: 100%">
								<a class="btn btn-default" style="color: #2C1919;width:230px"> {{ 'SETTINGS' | translate }}</a>
							</div>
							<div  style="width: 100%" >
								<a ng-click="logout()" class="btn btn-default" style="color: #2C1919 ;width:230px">{{ 'LOG_OUT' | translate
									}} </a>
							</div>
						</li>
					</ul>
				</li>
			</ul>

			<!-- Sidebar -->
			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">


					<ul class="nav" id="side-menu">
						<li ui-sref-active="active"><a ui-sref="main"><i
								class="icons fa fa-home fa-fw"></i>{{ 'MAIN_PANEL' | translate
								}}</a></li>
						<li ui-sref-active="active"><a ui-sref="organizations"><i
								class="icons fa fa-bank fa-fw"></i>{{ 'ORGANIZATIONS' |
								translate }}</a></li>
						<!--<li ui-sref-active="active"><a ui-sref="address"><i-->
								<!--class="icons fa fa-location-arrow fa-fw"></i>{{-->
								<!--'GUIDE_ADDRESSES' | translate }}</a></li>-->
						<li ui-sref-active="active"><a ui-sref="devices"><i
								class="icons fa fa-hdd-o fa-fw"></i>{{ 'COUNTERS' | translate }}</a>
						</li>
						<li ui-sref-active="active"><a ui-sref="users"><i
								class="icons fa fa-users"></i> {{'EMPLOYEE' | translate }}</a></li>
					</ul>

				</div>
				<!-- /.sidebar-collapse -->
			</div>
		</nav>

		<div ui-view></div>
	</div>
	<script type="text/javascript" data-main="/resources/app/admin/runApp"
		src="/resources/assets/bower_components/requirejs/require.js"></script>
	<script src="/resources/assets/bower_components/jquery/dist/jquery.js"	type="text/javascript"></script>
<!--	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>-->
	<script	src="/resources/assets/bower_components/chosen/chosen.jquery.min.js"
		type="text/javascript"></script>
	<script type="text/javascript">
		$(".chzn-select").chosen();
		$(".chzn-select-deselect").chosen({
			allow_single_deselect : true
		});
		$("#states").chosen();
	</script>
  </body>
</html>
