<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin page</title>


    <link href="/resources/assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/assets/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/resources/assets/bower_components/ng-table/ng-table.css" rel="stylesheet">
    <link rel="stylesheet" href="/resources/assets/bower_components/chosen/chosen.min.css">
    <link href="/resources/assets/css/admin.css" rel="stylesheet">
    <link href="/resources/assets/bower_components/angular-loading-bar/build/loading-bar.css" rel="stylesheet">
    <link rel="stylesheet" href="/resources/assets/css/provider.css"/>
    <link href="/resources/assets/bower_components/ui-select/dist/select.min.css" rel="stylesheet">
    <link href="/resources/assets/bower_components/select2/select2.css" rel="stylesheet">
    <link href="/resources/assets/bower_components/select2-bootstrap-css/select2-bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/resources/assets/bower_components/semantic/dist/semantic.min.css">


</head>

<body id="adminModule" class="wrapper">
<div id="content" class="ng-cloak">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation"
         style="margin-bottom: 0" ng-controller="TopNavBarController">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color:beige" translate="HEAD_TITLE"> </a>
        </div>

        <div ng-controller="InternationalizationController">
            <ul class="nav navbar-nav">
                <li class="dropdown" dropdown on-toggle="toggled(open)"><a
                        class="dropdown-toggle" dropdown-toggle translate="LANG"> <span class="caret"></span>
                </a>

                    <ul class="dropdown-menu">
                        <li ng-repeat="lang in languages"><a
                                ng-click="changeLanguage(lang.key)">{{ lang.name }}</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- Nav bar top right links -->
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown" dropdown>
                <a class="dropdown-toggle" style="width:250px; padding: 10px 15px; text-align: right" dropdown-toggle>
                    <div>
                        <label  translate="{{employee.firstName}} {{employee.lastName}}"></label>
                        <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
                    </div>
                </a>

                <ul class="dropdown-menu dropdown-user">
                    <div class="ui card" style="width:250px">
                        <div class="ui image center aligned">
                            <img src="/resources/assets/AdminLTE-master/img/User_icon.png"
                                 style="width: 250px;"
                                 alt="User Image"/>
                        </div>
                        <div class="content" style="padding:0;">
                            <div class="ui top attached secondary segment" style="padding:10px">
                                <label class="userlabel" translate="{{employee.firstName}} {{employee.lastName}} {{employee.middleName}} <br/> ({{employee.username}})"></label>
                            </div>
                            <div class="ui vertical menu" style="margin-top:0">
                                <div ui-sref="profile-info" class="link item middle center aligned">
                                    <p translate="PROFILE"></p>
                                </div>
                                <div class="link item middle center aligned">
                                    <p translate="SETTINGS"></p>
                                </div>
                                <div ng-click="logout()" class="link item middle center aligned">
                                    <p translate="LOG_OUT"> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- Sidebar -->

    <div class="row ng-cloak">
        <div class="col-md-3 menu_column">
            <div class="ui primary button" ng-class="{'toggle_button' : menuState}" ng-init="menuState = true"
                 ng-click="menuState = !menuState">
                <div ng-show="menuState"><i class="fa fa-chevron-left"
                                            style="font-size: 30px; vertical-align: middle"></i><span>Сховати</span>
                </div>
                <div ng-show="!menuState"><i class="fa fa-chevron-right"
                                             style="font-size: 30px;vertical-align: middle"></i><span>Показати</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row ng-cloak">
        <div ng-class="{'col-md-3 menu_column' : menuState, '': !menuState}">
            <div class="ui visible sticky visible very wide sidebar" ng-hide="!menuState" role="navigation">
                <ul class="nav ui vertical menu">
                    <li ui-sref-active="active"><a ui-sref="main"><i
                            class="icons fa fa-home fa-fw"></i> <span translate="MAIN_PANEL"> </span> </a></li>
                    <li ui-sref-active="active"><a ui-sref="organizations"><i
                            class="icons fa fa-bank fa-fw"></i> <span translate="ORGANIZATIONS"></span></a></li>
                    <!--<li ui-sref-active="active"><a ui-sref="address"><i-->
                    <!--class="icons fa fa-location-arrow fa-fw"></i>{{-->
                    <!--'GUIDE_ADDRESSES' | translate }}</a></li>-->
                    <li ui-sref-active="active"><a ui-sref="device-category"><i
                            class="icons fa fa-hdd-o fa-fw"></i> <span translate="COUNTERS"></span></a>
                    </li>
                    <li ui-sref-active="active"><a ui-sref="users"><i
                            class="icons fa fa-users"></i> <span translate="EMPLOYEE"></span></a></li>
                </ul>

            </div>
        </div>
        <div ng-class="{'col-md-12' : !menuState, 'col-md-9 main_column' : menuState}">
            <div ui-view></div>
        </div>
    </div>
</div>
<div id="loader-wrapper">
    <div id="loader" class="ui large loader"></div>
</div>
<script type="text/javascript" data-main="/resources/app/admin/runApp"
        src="/resources/assets/bower_components/requirejs/require.js"></script>
<script src="/resources/assets/bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
<!--	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>-->
<script src="/resources/assets/bower_components/chosen/chosen.jquery.min.js"
        type="text/javascript"></script>
<script type="text/javascript">
    $(".chzn-select").chosen();
    $(".chzn-select-deselect").chosen({
        allow_single_deselect: true
    });
    $("#states").chosen();
</script>
<script src="/resources/assets/js/loader-employee.js"></script>
</body>
</html>
