<section id="applicationStatusSection">

	<div class="container">

		<div class="row col-md-12 centered" ng-hide="isHideTitle">
			<h1>{{'APP_STATUS_TITLE' | translate}}</h1>
		</div>

		<div class="from-top" id="clientBox">
			<div ng-show="isShownForm" class="row col-md-10 centered">

				<form class="form-horizontal" ng-submit="getClientForm()">

					<div class="form-group">
						<label for="code" class="col-md-2 control-label">
							{{'APPLICATION_CODE' | translate}} </label>

						<div class="row">
							<div class="form-group col-md-8">
								<input class="form-control" id="code" ng-model="code" required>
							</div>

							<div class="form-group col-md-2">
								<button type="submit" class="btn btn-success text-uppercase">
									{{'SEARCH_BTN' | translate}}</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div ng-show="!isShownForm ">

				<div
					ng-class="{'successStyle' : verification.status != undefined,'notFoundStyle' :  status == 'REJECTED_TRASLATION' || status == 'NOTFOUND_TRANSLATION' }"
					role="alert">
					<button ng-click="closeAlert()" type="button"
						class="close btn-close-alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					{{'APPLICATION_STATUS' | translate}} : {{status | translate}}
					<div ng-show="rejectMessage != null">{{'REJECT_MESSAGE' | translate}} : {{rejectMessage}}</div>
					<div ng-show="expirationDate != null">{{'EXPIRATION_DATE' | translate}} : {{expirationDate}}</div>


				</div>
			</div>
			<div class="row " ng-if="verification.status">
				<div class="col-md-12">
					<table class="table table-striped table-bordered table-hover" >
						<thead>
							<tr>
								<th>Прізвище клієнта</th>
								<th>Ім'я</th>
								<th>Дата початку процесу повірки</th>
								<th>Населений пункт</th>
								<th>Вулиця</th>
								<th>Будинок</th>

								<th>Дії</th>
							</tr>
						</thead>

						<tbody>
							<tr >
								<td>{{ verification.lastName}}</td>
								<td>{{ verification.firstName}}</td>
								<td>{{ verification.initialDate | date}}</td>
								<td>{{ verification.locality }}</td>
								<td>{{ verification.street }}</td>
								<td>{{verification.building}}</td>
								<td class="text-center"><a popover="Детальніше"
									popover-trigger="mouseenter" ng-click="openDetails()"> <i
										class="fa fa-info-circle"></i>
								</a> <a ng-show="verification.status === 'TEST_OK'"
									popover="Завантажити тестові дані у форматі 'docx'"
									popover-trigger="mouseenter"
									href="{{'/doc/' + verification.id + '/docx'}}"> <i
										class="fa fa-file-word-o"></i>
								</a> <a ng-show="verification.status === 'TEST_OK'"
									popover="Завантажити тестові дані у форматі 'pdf'"
									popover-trigger="mouseenter"
									href="{{'/doc/' + verification.id + '/pdf'}}"> <i
										class="fa fa-file-pdf-o"></i>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row col-md-12 centered" ng-if="verification.status">
				<h1>{{'WIDGET_TITLE' | translate}}</h1>
			</div>


			<div class="container col-md-12 centered" ng-if="verification.status">

				<div class="progress">
					<div class="progress-bar progress-bar-striped active"
						role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0"
						aria-valuemax="100" style="width:{{progress}}%;">{{progress}}</div>
				</div>
			</div>
			<div class="container col-lg-12 " ng-if="verification.status">
				<table class="table table-hover">
					<tr id="arrowTr">
						<td><span
							class="glyphicon glyphicon-arrow-down col-sm-3 col-sm-offset-5"
							ng-show="verification.status == 'TEST_OK'"></span></td>
						<td><span
							class="glyphicon glyphicon-arrow-down col-sm-3 col-sm-offset-5"
							ng-show="verification.status == 'SENT'|| verification.status =='ACCEPTED'"></span></td>
						<td><span
							class="glyphicon glyphicon-arrow-down col-sm-3 col-sm-offset-5"
							ng-show="verification.status == 'IN_PROGRESS'"></span></td>
						<td><span
							class="glyphicon glyphicon-arrow-down col-sm-3 col-sm-offset-5"
							ng-show="verification.status == 'SENT_TO_VERIFICATOR'"></span></td>
					</tr>
					<tr >
						<td class="col-sm-3  glyphicon glyphicon-user"
							ng-class="{'progressStyle':verification.status == 'SENT'||verification.status =='IN_PROGRESS'||verification.status =='SENT_TO_VERIFICATOR' ||verification.status =='ACCEPTED','doneStyle':verification.status == 'TEST_OK'}" style=" border-style:  solid  double;border-color: #696969">  {{'CLIENT'| translate}}</td>
						<td class="col-sm-3  glyphicon glyphicon-tint"
							ng-class="{ 'doneStyle':verification.status == 'IN_PROGRESS'||verification.status =='SENT_TO_VERIFICATOR'||verification.status =='TEST_OK','progressStyle':verification.status == 'SENT'||verification.status =='ACCEPTED'}" style=" border-style:  solid  double;border-color: #696969;">  {{'PROVIDER' | translate}}</td>
						<td class="col-sm-3  glyphicon glyphicon-scale"
							ng-class="{'doneStyle':verification.status == 'SENT_TO_VERIFICATOR' ||verification.status == 'TEST_OK', 'notYetStyle':verification.status == 'SENT'||verification.status =='ACCEPTED','progressStyle':verification.status == 'IN_PROGRESS'}" style=" border-style:  solid  double;border-color: #696969">  {{'CALIBRATOR'| translate}}</td>
						<td class="col-sm-3  glyphicon glyphicon-home"
							ng-class="{'notYetStyle':verification.status == 'SENT'||verification.status =='IN_PROGRESS'||verification.status =='ACCEPTED' , 'progressStyle':verification.status == 'SENT_TO_VERIFICATOR','doneStyle':verification.status == 'TEST_OK'}" style=" border-style:  solid  double ; border-color: #696969">  {{
							'VERIFICATOR'| translate}}</td>

					</tr>
				</table>
			</div>
			
		<!-- 		Fix Me !!!!! Roman Chmelyck  -->
				<div ng-show="responseSuccess"  id="showFeedBackSuccess" class="row col-md-10 alert alert-success alert-dismissible centered" role="alert">
					<button ng-click="closeAlert()" type="button" class="close btn-close-alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
		
					<div class="text-center" ng-show="responseSuccess">
						{{'FEEDBACK_SENT' | translate}}
					</div>
	
				</div>
			
				<div ng-show="showSendingAlert"  id="showFeedBackSending"
				class="row col-md-10 alert alert-success alert-dismissible centered"
				role="alert">
				</div>	
					
			
		<div>
			<button type="button" class="btn btn-info btn-lg" data-toggle="modal"
				data-target="#myModal"  ng-click="feedbackModal(verification.id)" ng-if="verification.status">
				<span class=" glyphicon glyphicon-envelope"></span>  {{'FEEDBACK'| translate}}
			</button>
			<button type="button" class="btn btn-info btn-lg" data-toggle="modal"
				data-target="#myModal"  ng-click="createNew(verification.id)" ng-if="verification.status">
				<span class="glyphicon glyphicon-duplicate"></span>  {{'CREATE_BY_PATTERN'| translate}}
			</button>
		</div>	
	<!-- 		<button type="button" class="btn btn-info btn-lg" data-toggle="modal"
				data-target="#myModal" popover="Model chat"
				popover-trigger="mouseenter" ng-click="chatOpen()" ng-if="verification.status">
				<span class=" glyphicon glyphicon-envelope"></span> Open Feedback
				Modal
			</button>
			
		
 -->

			
		</div>
	</div>
</section>
