<section id="loginSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ 'SIGN_IN' | translate }}</h1>
            </div>
            <div class="col-lg-12">
                <form ng-submit="login()" class="form-signin centered">
                   <h5 id="incorrectLogin" ng-show="loginCorrect" ng-style="incorrectStyle">{{'INCORRECT_LOGIN' | translate}}</h5>                           
                    <input ng-model="loginForm.username" ng-style="incorrectStylePlaceholder" type="text" class="form-control"
                           placeholder="{{ 'USERNAME' | translate }}" required>             
                   <h5 id="incorrectPassword" ng-show="loginCorrect" ng-style="incorrectStyle">{{'INCORRECT_PASSWORD' | translate}}</h5> 
                    <input ng-model="loginForm.password" ng-style="incorrectStylePlaceholder" type="password" id="inputPassword" class="form-control"
                           placeholder="{{ 'PASSWORD' | translate }}" required>
                   <h5 id="incorrectLoginMessage" ng-show="loginCorrect" ng-style="incorrectStyleMessage">{{'INCORRECT' | translate}}</h5> 
                    <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'LOG_IN' | translate }}</button>
                </form>
            </div>
        </div>
    </div>
</section>