<div id="page-wrapper">

    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Архів повірок</h1>
        </div>
    </div>

   <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Останні дані
                </div>
                <div class="panel-body">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table  ng-table="tableParams" template-pagination="custom/pager" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                <td>
                                        <p class="input-group myDatePicker">
                                            <input type="text" class="form-control input-sm" datepicker-popup="{{format}}" ng-model="dt"
                                                   ng-change="changeDateToSend(dt)" is-open="openState.isOpen" min-date="minDate" datepicker-options="dateOptions"
                                                   date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>

											  <span class="input-group-btn ">
											     <button type="button" class="btn btn-default myGroupBtn"
                                                         ng-click="open($event)">
                                                     <i class="glyphicon glyphicon-calendar"></i>
                                                 </button>
											  </span>
                                        </p>
                                    </td>
                                    <td>
                                    
                                        <div class="btn-group">
                                            <input type="text" class="form-control input-sm" ng-model="search.idText"
                                                   ng-change=doSearch()>
 		 									<span id="searchclear" class="glyphicon glyphicon-remove-circle"
                                                  ng-show="search.idText.length"
                                                  ng-click="clearId()"></span>
                                        </div>

                                    </td>
                                        <td>
                                            <div class="btn-group">
                                                <input type="text" class="form-control input-sm"
                                                       ng-model="search.lastNameText" ng-change=doSearch()>
                                                <span id="searchclear" class="glyphicon glyphicon-remove-circle"
                                                      ng-show="search.lastNameText.length"
                                                      ng-click="clearLastName()"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group ">
                                                <input type="text" class="form-control input-sm"
                                                       ng-model="search.streetText" ng-change=doSearch()>
                                                <span id="searchclear" class="glyphicon glyphicon-remove-circle"
                                                      ng-show="search.streetText.length"
                                                      ng-click="clearStreet()"></span>
                                            </div>
                                        </td>
                                         <td>
                                           <select chosen class="form-control input-sm" width="'80%'" disable-search="true"  name="typeStreet" type="text"
										 			allow-single-deselect="true"	ng-model="search.status" class="form-control" ng-change="doSearch()">
												<option value="?">Not selected</option>
												<option value="SENT">Sent</option>
												<option value="ACCEPTED">Accepted</option>
												<option value="IN_PROGRESS">IN PROGRESS </option>
												<option value="TEST_PLACE_DETERMINED">TEST_PLACE_DETERMINED </option>
												<option value="SENT_TO_TEST_DEVICE">SENT_TO_TEST_DEVICE </option>
												<option value="TEST_COMPLETED">TEST_COMPLETED </option>
												<option value="SENT_TO_VERIFICATOR">SENT_TO_VERIFICATOR</option>
												<option value="TEST_OK">TEST_OK </option>
												<option value="TEST_NOK">TEST_NOK </option>
											</select>
                                         
                                        </td>
                                         <td>
                                            <div class="btn-group">
                                                <input type="text" class="form-control input-sm"
                                                       ng-model="search.employee" ng-change=doSearch()>
                                                <span id="searchclear" class="glyphicon glyphicon-remove-circle"
                                                      ng-show="search.employee.length"
                                                      ng-click="clearEmployee()"></span>
                                            </div>
                                        </td>
                                    <td class="text-center clearInput">
                                        <button class="btn btn-danger btn-sm" ng-click="clearAll()"
                                         ng-show="search.streetText.length && search.lastNameText.length && search.idText.length && search.status.length && search.employee.length">
                                          {{'CLEAR_ALL' | translate}}
                                        </button>
                                    </td>
                                    
                                 
                                </tr>
                                <tr>
                                    <th class="col-md-2">Дата початку процесу повірки</th>
                                    <th>Реєстраційний номер повірки</th>
                                    <th>Прізвище клієнта</th>
                                    <th>Вулиця, на якій проживає клієнт</th>
                                    <th>Статус повірки</th>
                                    <th>Відповідальна особа</th>
                                    <th>Дії</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr ng-repeat="verification in $data">
                                    <td>{{ verification.initialDate | date}}</td>
                                    <td class="verificationNumber">
                                        <span popover="{{verification.id}}" popover-trigger="mouseenter"  popover-placement="up">
                                        {{ verification.id}}
                                        </span>
                                    </td>
                                    <td>{{ verification.surname }}</td>
                                    <td>{{ verification.street }}</td>
                                    <td>{{ verification.status }}</td>
                                    <td>{{verification.stateVerificatorEmployee}}</td>
                                    <td class="text-center">
                                      	<img src="/resources/assets/button-icons/details.png"  popover="Детальніше" popover-trigger="mouseenter"
                                                ng-click="openDetails(verification.id, verification.initialDate)">
                                        </img>
                                        <a popover="Завантажити тестові дані у форматі 'docx'" popover-trigger="mouseenter"
                                           href="{{'/doc/info/' + verification.id + '/docx'}}">
                                            <i class="fa fa-file-word-o"></i>
                                      	</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                    	 <script type="text/ng-template" id="custom/pager">
                                <div>
                                     <ul class="pager ng-cloak">
                                        <li ng-repeat="page in pages"
                                            ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                                            ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                                            <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo;
                                                Previous</a>
                                            <a ng-switch-when="next" ng-click="params.page(page.number)"
                                               href="">Next &raquo;</a>
                                        </li>
                                        <li>
                                            <div class="btn-group">
                                                <button type="button" ng-class="{'active':params.count() == 5}"
                                                        ng-click="params.count(5)" class="btn btn-default">5
                                                </button>
                                                <button type="button" ng-class="{'active':params.count() == 10}"
                                                        ng-click="params.count(10)" class="btn btn-default">10
                                                </button>
                                                <button type="button" ng-class="{'active':params.count() == 25}"
                                                        ng-click="params.count(25)" class="btn btn-default">25
                                                </button>
                                                <button type="button" ng-class="{'active':params.count() == 50}"
                                                        ng-click="params.count(50)" class="btn btn-default">50
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </script>

                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
