<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<meta charset="utf-8">
</head>
<body>
	<div id="page-wrapper">

		<div class="row">
			<div class="col-md-12">
				<h1 class="page-header">Нові повірки</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">Останні дані</div>

					<div class="panel-body">
						<div class="row">
							<div class="col-md-offset-11">
								<label> Показати по <select ng-model="itemsPerPage"
									ng-change="onTableHandling()" class="form-control input-sm">
										<option value="1">1</option>
										<option value="3">3</option>
										<option value="5">5</option>
										<option value="10" selected>10</option>
										<option value="25">25</option>
										<option value="50">50</option>
										<option value="100">100</option>
								</select>
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<th>Дата початку процесу повірки</th>
											<th>Реєстраційний номер повірки</th>
											<th>Прізвище клієнта</th>
											<th>Вулиця, на якій проживає клієнт</th>
											<th>Дії<br /> <br /></th>
											<th class="text-center">Тест</th>
											<th>Відправити провайдеру</th>
										</tr>
									</thead>

									<tbody>
										<tr
											ng-repeat="verification in pageData | orderBy:'-initialDate'"
											  ng-class="{'unreadClass': verification.readStatus=='UNREAD'}">
											<td>{{ verification.initialDate | date}}</td>
											<td>{{ verification.id }}</td>
											<td>{{ verification.surname }}</td>
											<td>{{ verification.street }}</td>
											<td class="text-center">
												<button type="button" class="btn btn-success btn-sm btn-block"
														ng-click="openDetails(verification.id, verification.initialDate, verification.readStatus)">
													<span class="glyphicon glyphicon-question-sign"></span>Детальніше</button>
											<td class="text-center">
											 <button type="button" class="btn btn-success btn-sm btn-block"
											 ng-click="testReview(verification.id)">
											 <span class="glyphicon glyphicon-search"></span>
                                          Переглянути тест
                                          </button>
										  <td class="text-center">
												<input type="checkbox"
													   ng-click="resolveVerificationId(verification.id)"/>
										  </td>
										</tr>
									</tbody>
								</table>
								<div class="pull-center">
								<div class="btn-group">
        						<button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="glyphicon glyphicon-send"></span> Надіслати <span class="caret"></span></button>
							        <ul class="dropdown-menu">
							            <li><a  ng-click="openSendingModal()">
										Тест придатний <span class="glyphicon glyphicon-thumbs-up"></span></a></li>
							            <li><a ng-click="openSendingModalNotOK()">
										Тест непридатний <span class="glyphicon glyphicon-thumbs-down"></a></li>
							            <li class="divider"></li>
							            <li><button type="button" class="btn btn-warning btn-sm btn-block"
											 ng-click="testReview(calibrationTestId)">
											 <span class="glyphicon glyphicon-search"></span>
                                          Переглянути тест, ще раз
                                          </button></li>
							        </ul>
							    </div>
							    </div>
								<div class="pull-left">
								<p id="emptyError" ng-if="allIsEmpty && isClicked"
								   class="help-block pull-right">
									<span class="glyphicon glyphicon-exclamation-sign"></span>
									Оберіть хоча б одну пoвірку
								</p>
								</div>
								<!--  div class="pull-right">
									<div class="btn-group">
									<button type="button" class="btn btn-primary"
										ng-click="openSendingModal()"><span class="glyphicon glyphicon-send"></span>
										Тест придатний</button>
								
									<button type="button" class="btn btn-danger" ng-click="openSendingModalNotOK()">
										<span class="glyphicon glyphicon-send"></span>
										Тест непридатний</button>
									</div>
								</div-->
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<pagination total-items="totalItems" ng-model="currentPage"
									max-size="5" boundary-links="true" rotate="false"
									ng-change="onTableHandling()" items-per-page="itemsPerPage"></pagination>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
