<div class="modal-header">
    <h3 class="modal-title">{{'FILL_IN_INFORMATION_ABOUT_CATEGORY_DEVICES'
        | translate}}</h3>
</div>

<div class="modal-body">
    <form name="editCategoryForm" id="editCategoryForm" role="form" ng-submit="onEditCategoryFormSubmit()"
          class="form-group" novalidate>
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{'GENERAL_INFORMATION' | translate}}
            </div>
            <div class="panel-body">
                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="number">
                        {{'COUNTER_NUMBER' | translate }}
                    </label>

                    <div class="col-md-8">
                        <input type="text" ng-model="$root.countersCategory.number" id="number"
                               ng-pattern="CATEGORY_DEVICE_CODE" name="number"
                               class="form-control" popover="Введіть код лічильника"
                               popover-trigger="focus" popover-placement="top" required>
						 	<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="editCategoryForm.number.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="editCategoryForm.number.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'ORGANIZATION_NAME_LENGTH' | translate }}
                        </p>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="deviceType" class="control-label col-md-4">
                        {{'COUNTER_KIND' | translate}}
                    </label>

                    <div class="col-md-8">
                        <ui-select style="display: block;" ng-model="defaultData.deviceType" theme="select2"
                                   search-enabled="false" name="deviceType" id="deviceType" required>
                            <ui-select-match placeholder="{{'STATUS_SELECT_PLACEHOLDER_DEVICES' | translate}}"
                                             allow-clear="true">
                                {{$select.selected.label}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="deviceType in deviceTypeData">
                                <span ng-bind-html="deviceType.label"></span>
                            </ui-select-choices>
                        </ui-select>

                        <p class="help-block" ng-if="editCategoryForm.deviceType.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'TYPEAHEAD_ERROR' | translate}}
                        </p>
                    </div>
                </div>

                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="deviceName">
                        {{'DEVICE_NAME' |translate }}
                    </label>

                    <div class="col-md-8">
                        <input id="deviceName" name="deviceName" class="form-control"
                               type="text" ng-model="$root.countersCategory.deviceName"
                               ng-pattern="FIRST_LAST_NAME_REGEX"
                               popover="{{'ALPHABETIC_INFO' | translate}}"
                               popover-trigger="focus" popover-placement="top" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="editCategoryForm.deviceName.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="editCategoryForm.deviceName.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'INCORRECT_VALUE_LAST_NAME_ADD_EMPLOYEE' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-md-10">
                <button type="submit" class="btn btn-success">
                    {{'EDIT' | translate}}
                </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-danger pull-right" ng-click="closeModal()">
                    {{'CLOSE' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>