<div class="modal-header">
    <h3 class="modal-title">{{'FILL_IN_INFORMATION_ABOUT_COUNTER_TYPE'
        | translate}}</h3>
</div>

<div class="modal-body modal-padding">
    <form name="addCounterTypeForm" id="addCounterTypeForm" role="form" ng-submit="onAddCounterTypeFormSubmit()"
          class="form-group" novalidate>
        <div class="form-group row row-fields" show-errors>
            <label class="control-label col-md-4" for="name">
                {{'COUNTER_NAME' | translate }}
            </label>

            <div class="col-md-8">
                <ui-select class="form-control" type="text" theme="select2"
                           ng-model="addCounterTypeFormData.name"
                           on-select="setDeviceId(addCounterTypeFormData.name)"
                           name="name" id="name" required>
                    <ui-select-match placeholder="{{'SELECT_NAME_OF_COUNTER' | translate}}" allow-clear="true">
                        {{$select.selected.designation}}
                    </ui-select-match>
                    <ui-select-choices repeat="name in names | filter: $select.search">
                        <span ng-bind-html="name.designation"></span>
                    </ui-select-choices>
                </ui-select>

                <p class="help-block" ng-if="addCounterTypeForm.name.$error.required || addCounterTypeFormData.name === null">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'TYPEAHEAD_ERROR' | translate}}
                </p>
            </div>
        </div>

        <div class="form-group row row-fields" show-errors>
            <label for="symbol" class="control-label col-md-4">
                {{'SYMBOL' | translate}}
            </label>

            <div class="col-md-8">
                <input id="symbol" name="symbol" class="form-control"
                       type="text" ng-model="addCounterTypeFormData.symbol"
                       ng-pattern="SYMBOL_REGEX" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                <p class="help-block" ng-if="addCounterTypeForm.symbol.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>

                <p class="help-block" ng-if="addCounterTypeForm.symbol.$error.pattern">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'INCORRECT_VALUE_SYMBOL' | translate }}
                </p>
            </div>
        </div>

        <div class="form-group row row-fields" show-errors>
            <label class="control-label col-md-4" for="standardSize">
                {{'STANDARD_SIZE' | translate }}
            </label>

            <div class="col-md-8">
                <ui-select class="form-control" type="text" theme="select2"
                           ng-model="addCounterTypeFormData.standardSize"
                           name="standardSize" id="standardSize" required>
                    <ui-select-match placeholder="{{'SELECT_STANDARD_SIZE' | translate}}" allow-clear="true">
                        {{$select.selected}}
                    </ui-select-match>
                    <ui-select-choices repeat="standardSize in standardSizes | filter: $select.search">
                        <span ng-bind-html="standardSize"></span>
                    </ui-select-choices>
                </ui-select>

                <p class="help-block" ng-if="addCounterTypeForm.standardSize.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'TYPEAHEAD_ERROR' | translate}}
                </p>
            </div>
        </div>

        <div class="form-group row row-fields" show-errors>
            <label for="manufacturer" class="control-label col-md-4">
                {{'MANUFACTURER' | translate}}
            </label>

            <div class="col-md-8">
                <input id="manufacturer" name="manufacturer" class="form-control"
                       type="text" ng-model="addCounterTypeFormData.manufacturer"
                       ng-pattern="MANAFUCTURER_REGEX" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                <p class="help-block" ng-if="addCounterTypeForm.manufacturer.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>

                <p class="help-block" ng-if="addCounterTypeForm.manufacturer.$error.pattern">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'INCORRECT_VALUE_MANUFACTURER' | translate }}
                </p>
            </div>
        </div>

        <div class="form-group row row-fields" show-errors>
            <label for="calibrationInterval" class="control-label col-md-4">
                {{'INSPECTION_INTERVAL' | translate}}
            </label>

            <div class="col-md-8">
                <input id="calibrationInterval" name="calibrationInterval" class="form-control"
                       type="number" ng-model="addCounterTypeFormData.calibrationInterval"
                       min="1" max="4" required>
                <span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                <p class="help-block" ng-if="addCounterTypeForm.calibrationInterval.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>

                <p class="help-block"
                   ng-if="addCounterTypeForm.calibrationInterval.$error.min || addCounterTypeForm.calibrationInterval.$error.max">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'INCORRECT_VALUE_INSPECTION_INTERVAL' | translate }}
                </p>
            </div>
        </div>

        <div class="form-group row row-fields" show-errors>
            <label for="yearIntroduction" class="control-label col-md-4">
                {{'YEAR_INSPECTION_INTERVAL' | translate}}
            </label>

            <div class="col-md-8">
                <input id="yearIntroduction" name="yearIntroduction" class="form-control"
                       type="number" ng-model="addCounterTypeFormData.yearIntroduction"
                       ng-pattern="YEAR_REGEX" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                <p class="help-block" ng-if="addCounterTypeForm.yearIntroduction.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>

                <p class="help-block" ng-if="addCounterTypeForm.yearIntroduction.$error.pattern">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'INCORRECT_VALUE_YEAR_INSPECTION_INTERVAL' | translate }}
                </p>
            </div>
        </div>

        <div class="form-group row row-fields" show-errors>
            <label for="gost" class="control-label col-md-4">
                {{'GOST' | translate}}
            </label>

            <div class="col-md-8">
                <input id="gost" name="gost" class="form-control"
                       type="text" ng-model="addCounterTypeFormData.gost"
                       ng-pattern="GOST_REGEX" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                <p class="help-block" ng-if="addCounterTypeForm.gost.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>

                <p class="help-block" ng-if="addCounterTypeForm.gost.$error.pattern">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'INCORRECT_VALUE_GOST' | translate }}
                </p>
            </div>
        </div>
        <hr>
        <div class="form-group row row-buttons">
            <button type="submit" class="btn btn-success col-md-2 col-sm-12 col-xs-12 col-lg-2">
                {{'ADD' | translate}}
            </button>
            <button type="reset" class="btn btn-warning col-md-3 col-sm-12 col-xs-12 col-lg-3"
                    ng-click="resetAddCounterTypeForm()">
                {{'CLEAR_FORM' | translate }}
            </button>
            <div class="col-md-5 col-sm-0 col-xs-0 col-lg-5">
                <p></p>
            </div>
            <button class="btn btn-danger col-md-2 col-sm-12 col-xs-12 col-lg-2" ng-click="closeModal()">{{'CLOSE'
                | translate}}
            </button>
        </div>
    </form>
</div>