<div class="modal-header">
    <h3 class="modal-title">{{'FILL_IN_INFORMATION_ABOUT_EQUIPMENT' | translate}}</h3>
</div>

<div class="modal-body">

    <form name="eqipmentForm" novalidate>

        <hr/>

        <div class="form-group row" show-errors>
            <label for="sphereOfApplication" class="control-label col-md-4">
                {{'SPHERE_OF_APPLICATION' | translate}}
            </label>

            <div class="col-md-8">
                <ui-select class="form-control" type="text" theme="select2"
                           ng-model="adminFormData.sphereOfApplication"
                           on-select="receiveDistricts(adminFormData.sphereOfApplication)"
                           name="sphereOfApplication" id="sphereOfApplication" required>
                    <ui-select-match placeholder="{{'SPHERE_OF_APPLICATION' | translate}}" allow-clear="true">
                        {{$select.selected.designation}}
                    </ui-select-match>
                    <ui-select-choices repeat="sphereOfApplication in spheresOfApplication | filter: $select.search">
                        <span ng-bind-html="sphereOfApplication.designation"></span>
                    </ui-select-choices>
                </ui-select>

                <p class="help-block" ng-if="adminForm.sphereOfApplication.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>
            </div>
        </div>

        <div class="form-group row" show-errors>
            <label class="control-label col-md-4" for="name">
                {{'INSTALLATION_CODE' | translate }}
            </label>

            <div class="col-md-8">
                <input type="text" ng-model="adminFormData.name" id="installationCode"
                       ng-pattern="ORGANIZATION_NAME_REGEX" name="installationCode"
                       class="form-control" popover="Введіть код ЄДРПОУ/ІПН суб’єкта, якому належить установка"
                       popover-trigger="focus" popover-placement="top" required>
						 	<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                <p class="help-block" ng-if="adminForm.name.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>

                <!-- <p class="help-block" ng-if="adminForm.name.$error.pattern">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'ORGANIZATION_NAME_LENGTH' | translate }}
                </p> -->
            </div>
        </div>

        <div class="form-group row" show-errors>
            <label class="control-label col-md-4" for="symbol">
                {{'SYMBOL' | translate }}
            </label>

            <div class="col-md-8">
                <input type="text" ng-model="adminFormData.name" id="symbol"
                       name="symbol"
                       class="form-control" popover="Введіть умовне позначення (наприклад – АС-П)"
                       popover-trigger="focus" popover-placement="top" required>
						 	<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                <p class="help-block" ng-if="adminForm.name.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>

                <!-- <p class="help-block" ng-if="adminForm.name.$error.pattern">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'ORGANIZATION_NAME_LENGTH' | translate }}
                </p> -->
            </div>
        </div>

        <div class="form-group row" show-errors>
            <label class="control-label col-md-4" for="manufacturerNumber">
                {{'MANUFACTURER_NUMBER' | translate }}
            </label>

            <div class="col-md-8">
                <input type="text" ng-model="adminFormData.manufacturerNumber" id="manufacturerNumber"
                       name="manufacturerNumber"
                       class="form-control" popover="Введіть заводський № (наприклад – 024-12-11-1А-10-АВ-54)"
                       popover-trigger="focus" popover-placement="top" required>
						 	<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                <p class="help-block" ng-if="adminForm.manufacturerNumber.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>
            </div>
        </div>

        <div class="form-group row" show-errors>
            <label class="control-label col-md-4" for="contactPerson">
                {{'CONTACT_PERSON_FULL_NAME' | translate }}
            </label>

            <div class="col-md-8">
                <input type="text" ng-model="adminFormData.contactPerson" id="contactPerson"
                       name="contactPerson"
                       class="form-control" popover="Введіть ПІБ контактної особи (наприклад, Романюк Роман Романович)"
                       popover-trigger="focus" popover-placement="top" required>
						 	<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                <p class="help-block" ng-if="adminForm.contactPerson.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>
            </div>
        </div>

        <div class="form-group row" show-errors>
            <label class="control-label col-md-4" for="phoneNumber">
                {{'PHONE_NUMBER' | translate }}
            </label>

            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon-code">+380</span>
                    <input id="phoneNumber" name="phoneNumber" type="text"
                           class="form-control col-md-8 " ng-model="adminFormData.phone"
                           placeholder="XXXXXXXXX" ng-pattern="PHONE_REGEX"
                           popover="Введіть номер телефону контактної особи"
                           popover-trigger="focus" popover-placement="top"
                           required>
                </div>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                <p class="help-block" ng-if="adminForm.phoneNumber.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>

                <p class="help-block" ng-if="adminForm.phoneNumber.$error.pattern">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'PHONE_NUMBER_ERROR' | translate}}
                </p>
            </div>
        </div>

        <div class="form-group row" show-errors>
            <label class="control-label col-md-4" for="validUntil">
                {{'VALID_UNTIL' | translate }}
            </label>

            <div class="col-md-8">
                <input type="date" ng-model="organizationFormData.validUntil" id="validUntil"
                       name="validUntil"
                       class="form-control" required>
						 	<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                <p class="help-block" ng-if="organizationForm.validUntil.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>
            </div>
        </div>

        <div class="form-group row" show-errors>
            <label for="installationType" class="control-label col-md-4">
                {{'INSTALLATION_TYPE' | translate}}
            </label>

            <div class="col-md-8">
                <ui-select class="form-control" type="text" theme="select2"
                           ng-model="adminFormData.sphereOfApplication"
                           on-select="receiveDistricts(adminFormData.sphereOfApplication)"
                           name="installationType" id="installationType" required>
                    <ui-select-match placeholder="{{'INSTALLATION_TYPE' | translate}}" allow-clear="true">
                        {{$select.selected.designation}}
                    </ui-select-match>
                    <ui-select-choices repeat="sphereOfApplication in spheresOfApplication | filter: $select.search">
                        <span ng-bind-html="sphereOfApplication.designation"></span>
                    </ui-select-choices>
                </ui-select>

                <p class="help-block" ng-if="adminForm.sphereOfApplication.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>
            </div>
        </div>

        <div class="form-group row" show-errors>
            <label class="control-label col-md-4" for="email">
                {{'EMAIL' | translate }}
            </label>

            <div class="col-md-8">
                <input id="email" name="email" type="email" class="form-control"
                       ng-model="adminFormData.email" ng-pattern="EMAIL_REGEX"
                       popover="Введіть email адресу організації"
                       popover-trigger="focus" popover-placement="top"
                       placeholder="example@gmail.com" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                <p class="help-block" ng-if="adminForm.email.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>

                <p class="help-block" ng-if="adminForm.email.$error.pattern">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'EMAIL_ERROR' | translate}}<i>example@gmail.com</i>
                </p>
            </div>
        </div>

        <div class="form-group row" show-errors>
            <label class="control-label col-md-4" for="methodsOfVerification">
                {{'METHODS_OF_VERIFICATION' | translate }}
            </label>

            <div class="col-md-8">
                <input type="text" ng-model="adminFormData.methodsOfVerification" id="methodsOfVerification"
                       name="methodsOfVerification"
                       class="form-control" popover="Введіть методику повірки (наприклад, МПУ 333/03-2013)"
                       popover-trigger="focus" popover-placement="top" required>
						 	<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                <p class="help-block" ng-if="adminForm.methodsOfVerification.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="form-group col-md-10">
                <button type="submit" class="btn btn-success"
                        ng-click="onEquipmentFormSubmit()">{{'ADD' | translate}}
                </button>
                <a class="btn btn-warning" ng-click="resetEquipmentForm()">{{'CLEAR_FORM' | translate }}</a>
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-danger pull-right" ng-click="closeModal()">{{'CLOSE' | translate}}</button>
            </div>
        </div>

    </form>
</div>