<div class="modal-header">
    <h3 class="modal-title">{{'FILL_IN_INFORMATION_ABOUT_EQUIPMENT'
        | translate}}</h3>
</div>

<div class="modal-body modal-padding">

    <form name="equipmentForm" id="equipmentForm" role="form" ng-submit="onequipmentFormSubmit()"
          class="form-group" novalidate>

        <div class="panel panel-primary">
            <div class="panel-heading">{{'GENERAL_INFORMATION' |
                translate}}
            </div>
            <div class="panel-body">

                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="sphereOfApplication">
                        {{'SPHERE_OF_APPLICATION' | translate }}
                    </label>

                    <div class="col-md-8">
                        <!--<select multiple chosen type="text" class="form-control" id="counters" name="counters"
                                ng-model="equipmentFormData.counters" data-placeholder="Оберіть тип лічильників"
                                ng-options="counter as counter.label for counter in counterData"
                                popover="Введіть тип лічильників організації" popover-trigger="focus" popover-placement="top"
                                required>
                        </select> <span class="form-control-feedback glyphicon
							form-horizontal glyphicon glyphicon-ok-sign"></span>
                        -->
                        <ui-select multiple required theme="select2" id="sphereOfApplication"
                                   name="sphereOfApplication" class="form-control"
                                   ng-model="equipmentFormData.sphereOfApplication">
                            <ui-select-match ui-disable-choice="$item in equipmentFormData.sphereOfApplication">
                                {{$item.label}}
                            </ui-select-match>
                            <ui-select-choices repeat="counter in counterData | filter: $select.search">
                                <div ng-bind-html="counter.label"></div>
                            </ui-select-choices>
                        </ui-select>
                        <p class="help-block" ng-if="equipmentForm.sphereOfApplication.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>
                    </div>
                </div>

                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="installationCode">
                        {{'INSTALLATION_CODE' | translate }}
                    </label>

                    <div class="col-md-8">
                        <input type="text" ng-model="equipmentFormData.installationCode" id="installationCode"
                               ng-pattern="INSTALLATION_CODE_REGEX" name="installationCode"
                               class="form-control" popover="Введіть код ЄДРПОУ/ІПН суб’єкта, якому належить установка"
                               popover-trigger="focus" popover-placement="top" required>
						 	<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="equipmentForm.installationCode.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="equipmentForm.installationCode.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{ INSTALLATION_CODE_REGEX_ERROR }}
                        </p>
                    </div>
                </div>

                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="symbol">
                        {{'SYMBOL' | translate }}
                    </label>

                    <div class="col-md-8">
                        <input type="text" ng-model="equipmentFormData.symbol" id="symbol"
                               ng-pattern="ORGANIZATION_NAME_REGEX" name="symbol"
                               class="form-control" popover="Введіть умовне позначення (наприклад – АС-П)"
                               popover-trigger="focus" popover-placement="top" required>
						 	<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="equipmentForm.symbol.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="equipmentForm.name.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'ORGANIZATION_NAME_LENGTH' | translate }}
                        </p>
                    </div>
                </div>

                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="manufacturerNumber">
                        {{'MANUFACTURER_NUMBER' | translate }}
                    </label>

                    <div class="col-md-8">
                        <input type="text" ng-model="equipmentFormData.manufacturerNumber" id="manufacturerNumber"
                               ng-pattern="ORGANIZATION_NAME_REGEX" name="manufacturerNumber"
                               class="form-control" popover="Введіть умовне позначення (наприклад – АС-П)"
                               popover-trigger="focus" popover-placement="top" required>
						 	<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="equipmentForm.manufacturerNumber.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="equipmentForm.name.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'ORGANIZATION_NAME_LENGTH' | translate }}
                        </p>
                    </div>
                </div>

                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="fullName">
                        {{'CONTACT_PERSON_FULL_NAME' | translate }}
                    </label>

                    <div class="col-md-8">
                        <input type="text" ng-model="equipmentFormData.fullName" id="fullName"
                               ng-pattern="ORGANIZATION_NAME_REGEX" name="fullName"
                               class="form-control" popover="Введіть ПІБ контактної особи"
                               popover-trigger="focus" popover-placement="top" required>
						 	<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="equipmentForm.fullName.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="equipmentForm.name.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'ORGANIZATION_NAME_LENGTH' | translate }}
                        </p>
                    </div>
                </div>

                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="phoneNumber">
                        {{'PHONE_NUMBER' | translate }}
                    </label>

                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon-code">+380</span>
                            <input id="phoneNumber" name="phoneNumber" type="text"
                                   class="form-control col-md-8 " ng-model="equipmentFormData.phone"
                                   placeholder="XXXXXXXXX" ng-pattern="PHONE_REGEX"
                                   popover="Введіть номер телефону організації"
                                   popover-trigger="focus" popover-placement="top"
                                   required>
                        </div>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="equipmentForm.phoneNumber.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="equipmentForm.phoneNumber.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'PHONE_NUMBER_ERROR' | translate}}
                        </p>
                    </div>
                </div>

                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="validUntil">
                        {{'VALID_UNTIL' | translate }}
                    </label>

                    <div class="col-md-8">
                        <input type="date" ng-model="equipmentFormData.validUntil" id="validUntil"
                               name="validUntil"
                               class="form-control" required>
						 	<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="equipmentForm.symbol.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="equipmentForm.name.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'ORGANIZATION_NAME_LENGTH' | translate }}
                        </p>
                    </div>
                </div>

                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="installationType">
                        {{'INSTALLATION_TYPE' | translate }}
                    </label>

                    <div class="col-md-8">
                        <!--<select multiple chosen type="text" class="form-control" id="counters" name="counters"
                                ng-model="equipmentFormData.counters" data-placeholder="Оберіть тип лічильників"
                                ng-options="counter as counter.label for counter in counterData"
                                popover="Введіть тип лічильників організації" popover-trigger="focus" popover-placement="top"
                                required>
                        </select> <span class="form-control-feedback glyphicon
							form-horizontal glyphicon glyphicon-ok-sign"></span>
                        -->
                        <ui-select multiple required theme="select2" id="installationType"
                                   name="installationType" class="form-control"
                                   ng-model="equipmentFormData.installationType">
                            <ui-select-match ui-disable-choice="$item in equipmentFormData.installationType">
                                {{$item.label}}
                            </ui-select-match>
                            <ui-select-choices repeat="counter in counterData | filter: $select.search">
                                <div ng-bind-html="counter.label"></div>
                            </ui-select-choices>
                        </ui-select>
                        <p class="help-block" ng-if="equipmentForm.installationType.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>
                    </div>
                </div>

                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="email">
                        {{'EMAIL' | translate }}
                    </label>

                    <div class="col-md-8">
                        <input id="email" name="email" type="email" class="form-control"
                               ng-model="equipmentFormData.email" ng-pattern="EMAIL_REGEX"
                               popover="Введіть email адресу організації"
                               popover-trigger="focus" popover-placement="top"
                               placeholder="example@gmail.com" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="equipmentForm.email.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="equipmentForm.email.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'EMAIL_ERROR' | translate}}<i>example@mail.com</i>
                        </p>
                    </div>
                </div>

                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="methodsOfVerification">
                        {{'METHODS_OF_VERIFICATION' | translate }}
                    </label>

                    <div class="col-md-8">
                        <input type="text" ng-model="equipmentFormData.methodsOfVerification" id="methodsOfVerification"
                               ng-pattern="ORGANIZATION_NAME_REGEX" name="methodsOfVerification"
                               class="form-control" popover="Введіть код ЄДРПОУ/ІПН суб’єкта, якому належить установка"
                               popover-trigger="focus" popover-placement="top" required>
						 	<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="equipmentForm.methodsOfVerification.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="equipmentForm.name.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'ORGANIZATION_NAME_LENGTH' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row row-buttons">
            <button type="submit" class="btn btn-success col-md-2 col-sm-12 col-xs-12 col-lg-2">
                {{'ADD' | translate}}
            </button>
            <input type="reset" class="btn btn-warning col-md-2 col-sm-12 col-xs-12 col-lg-2"
                   value="{{'CLEAR_FORM' | translate }}" ng-click="resetequipmentForm()">

            <div class="col-md-6 col-sm-0 col-xs-0 col-lg-6">
                <p>

                </p>
            </div>
            <input type="button" class="btn btn-danger col-md-2 col-sm-12 col-xs-12 col-lg-2 pull-right"
                   value="{{'CLOSE' | translate}}" ng-click="closeModal()">
        </div>

    </form>

</div>