<div class="modal-header">
    <h3 class="modal-title">{{'FILL_IN_INFORMATION_ABOUT_ORGANIZATION'
        | translate}}</h3>
</div>

<div class="modal-body">

    <form name="organizationForm" id="organizationForm" role="form" ng-submit="onOrganizationFormSubmit()"
          class="form-group" novalidate>
        <div class="panel panel-primary">
            <div class="panel-heading">{{'GENERAL_INFORMATION' |
                translate}}
            </div>
            <div class="panel-body">
                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="name">
                        {{'ORGANIZATION_NAME_ADMIN' | translate }}
                    </label>

                    <div class="col-md-8">
                        <input type="text" ng-model="organizationFormData.name" id="name"
                               ng-pattern="ORGANIZATION_NAME_REGEX" name="name"
                               class="form-control" popover="Введіть назву вашої організації"
                               popover-trigger="focus" popover-placement="top" required>
						 	<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="organizationForm.name.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="organizationForm.name.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'ORGANIZATION_NAME_LENGTH' | translate }}
                        </p>
                    </div>
                </div>

                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="types">
                        {{'ORGANIZATION_TYPE_ADMIN' | translate }}
                    </label>

                    <div class="col-md-8">
                        <!--<select multiple chosen type="text" class="form-control" id="types" name="types"
                                ng-model="organizationFormData.types" data-placeholder="Оберіть тип організації"
                                ng-options="type as type.label for type in typeData | organizationFilter:organizationFormData.types"
                                popover="Введіть тип організації" popover-trigger="focus" popover-placement="top"
                                required>
                        </select> <span class="form-control-feedback glyphicon
							form-horizontal glyphicon glyphicon-ok-sign"></span>
                        -->
                        <ui-select multiple required theme="select2" id="types" name="types" class="form-control"
                                   ng-model="organizationFormData.types">
                            <ui-select-match ui-disable-choice="$item in organizationFormData.types">{{$item.label}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="type in typeData | organizationAddFilter:organizationFormData.types | filter: $select.search">
                                <div ng-bind-html="type.label"></div>
                            </ui-select-choices>
                        </ui-select>
                        <p class="help-block" ng-if="organizationForm.types.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>
                    </div>
                </div>

                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="counters">
                        {{'ORGANIZATION_DEVICE_TYPE_ADMIN' | translate }}
                    </label>

                    <div class="col-md-8">
                        <!--<select multiple chosen type="text" class="form-control" id="counters" name="counters"
                                ng-model="organizationFormData.counters" data-placeholder="Оберіть тип лічильників"
                                ng-options="counter as counter.label for counter in counterData"
                                popover="Введіть тип лічильників організації" popover-trigger="focus" popover-placement="top"
                                required>
                        </select> <span class="form-control-feedback glyphicon
							form-horizontal glyphicon glyphicon-ok-sign"></span>
                        -->
                        <ui-select multiple required theme="select2" id="counters" name="counters" class="form-control"
                                   ng-model="organizationFormData.counters">
                            <ui-select-match ui-disable-choice="$item in organizationFormData.counters">
                                {{$item.label}}
                            </ui-select-match>
                            <ui-select-choices repeat="counter in counterData | filter: $select.search">
                                <div ng-bind-html="counter.label"></div>
                            </ui-select-choices>
                        </ui-select>
                        <p class="help-block" ng-if="organizationForm.counters.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>
                    </div>
                </div>

                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="email">
                        {{'EMAIL' | translate }}
                    </label>

                    <div class="col-md-8">
                        <input id="email" name="email" type="email" class="form-control"
                               ng-model="organizationFormData.email" ng-pattern="EMAIL_REGEX"
                               popover="Введіть email адресу організації"
                               popover-trigger="focus" popover-placement="top"
                               placeholder="example@gmail.com" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="organizationForm.email.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="organizationForm.email.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'EMAIL_ERROR' | translate}}<i>example@gmail.com</i>
                        </p>
                    </div>
                </div>

                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="phoneNumber">
                        {{'ORGANIZATION_TELEPHON_NUMBER_ADMIN' | translate }}
                    </label>

                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon-code">+380</span>
                            <input id="phoneNumber" name="phoneNumber" type="text"
                                   class="form-control col-md-8 " ng-model="organizationFormData.phone"
                                   placeholder="XXXXXXXXX" ng-pattern="PHONE_REGEX"
                                   popover="Введіть номер телефону організації"
                                   popover-trigger="focus" popover-placement="top"
                                   required>
                        </div>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="organizationForm.phoneNumber.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="organizationForm.phoneNumber.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'PHONE_NUMBER_ERROR' | translate}}
                        </p>
                    </div>
                </div>

                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="capacity">{{'NUMBER_OF_EMPLOYEES' |
                        translate}}</label>

                    <div class="col-md-8">
                        <input type="number" id="capacity" name="capacity"
                               class="form-control"
                               ng-model="organizationFormData.employeesCapacity" min="1"
                               popover="Введіть максимальну кількість працівників організації"
                               popover-trigger="focus" popover-placement="top"
                               required>
						 <span class="form-control-feedback glyphicon
						 form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="organizationForm.capacity.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="organizationForm.capacity.$error.number">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'NUMBER_OF_EMPLOYEES_ERROR' | translate}}
                        </p>
                    </div>
                </div>


                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="processTime">
                        {{'MAX_PROCESS_TIME' | translate }}
                    </label>

                    <div class="col-md-8">
                        <input type="number" id="processTime" name="processTime"
                               class="form-control"
                               ng-model="organizationFormData.maxProcessTime"
                               ng-init="organizationFormData.maxProcessTime=5" min="1"
                               popover="Введіть максимальну час обробки заявки"
                               popover-trigger="focus" popover-placement="top" required>
						 	<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="organizationForm.processTime.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="organizationForm.processTime.$error.number">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'MAX_PROCESS_TIME_ERROR' | translate}}
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <hr/>
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{'FILL_YOUR_SYSTEM_ADMINISTRATOR_FOR_ORGANIZATION' | translate }}
            </div>
            <div class="panel-body">
                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="lastName">
                        {{'LAST_NAME' |translate }}
                    </label>

                    <div class="col-md-8">
                        <input id="lastName" name="lastName" class="form-control"
                               type="text" ng-model="organizationFormData.lastName"
                               ng-pattern="FIRST_LAST_NAME_REGEX"
                               popover="{{'ALPHABETIC_INFO' | translate}}"
                               popover-trigger="focus" popover-placement="top" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="organizationForm.lastName.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="organizationForm.lastName.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'INCORRECT_VALUE_LAST_NAME_ADD_EMPLOYEE' | translate }}
                        </p>
                    </div>
                </div>

                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="firstName">
                        {{'FIRST_NAME' |translate }}
                    </label>

                    <div class="col-md-8">
                        <input type="text" ng-model="organizationFormData.firstName"
                               id="firstName" ng-pattern="FIRST_LAST_NAME_REGEX"
                               name="firstName" class="form-control"
                               popover="{{'ALPHABETIC_INFO' | translate}}"
                               popover-trigger="focus" popover-placement="top" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="organizationForm.firstName.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign "></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="organizationForm.firstName.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'INCORRECT_VALUE_FIRST_NAME_ADD_EMPLOYEE' | translate }}
                        </p>
                    </div>
                </div>

                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="middleName">
                        {{'MIDDLE_NAME' | translate }}
                    </label>

                    <div class="col-md-8">
                        <input type="text" ng-model="organizationFormData.middleName"
                               ng-pattern="MIDDLE_NAME_REGEX"
                               ng-change="checkFirstName('middleName')"
                               id="middleName" name="middleName" class="form-control"
                               popover="{{'MIDDLE_NAME_INFO' | translate}}"
                               popover-trigger="focus" popover-placement="top" required>
							<span class="form-control-feedback glyphicon
							form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="organizationForm.middleName.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="organizationForm.middleName.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'INCORRECT_VALUE_MIDDLE_NAME_ADD_EMPLOYEE' | translate }}
                        </p>
                    </div>
                </div>


                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="username">
                        {{'LOGIN_TWO' | translate }}
                    </label>

                    <div class="col-md-8">
                        <input type="text" ng-model="organizationFormData.username"
                               ng-blur="checkIfUsernameIsAvailable()"
                               ng-pattern="USERNAME_REGEX" id="username" name="username"
                               class="form-control" popover="Введіть логін адміна організації"
                               popover-trigger="focus" popover-placement="top" required>
							<span class="form-control-feedback glyphicon
							 form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="organizationForm.username.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="!isUsernameAvailable">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'LOGIN_ISNT_AVAILABLE' | translate }}
                        </p>

                        <p class="help-block" ng-if="organizationForm.username.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'LOGIN_HAS_INVALID_LENGTH' | translate }}
                        </p>
                    </div>
                </div>

                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4">
                        {{'PASSWORD_TWO' | translate}}
                    </label>

                    <div class="col-md-8">
                        <div class="hidden">
                            <input type="password">
                        </div>
                        <input type="password" ng-model="organizationFormData.password"
                               ng-pattern="PASSWORD_REGEX" name="password" id="password" class="form-control"
                               popover="Введіть пароль адміністратора організації"
                               popover-trigger="focus" popover-placement="top"
                               required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="organizationForm.password.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="organizationForm.password.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'PASSWORD_TOO_SHORT' | translate }}
                        </p>
                    </div>
                </div>

                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4">
                        {{'REPEAT_PASSWORD' | translate}}
                    </label>

                    <div class="col-md-8">
                        <input type="password" ng-model="organizationFormData.rePassword"
                               ng-change="checkRePassword()" name="rePassword" id="rePassword"
                               class="form-control"
                               popover="Повторіть введений вами попередньо пароль адміна організації"
                               popover-trigger="focus" popover-placement="top" required>
							<span class="form-control-feedback glyphicon
							form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="organizationForm.rePassword.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="!isPasswordsEqual"
                           ng-class="{'unreadClass': verification.readStatus=='UNREAD'}">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'PASSWORDS_ISNT_EQUAL' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <hr/>


        <div class="panel panel-primary">
            <div class="panel-heading">
                {{'ADDRESS' | translate }}
            </div>
            <div class="panel-body">

                <div class="form-group row" show-errors>
                    <label for="region" class="control-label col-md-4">
                        {{'REGION' | translate}}
                    </label>

                    <div class="col-md-8">
                        <ui-select class="form-control" type="text" theme="select2"
                                   ng-model="organizationFormData.region"
                                   on-select="receiveDistricts(organizationFormData.region)"
                                   name="region" id="region" required>
                            <ui-select-match placeholder="{{'SELECT_REGION' | translate}}" allow-clear="true">
                                {{$select.selected.designation}}
                            </ui-select-match>
                            <ui-select-choices repeat="region in regions | filter: $select.search">
                                <span ng-bind-html="region.designation"></span>
                            </ui-select-choices>
                        </ui-select>

                        <p class="help-block" ng-if="organizationForm.region.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'TYPEAHEAD_ERROR' | translate}}
                        </p>
                    </div>
                </div>

                <div class="form-group row" show-errors>
                    <label for="district" class="control-label col-md-4">
                        {{'DISTRICT' | translate}}
                    </label>

                    <div class="col-md-8">
                        <ui-select class="form-control" type="text" theme="select2"
                                   ng-model="organizationFormData.district"
                                   ng-disabled="!organizationFormData.region"
                                   on-select="receiveLocalities(organizationFormData.district)"
                                   name="district" id="district" required>
                            <ui-select-match placeholder="{{'SELECT_DISTRICT' | translate}}" allow-clear="true">
                                {{$select.selected.designation}}
                            </ui-select-match>
                            <ui-select-choices repeat="district in districts | filter: $select.search">
                                <span ng-bind-html="district.designation"></span>
                            </ui-select-choices>
                        </ui-select>

                        <p class="help-block" ng-if="organizationForm.district.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'TYPEAHEAD_ERROR' | translate}}
                        </p>
                    </div>
                </div>


                <div class="form-group row" show-errors>
                    <label for="locality" class="control-label col-md-4">
                        {{'LOCALITY' | translate}}
                    </label>

                    <div class="col-md-8">
                        <ui-select class="form-control" type="text" theme="select2"
                                   ng-model="organizationFormData.locality"
                                   ng-disabled="!organizationFormData.district"
                                   on-select="receiveStreets(organizationFormData.locality, organizationFormData.district)"
                                   name="locality" id="locality" required>
                            <ui-select-match placeholder="{{'SELECT_LOCALITY' | translate}}" allow-clear="true">
                                {{$select.selected.designation}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="locality in localities | filter: $select.search | unique:'designation'">
                                <span ng-bind-html="locality.designation"></span>
                            </ui-select-choices>
                        </ui-select>

                        <p class="help-block" ng-if="organizationForm.locality.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'TYPEAHEAD_ERROR' | translate}}
                        </p>
                    </div>
                </div>


                <div class="form-group row" show-errors>
                    <label for="street" class="control-label col-md-4">
                        {{'STREET_TWO' | translate}}
                    </label>

                    <div class="col-md-8">
                        <input name="street" class="form-control"
                               type="text" id="street"
                               ng-model="organizationFormData.street"
                               ng-disabled="!organizationFormData.locality"
                               typeahead="street as street.designation for street in streets | filter: $viewValue | limitTo: 4"
                               typeahead-editable="false"
                               popover="Введіть вулицю організації"
                               popover-trigger="focus" popover-placement="top" required>
											<span class="form-control-feedback glyphicon
											 form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="organizationForm.street.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="!organizationFormData.street.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'ORGANIZATION_INVALID_STREET' | translate }}
                        </p>
                    </div>
                </div>

                <div class="form-group row" show-errors>
                    <label for="building" class="control-label col-md-4">
                        {{'HOUSE_TWO' | translate}}
                    </label>

                    <div class="col-md-8">
                        <input name="building" id="building" type="text"
                               ng-model="organizationFormData.building" ng-pattern="BUILDING_REGEX"
                               ng-disabled="!organizationFormData.street"
                               typeahead="building as building.designation for building in buildings | filter: $viewValue"
                               class="form-control" popover="Введіть номер будинку організації"
                               popover-trigger="focus" popover-placement="top" required>
										<span class="form-control-feedback glyphicon
											 form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="organizationForm.building.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="organizationForm.building.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'BUILDING_ERROR' | translate}}
                        </p>
                    </div>
                </div>


                <div class="form-group row" show-errors>
                    <label for="flat" class="control-label col-md-4">
                        {{'FLAT' | translate}}
                    </label>

                    <div class="col-md-8">
                        <input name="flat" id="flat" type="text"
                               ng-model="organizationFormData.flat" ng-pattern="FLAT_REGEX" class="form-control"
                               ng-disabled="!organizationFormData.building"
                               popover="Введіть номер квартири організації, якщо такий наявний"
                               popover-trigger="focus" popover-placement="top">
									<span class="form-control-feedback glyphicon
										 form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block"
                           ng-if="organizationForm.flat.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'FLAT_ERROR' | translate}}
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">{{'ORGANIZATION_SERVICE_AREA'|translate}}</div>
            <div class="panel-body">
                <div class="form-group row" show-errors>
                    <div class="col-md-4">
                        <label for="serviceAreaRegion" class="control-label">
                            {{'REGION' | translate}}
                        </label>
                    </div>

                    <div class="col-md-8">
                        <ui-select class="form-control" type="text" theme="select2"
                                   ng-model="serviceArea.region"
                                   on-select="receiveDistrictsForServiceArea(serviceArea.region)"
                                   name="serviceAreaRegion" id="serviceAreaRegion" required>
                            <ui-select-match placeholder="{{'SELECT_REGION' | translate}}" allow-clear="true">
                                {{$select.selected.designation}}
                            </ui-select-match>
                            <ui-select-choices repeat="region in regions | filter: $select.search">
                                <span ng-bind-html="region.designation"></span>
                            </ui-select-choices>
                        </ui-select>
								<span class="form-control-feedback glyphicon
										 form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="organizationForm.serviceAreaRegion.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>


                        <p class="help-block" ng-if="!isValidAcordion">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED_ACORDION' | translate}}
                        </p>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <label class="control-label">
                            {{'DISTRICT' | translate}}
                            {{$scope.selectedServiceAreaLocalities}}
                        </label>
                    </div>
                    <div class="col-md-8">
                        <accordion close-others="false">
                            <div ng-repeat="district in serviceArea.districts">
                                <accordion-group panel-class="panel-warning">
                                    <accordion-heading>
                                        <input type="checkbox"
                                               ng-model="district.checked"
                                               ng-click="selectAllLocalities(district, $index, $event)">
                                        <span class="" ng-click="selectRegionsFromDistrict(district, $index)">{{district.designation}}</span>
                                    </accordion-heading>
                                    <label class="col-md-6"
                                           ng-repeat="locality in serviceArea.locality[$index] | unique:'designation'">
                                        <input type="checkbox" checklist-model="selectedServiceAreaLocalities"
                                               checklist-value="locality.id">
                                        {{locality.designation}}
                                    </label>
                                </accordion-group>
                            </div>
                        </accordion>
                    </div>
                </div>
            </div>
        </div>


<div class="form-group row">
    <div class="col-md-10">
        <button type="submit" class="btn btn-success">
            {{'ADD' | translate}}
        </button>
        <button type="reset" class="btn btn-warning" ng-click="resetOrganizationForm()">
            {{'CLEAR_FORM' | translate }}
        </button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-danger pull-right" ng-click="closeModal()">{{'CLOSE'
            | translate}}
        </button>
    </div>
</div>

</form>

</div>