<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <h3 class="modal-title">{{'EDIT_OF_ORGANIZATION' | translate}}</h3>
</div>

<div class="modal-body">
    <form name="sysAdminForm" role="form" ng-submit="!sysAdminForm.phone.$error.pattern && !sysAdminForm.phone.$error.required
          && !sysAdminForm.email.$error.pattern && !sysAdminForm.email.$error.required
          && !sysAdminForm.firstName.$error.pattern && !sysAdminForm.firstName.$error.required
          && !sysAdminForm.lastName.$error.pattern && !sysAdminForm.lastName.$error.required
          && !sysAdminForm.middleName.$error.pattern && !sysAdminForm.middleName.$error.required
          && !sysAdminForm.region.$error.pattern && !sysAdminForm.region.$error.required
          && !sysAdminForm.district.$error.pattern && !sysAdminForm.district.$error.required
          && !sysAdminForm.locality.$error.pattern && !sysAdminForm.locality.$error.required
          && !sysAdminForm.street.$error.pattern && !sysAdminForm.street.$error.required
          && !sysAdminForm.building.$error.pattern && !sysAdminForm.building.$error.required
          && editSysAdmin()" novalidate>
        <div class="panel panel-primary">
            <div class="panel-heading">{{'GENERAL_INFORMATION' | translate}}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">{{'EMAIL' | translate }}</label>
                    </div>
                    <div class="form-group col-md-8" ng-class="emailValidation.css" show-errors>
                        <input type="text" ng-model="$root.sysAdmin.email"
                               ng-pattern="EMAIL_REGEX"
                               ng-change="checkField('email')"
                               name="email" class="form-control" required>
                        <div ng-show="sysAdminForm.$submitted || sysAdminForm.email.$touched">
                            <div ng-show="sysAdminForm.$submitted || sysAdminForm.email.$touched">
                                <p class="validation-message" ng-if="sysAdminForm.email.$error.required">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    {{'REQUIRED' | translate}}
                                </p>

                                <p class="validation-message" ng-if="sysAdminForm.email.$error.pattern">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    {{'INCORRECT_VALUE_EMAIL_ADD_EMPLOYEE' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">{{'PHONE_NUMBER' | translate }}</label>
                    </div>
                    <div class="form-group col-md-8" show-errors>
                        <div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon-code">+380</span>
                                <input type="text" class="form-control col-md-8 "
                                       ng-model="$root.sysAdmin.phone" placeholder="XXXXXXXXX"
                                       ng-pattern="PHONE_REGEX"
                                       name="phone" class="form-control" required>
                            </div>
                            <p class="validation-message" ng-if="sysAdminForm.phone.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'REQUIRED' | translate}}
                            </p>
                            <p class="help-block col-md-8"
                               ng-if="sysAdminForm.phone.$error.pattern">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'INCORRECT_VALUE_PHONE_ADD_EMPLOYEE' | translate }}
                            </p>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        <div class="panel panel-primary">
            <div class="panel-heading">{{'FILL_YOUR_SYSTEM_ADMINISTRATOR_FOR_ORGANIZATION'
                | translate }}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">{{'LAST_NAME' |translate }}*</label>
                    </div>
                    <div class="form-group col-md-8" show-errors>
                        <input id="lastName" name="lastName" class="form-control"
                               type="text" ng-model="$root.sysAdmin.lastName "
                               ng-change="checkField('lastName')"
                               ng-pattern="FIRST_LAST_NAME_REGEX" required>
                        <div ng-show="sysAdminForm.$submitted || sysAdminForm.lastName.$touched">
                            <p class="validation-message" ng-if="sysAdminForm.lastName.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'REQUIRED' | translate}}
                            </p>

                            <p class="validation-message" ng-if="sysAdminForm.lastName.$error.pattern">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'INCORRECT_VALUE_LAST_NAME_ADD_EMPLOYEE' | translate }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">{{'FIRST_NAME' |translate }}*</label>
                    </div>
                    <!--ng-change="checkField('firstName')" -->
                    <div class="form-group col-md-8" ng-class="firstNameValidation.css" show-errors>
                        <input type="text" ng-model="$root.sysAdmin.firstName"
                               ng-change="checkField('firstName')"
                               id="firstName" ng-pattern="FIRST_LAST_NAME_REGEX"
                               name="firstName" class="form-control" required>
                        <div ng-show="sysAdminForm.$submitted || sysAdminForm.firstName.$touched">
                            <p class="validation-message" ng-if="sysAdminForm.firstName.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign "></span>
                                {{'REQUIRED' | translate}}
                            </p>

                            <p class="validation-message" ng-if="sysAdminForm.firstName.$error.pattern">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'INCORRECT_VALUE_FIRST_NAME_ADD_EMPLOYEE' | translate }}
                            </p>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="control-label">{{'MIDDLE_NAME' | translate }}*</label>
                    </div>
                    <div class="form-group col-md-8" ng-class="middleNameValidation.css" show-errors>
                        <input type="text" ng-model="$root.sysAdmin.middleName"
                               ng-pattern="MIDDLE_NAME_REGEX"
                               ng-change="checkField('middleName')"
                               id="middleName" name="middleName" class="form-control" required>

                        <div ng-show="sysAdminForm.$submitted || sysAdminForm.middleName.$touched">

                            <p class="validation-message" ng-if="sysAdminForm.middleName.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'REQUIRED' | translate}}
                            </p>

                            <p class="validation-message" ng-if="sysAdminForm.middleName.$error.pattern">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{'INCORRECT_VALUE_MIDDLE_NAME_ADD_EMPLOYEE' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">{{'LOGIN_TWO' | translate }}*</label>
                    </div>
                    <div class="form-group col-md-8" ng-class="usernameValidation.css">
                        <input type="text" ng-model="$root.sysAdmin.username" readonly
                               ng-change="checkField('login')"
                               popover="{{'USERNAME_INFO' | translate}}"
                               popover-trigger="focus" popover-placement="right"
                               ng-model-options="{debounce: 350}"
                               ng-pattern="USERNAME_REGEX"
                               id="username" name="username" class="form-control" required>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <div class="form-group col-md-4">
                            <label class="control-label">{{'PASSWORD_TWO' | translate}}</label>
                        </div>

                        <div class="form-group col-md-8">
                            <button type="submit" class="btn btn-warning"
                                    ng-click="changePassword()" ng-hide="generationMessage">{{'GENERATE_PASSWORD' |
                                translate}}
                            </button>
                        </div>
                        <div class="form-group col-md-8" ng-show="generationMessage"> {{'GENERATE_PASSWORD_OK' |
                            translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">{{'ADDRESS' | translate }}</div>
                    <div class="panel-body">
                        <div>
                            <div class="row">
                                <div class="form-group col-md-4">

                                    <label class="control-label">{{'REGION' | translate}}</label>
                                </div>
                                <div class="form-group col-md-8" show-errors>
                                    <ui-select class="form-control" type="text" theme="select2"
                                               ng-model="selectedValues.selectedRegion"
                                               on-select="receiveDistricts(selectedValues.selectedRegion)"
                                               name="region" id="region" required>
                                        <ui-select-match placeholder="Оберіть область" allow-clear="true">
                                            {{$select.selected.designation}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="region in regions | filter: $select.search">
                                            <span ng-bind-html="region.designation"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <p class="help-block"  ng-show="sysAdminForm.$submitted || selectedValues.selectedRegion.$touched">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        {{'TYPEAHEAD_ERROR' | translate}}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="district" class="control-label">
                                        {{'DISTRICT' | translate}} </label>
                                    </label>
                                </div>
                                <div class="form-group col-md-8" show-errors>
                                    <ui-select class="form-control" type="text" theme="select2"
                                               ng-model="selectedValues.selectedDistrict"
                                               on-select="receiveLocalities(selectedValues.selectedDistrict)"
                                               ng-disabled="!selectedValues.selectedRegion"
                                               name="district" id="district" required>
                                        <ui-select-match placeholder="Оберіть район" allow-clear="true">
                                            {{$select.selected.designation}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="district in districts | filter: $select.search">
                                            <span ng-bind-html="district.designation"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <p class="help-block"  ng-show="sysAdminForm.$submitted || selectedValues.selectedDistrict.$touched">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        {{'TYPEAHEAD_ERROR' | translate}}
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="locality" class="control-label">
                                        {{'LOCALITY' | translate}}
                                    </label>
                                </div>
                                <div class="form-group col-md-8" show-errors>
                                    <ui-select class="form-control" type="text" theme="select2"
                                               ng-model="selectedValues.selectedLocality"
                                               ng-disabled="!selectedValues.selectedDistrict"
                                               on-select="receiveStreets(selectedValues.selectedLocality)"
                                               name="locality" id="locality" required>
                                        <ui-select-match placeholder="Оберіть населений пункт" allow-clear="true">
                                            {{$select.selected.designation}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="locality in localities | filter: $select.search">
                                            <span ng-bind-html="locality.designation"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <p class="help-block"  ng-show="sysAdminForm.$submitted || selectedValues.selectedLocality.$touched">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        {{'TYPEAHEAD_ERROR' | translate}}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">{{'STREET_TWO' | translate
                                        }} </label>
                                </div>
                                <div class="form-group col-md-8" show-errors>
                                    <input name="street" class="form-control"
                                           type="text" id="street"
                                           ng-model="selectedValues.selectedStreet"
                                           ng-disabled="!selectedValues.selectedLocality"
                                           typeahead="street as street.designation for street in streets | filter: $viewValue | limitTo: 4"
                                           typeahead-editable="false" required>
                                    <div ng-show="sysAdminFormData.$submitted || selectedValues.selectedStreet.$touched" >
                                        <p class="help-block" ng-if="!selectedValues.selectedStreet.$error.required">
                                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                                            {{'ORGANIZATION_INVALID_STREET'
                                            | translate }}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">{{'HOUSE_TWO' | translate}}</label>
                                </div>
                                <div class="form-group col-md-8">
                                    <input name="building" type="text"
                                           ng-model="$root.sysAdmin.building"
                                           typeahead="building as building.designation for building in buildings | filter: $viewValue"
                                           class="form-control" required>
                                </div>
                                <div ng-show="sysAdminForm.$submitted  || sysAdminForm.building.$touched">
                                    <p class="validation-message has-error" ng-if="sysAdminForm.building.$error.required">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        {{'REQUIRED' | translate}}
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label 	class="control-label">{{'FLAT' | translate}}</label>
                                </div>
                                <div class="form-group col-md-8">
                                    <input name="flat" type="text"
                                           ng-model="$root.sysAdmin.flat" class="form-control" required>
                                </div>
                                <div ng-show="sysAdminForm.$submitted  || sysAdminForm.flat.$touched">
                                    <p class="validation-message has-error" ng-if="sysAdminForm.flat.$error.required">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        {{'REQUIRED' | translate}}
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="form-group col-md-10">

                <button class="btn btn-success">{{'EDIT' | translate}}</button>
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-danger pull-right" ng-click="closeModal()">{{'CLOSE' | translate}}</button>
            </div>
        </div>

    </form>
</div>