<div class="modal-header">
    <h3 class="modal-title">{{'PLEASE_LEAVE_COMMENT' | translate}}</h3>
    
</div>
<div class="from-top form-group" >
    <form id="mailSendingForm" name="mailSendingForm" class="form-group" ng-submit="submit()" novalidate>
        <div class="modal-body form-group " show-errors>
            <textarea id="message" name="message" class="form-control"
             rows="4"  ng-model="formData.message" required></textarea>
         	<p class="help-block" ng-if="mailSendingForm.message.$error.required">
				<span class="glyphicon glyphicon-exclamation-sign"></span>
							{{'REQUIRED' | translate}}
			</p>
           
        </div>
        <div class="modal-footer form-group">
            <button class="btn btn-success pull-left" type="submit">
               {{'SEND_BTN' | translate}}
            </button>
            <button class="btn btn-danger pull-right" type="button" ng-click="cancel()">
               {{'CANCEL' | translate}}
            </button>
        </div>
    </form>
</div>