<form id="mailSendingForm" name="mailSendingForm" class="form-group" ng-submit="submit()" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">{{'PLEASE_LEAVE_COMMENT' | translate}}</h3>

    </div>
    <div class="modal-body from-top form-group">
        <div class="form-group" show-errors>
            <label for="lastName" class="col-md-12  control-label">
                {{'LAST_NAME' | translate}}
            </label>

            <div class=" form-group ">
                <input id="lastName" name="lastName" class="form-control"
                       type="text" ng-model="formData.lastName"
                       ng-pattern="FIRST_LAST_NAME_REGEX"
                       required/>

                <p class="help-block" ng-if="mailSendingForm.lastName.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}<br>
                </p>

                <p class="help-block" ng-if="mailSendingForm.lastName.$error.pattern">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'DOUBLE_NAME_ERROR' | translate}}
                </p>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label for="firstName" class="col-md-12  control-label">
                {{'FIRST_NAME' | translate}} </label>

            <div class=" form-group ">
                <input id="firstName" name="firstName" class="form-control"
                       ng-pattern="FIRST_LAST_NAME_REGEX"
                       ng-model="formData.firstName" required/>

                <p class="help-block" ng-if="mailSendingForm.firstName.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}<br>
                </p>

                <p class="help-block" ng-if="mailSendingForm.firstName.$error.pattern">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'DOUBLE_NAME_ERROR' | translate}}
                </p>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label for="email" class="col-md-12  control-label">
                Ваша {{'EMAIL' | translate}} </label>

            <div class=" form-group ">
                <input id="email" name="email" type="email" class="form-control"
                       ng-model="formData.email" placeholder="example@gmail.com"
                       ng-pattern="EMAIL_REGEX" required/>

                <p class="help-block" ng-if="mailSendingForm.email.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}<br>
                </p>

                <p class="help-block"
                   ng-if="mailSendingForm.email.$error.pattern || mailSendingForm.email.$error.email">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'EMAIL_ERROR' | translate}}<i>example@gmail.com</i>
                </p>

                <!--<p class="help-block" ng-if="mailSendingForm.email.$error.email">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'EMAIL_ERROR' | translate}}<i>example@gmail.com</i>
                </p>-->
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="message" class="col-md-12  control-label">
                Залиште тут ваше повідомлення.
            </label>

            <div class=" form-group " show-errors>
            <textarea id="message" name="message" class="form-control"
                      rows="4" ng-model="formData.message" required></textarea>

                <p class="help-block" ng-if="mailSendingForm.message.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>

            </div>
        </div>
    </div>
    <div class="modal-footer form-group">
        <button class="btn btn-success pull-left text-uppercase" type="submit">
            {{'SEND_BTN' | translate}}
        </button>
        <button class="btn btn-danger pull-right text-uppercase" type="button" ng-click="cancel()">
            {{'CANCEL' | translate}}
        </button>
    </div>

</form>
<div ng-show="complete"> fdssssss</div>
