<div id="page-wrapper" ng-controller="CalendarEmployeeProvider">

    <div class="modal-header-capacity">
        <h3 class="capacity-employee" translate="CHOOSE_THE_DATE_TO_SEARCH_INFORMATION"></h3>
    </div>
    <form name="myForm" novalidate class="formCalendar">
							<div class="calendar-wd, col-md-3">
								<input readonly type="text" datepicker-popup="{{format}}"
									ng-model="dataToSearch.fromDate"
									ng-change="changeDateToSend(dataToSearch.fromDate)"
									is-open="firstCalendar.isOpen"
									min-date="fromMinDate"
									max-date="fromMaxDate"
									datepicker-options="dateOptions"
									date-disabled="disabled(date, mode)" ng-required="true"
									close-on-date-selection="false"
									close-text="Close" /> <span>
									<button type="button" class="btn btn-default myGroupBtn"
										ng-click="open1($event)">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>


							<div class="calendar-wd, col-md-3">
								<input readonly type="text" datepicker-popup="{{format}}"
									ng-model="dataToSearch.toDate"
									ng-change="changeDateToSend(dataToSearch.toDate)"
									is-open="secondCalendar.isOpen" 
									min-date="toMinDate"
									max-date="toMaxDate"
									datepicker-options="dateOptions"
									date-disabled="disabled(date, mode)" ng-required="true"
									close-on-date-selection="false"
									close-text="Close" /> <span>
									<button type="button" class="btn btn-default myGroupBtn"
										ng-click="open2($event)">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>




        <div class="cal">

            <button class="btn btn-success" type="submit" ng-click="showGrafic()" translate="SHOW">

            </button>

        </div>
    </form>
    <br>
    <br>
    <br>


    <highchart id="chart1" config="chartConfig" class="span10"></highchart>

</div>
