<div class="modal-header">
    <h3 class="modal-title">Р”РµС‚Р°Р»СЊРЅР° С–РЅС„РѕСЂРјР°С†С–СЏ РїСЂРѕ РєС–Р»СЊРєС–СЃС‚СЊ Р·Р°СЏРІРѕРє РїСЂР°С†С–РІРЅРёРєР°</h3>
    <h2> {{employee}}</h2>
</div>

<div class="modal-body">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="col-md-2">Р”Р°С‚Р° РїРѕС‡Р°С‚РєСѓ РїСЂРѕС†РµСЃСѓ РїРѕРІС–СЂРєРё</th>
            <th>Р РµС”СЃС‚СЂР°С†С–Р№РЅРёР№ РЅРѕРјРµСЂ РїРѕРІС–СЂРєРё</th>
            <th>РџСЂС–Р·РІРёС‰Рµ РєР»С–С”РЅС‚Р°</th>
            <th>Р†РјСЏ РєР»С–С”РЅС‚Р°</th>
            <th>Р Р°Р№РѕРЅ</th>
            <th>РњС–СЃС‚Рѕ</th>
            <th>Р’СѓР»РёС†СЏ, РЅР° СЏРєС–Р№ РїСЂРѕР¶РёРІР°С” РєР»С–С”РЅС‚</th>
            <th>РќРѕРјРµСЂ С‚РµР»РµС„РѕРЅСѓ</th>

        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="verification in verifications">
            <td>{{ verification.initialDate | date}}</td>
            <td class="verificationNumber">
                <span popover="{{verification.id}}" popover-trigger="mouseenter" popover-placement="up">
                    {{ verification.id}}</span></td>
            <td>{{ verification.surname }}</td>
            <td>{{ verification.name }}</td>
            <td>{{ verification.district }}</td>
            <td>{{ verification.locality }}</td>
            <td>{{ verification.street }}</td>
            <td>{{ verification.phone }}</td>

        </tr>
        </tbody>
    </table>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Р—Р°РєСЂРёС‚Рё</button>
</div>
