<div id="page-wrapper" ng-show = "accessLable">
<h1>У вас немає права доступу до даної інформації</h1>
  <i class="fa fa-times-circle-o"></i>
</div>

<div id="page-wrapper" ng-show = "verificator">


    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Працівники</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Додати працівника
                </div>
                <div class="panel-body">
                    <div class="row">
                     <div class="col-md-12">
                         <div ng-show ="showListOfOrganization">
                         <select multiple chosen id="device" name="device" type="text"
                                 class="form-control" ng-model="selectedEmployee"
                                 data-placeholder="Choose type of worcker"
                                ng-change = "chouse(selectedEmployee)"
                                 required>
                             <div  ng-show ="showProviderOrganization">
                             <option value = 'provider'> Provider </option>
                             </div>
                             <div  ng-show ="showCalibratorOrganization">
                             <option value = 'calibrator'> Calibrator </option>
                             </div>
                             <div  ng-show ="showCalibratorOrganization">
                             <option value = 'verificatot' ng-show ="showVerificatorOrganization"> Verificator </option>
                             </div>
                         </select>
                         </div>

                         <label ng-show ="showProviderOrganization">Provider
    						<input type="checkbox" ng-click="selectOrganization()" ng-model="checkboxProviderOrganization" ng-init = "checkboxProviderOrganization=false">
     					 </label>
     					 <label ng-show ="showCalibratorOrganization">Calibrator
    						<input type="checkbox" ng-click="selectOrganization()" ng-model="checkboxCalibratorOrganization" ng-init = "checkboxCalibratorOrganization=false">
     					 </label>
     					 <label ng-show ="showVerificatorOrganization">Verificator
    						<input type="checkbox" ng-click="selectOrganization()" ng-model="checkboxVerificatorOrganization" ng-init = "checkboxVerificatorOrganization=false">
     					 </label>
     					 </div>
                        <div class="col-md-12"
                            ng-include="'/resources/app/provider/views/employee/adding-employee.html'">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


