<div id="page-wrapper" class="container-fluid">
	<h2>{{'GENERAL_INFORMATION' | translate }}</h2>
	<img src="/resources/assets/AdminLTE-master/img/User_icon.png"
		style="width: 250px;" alt="User Image" />
	<h3><strong>{{'USERNAME' | translate }}:</strong> {{employee.username}}</h3>
	<p><strong>{{'FIRST_NAME' | translate }}:</strong> {{employee.firstName != null ? employee.firstName : 'NO_DATA' | translate}}</p>
	<p><strong>{{'LAST_NAME' | translate }}:</strong> {{employee.lastName != null ? employee.lastName : 'NO_DATA' | translate}}</p>
	<p><strong>{{'MIDDLE_NAME' | translate }}:</strong> {{employee.middleName != null ? employee.middleName : 'NO_DATA' | translate}}</p>
	<p><strong>{{'EMAIL' | translate }}:</strong> {{employee.email != null ? employee.email : 'NO_DATA' | translate}}</p>
	<p><strong>{{'PHONE_NUMBER_TWO' | translate }}:</strong> {{employee.phone != null ? employee.phone : 'NO_DATA' | translate}}</p>
	<p><strong>{{'SECOND_PHONE' | translate }}:</strong> {{employee.secondPhone != null ? employee.secondPhone : 'NO_DATA' | translate}}</p>

	<button type="reset" class="btn btn-warning" ng-click="logout()">
		{{'LOG_OUT' | translate }}</button>

	<button type="button" class="btn btn-primary" ng-controller="UsersController"
		ng-click="openEditEmployeeModal(employee.username)">
		{{'EDIT_PROFIL' | translate }}
		<span class="glyphicon glyphicon-pencil"></span>
	</button>



</div>