#applicationSection {
	background-color: white;
	color: black;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: left;
}

#streetBox {
    padding-right: 0px;
}

#okFeedBack{
	position: absolute;
	top: 0px;
}

#typeStreet {

     padding-left: 0px;
     padding-right: 0px;
 }
#deviceBox {
    padding-right: 0px;


}
#counterNumber {
    padding-left: 0px;


}
#loadIcon{
    text-align: center;
}

#createByPattern{
	position: absolute;
	top: 70px;
    left: 90px;
}

.chosen-container-single .chosen-single{
	height: 34px !important;
	
}
.chosen-container-multi .chosen-choices{
    height: 34px !important;
}

#clientFormBox {

    padding-top: 30px;
    background: rgba(242, 246, 248, 1);
    background: -moz-linear-gradient(left, rgba(242, 246, 248, 1) 0%,
    rgba(216, 225, 231, 1) 0%, rgba(213, 220, 224, 1) 51%,
    rgba(224, 239, 249, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242, 246, 248, 1)), color-stop(0%, rgba(216, 225, 231, 1)),
    color-stop(51%, rgba(213, 220, 224, 1)),
    color-stop(100%, rgba(224, 239, 249, 1)));
    background: -webkit-linear-gradient(left, rgba(242, 246, 248, 1) 0%,
    rgba(216, 225, 231, 1) 0%, rgba(213, 220, 224, 1) 51%,
    rgba(224, 239, 249, 1) 100%);
    background: -o-linear-gradient(left, rgba(242, 246, 248, 1) 0%,
    rgba(216, 225, 231, 1) 0%, rgba(213, 220, 224, 1) 51%,
    rgba(224, 239, 249, 1) 100%);
    background: -ms-linear-gradient(left, rgba(242, 246, 248, 1) 0%,
    rgba(216, 225, 231, 1) 0%, rgba(213, 220, 224, 1) 51%,
    rgba(224, 239, 249, 1) 100%);
    background: linear-gradient(to right, rgba(242, 246, 248, 1) 0%,
    rgba(216, 225, 231, 1) 0%, rgba(213, 220, 224, 1) 51%,
    rgba(224, 239, 249, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f6f8',
    endColorstr='#e0eff9', GradientType=1);
    -webkit-box-shadow: -1px 0px 48px 3px rgba(109, 138, 137, 1);
    -moz-box-shadow: -1px 0px 48px 3px rgba(109, 138, 137, 1);
    box-shadow: -1px 0px 48px 3px rgba(109, 138, 137, 1);

}

#clientForm{
    width: 820px;
    margin-left: 7%;
}

.form-group .help-block {
	 display: none;
}

.form-group .help-block-calibrator {
    color: #ff524d;
}




.form-group .has-error .help-block {
	display: block;
}

.form-group .glyphicon-ok-sign {
	display: none;
}

.form-group .has-success .glyphicon-ok-sign {
	display: block;
	color: green;
}

.form-control-feedback {

	top: 0;
	right: 15px;

}
.spinner {
    display: inline-block;
    opacity: 0;
    width: 0;

    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
    cursor:progress;
}

.slideOne {
    width: 50px;
    height: 10px;
    background: #333;
    margin: 20px auto;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideOne label {
    display: block;
    width: 16px;
    height: 16px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: -3px;
    left: -3px;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideOne input[type=checkbox]:checked + label {
    left: 37px;

}
.popover{
    width: 150%; /* Max Width of the popover (depending on the container!) */
}

.input-group-addon {
    border-radius: 24px;
    padding-right: 8px;
}

#loading-bar .bar{
    background: #FF0000;
    height: 4px;
}

