
div.chosen-container {
    width: 100% !important;
}

body {
    background-color: #f8f8f8;
}

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.fa {
    position: relative;
    left: -1px;
}

.custom-btn-group {
    display: flex;
}

.btn-actions-custom {
    height: 28px;
    width: 30px;
}

.unhidden-pick ul {
    display: block;
    top: 92px !important;
    left: 412px !important;
}

.glyphicon {

    font-size: 17px;
}

.incorrect {
    color: rgba(0, 0, 0, 0.35);
}

#main-panel-table {
    height: 100% !important;
    width: 100%;
}

#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #FF3000;
}

#dropDownClear {
    position: absolute;
    right: 55px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #FF3000;
}

.sendButton {
    position: relative;
    left: 20px;
    top: -15px;
}

.myDatepicker .input-group-btn {
    height: 30px;

}

.myGroupBtn {
    height: 34px;
}

.clearInput .btn {
    height: 30px;
}

.unreadClass {
    background: rgba(0, 255, 0, 0.2);
    color: black;
}

#coloredBadge {
    background: #00FF00;
    color: black;
}

.myCircleButton {
    position: relative;
    left: 15px;
    top: -10px;
    background: #00FF00;
    color: black;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 15px;
    font-size: 13px;

    border: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    background-color: #fff;
    min-height: 800px;
}

@media (min-width: 768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 0 !important;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
        border-top: 1px solid #e7e7e7;
    }
}

.header_row {
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .menu_column {
        width: 20%;
    }

    .main_column {
        width: 80%;
    }
}

.toggle_button {
    width: 100% !important;
    min-width: 100% !important;
}

.ui.vertical.menu {
    width: 100%;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
    padding: 0;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    padding-top: 4px;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0 !important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media (min-width: 768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
     /*width: 250 px;*/
        margin-top: 56px;

    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50, 50, 50, .5);
}

.btn-circle {

    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle.btn-sm {
    width: 25px;
    height: 25px;
    padding: 1px 1px;
    border-radius: 15px;
    font-size: 14px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: 0;
}

.form-group .help-block {
    display: none;
}

.form-group .has-error .help-block {
    display: block;
}

.form-group .glyphicon-ok-sign {
    display: none;
}

.form-group .has-success .glyphicon-ok-sign {
    display: block;
    color: green;
}

#providerSelectionForm .form-control-feedback {
    top: 15px;
    right: 15px;
}

#employeeForm .form-control-feedback {
    right: 12px;
}

#emptyError {
    display: block;
    color: red;
}

.fa {
    font-size: 1.5em;
    padding-right: 5px;
}

#successMessage {
    font-size: 10em;
    color: green;
}

#userData .form-control-feedback {
    top: 25px;
    right: 15px;
}

.field-stat {
    right: 9px !important;
}

.fa-times-circle-o {
    font-size: 6.5em;
    color: red;
    padding-right: 5px;
}

.providerEmployee h3 {
    text-align: left;
    margin-bottom: 10px;
}

.modal-footer.form-group {
    padding-bottom: 0;

}

.providerEmployee .modal-content {
    margin-left: 18%;
}

.xx-dialog .modal-dialog {
    width: 30%;
    min-width: 350px;
    height: 18%;
    min-height: 150px;
}

.verificationNumber {
    overflow: hidden !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 1px;
    width: 20px;
}

.grid_actions {
    float: left;
    width: 125px;
}

.grid_actions > div {
    float: left;
}

.grid_actions > a {
    margin-left: 10px;
}

.users_table td .btn-groups {
    position: relative;
}

.is-filter {
    margin-bottom: 15px;
}

.modal-header-capacity {
    margin-bottom: 0;
}

.capacity-employee {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;

    height: 60px;
    line-height: 60px;
}

.modal-body-capacity {
    margin: 0px 10px;
}

.panel-heading.calendarShow {
    text-align: right;
}

.formCalendar {
    width: 100%;
}

.formCalendar .calendar-wd {
    float: left;
    padding-right: 1%;
}

.formCalendar.cal {
    float: left;
    padding-right: 2%;
}

.cursor-pointer {
    cursor: pointer;
}

.modal .modal-body {
}

.validation-message {
    color: red;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.control_buttons {
    text-align: center;
}

.control_buttons i {
    font-size: 30px;
}

/*puts calendar glypicon to the left of daterangepicker input */
.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-left: 35px;
}

#calendar_icon {
    position: absolute;
    left: 10px;
    padding-right: 22px;
    padding-top: 10px;
    z-index: 100;
}

#datepickerfield:read-only {
    background-color: white;
}

#datepickerfield {
    width: 100%;
    background-color: white;
}

.datecolumn {
    width: 265px;
    min-width: 265px;
}

th.filter {
    max-width: 700px;
}

th.filter::after {
    max-width: 700px;
}

#no_new_verifs_message p {
    margin: 15px;
    text-align: center;
}

button:focus {
    outline: 0 !important;
}

.cancel_icon:hover {
    color: #C9302C;
}

.cancel_icon {
    color: #d9534f;
    cursor: pointer;
}

.remove_attached_user_icon:hover {
    color: #e38d13;
}

.remove_attached_user_icon {
    color: #EC971F;
    cursor: pointer;
}

.add_attached_user_icon:hover {
    color: #449D44;
}

.add_attached_user_icon {
    color: #5cb85c;
    cursor: pointer;
}

.info_icon:hover {
    color: #31B0D5;
}

.info_icon {
    color: #5bc0de;
    cursor: pointer;
}

/*add style for page with information about profile*/

.userlabel {
    display: block;
    margin-bottom: 0px;
    text-align: center;
}

/*centering information*/
.profile_information_label {
    width: 100%;
    text-align: center
}

.ref_style_label {
    color: #2C1919;
    width: 230px;
}

.dropdown_style {
    background-color: lightskyblue;
}

.input-group-addon {
    border-radius: 0px;
}

.date-validation-message {
    width: 70%;
    font-size: 80%;
}

.navbar {
    margin-bottom: 0 !important;
}

#sidemenu{
    border-radius: 0;
}

/*for hideable sidebar*/

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 315px;
    width: 320px;
    height: 100%;
    margin-left: -315px;
    overflow-y: auto;
    /*background: #000;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-toggle-close {
    width: 60px;
}

.sidebar-open {
    padding-left: 335px;
}

.sidebar-close {
    z-index: 1001;
    left: 60px;
    padding-left: 0;
}

@media (min-width: 992px) {
    .sidebar-close {
        width: 96.5% !important;
    }
}

.navbar {
    z-index: 1002;
}

.navbar-btn{
color: rgba(250, 250, 250, 1);
    background-color: #333333;
    border: 0;
}

.navbar-btn:hover,
.navbar-btn:focus
{
    color: rgb(218, 218, 218);
    background-color: #333333;
}

#menubuttonelem {
    padding-left: 0;
}

#menubuttonelem li{
    padding-left: 5px;
}

#dark.navbar-default .navbar-brand {
    color: honeydew;
}
#dark.navbar-default {
    font-size: 16px;
    background-color: rgba(51, 51, 51, 1);
    border: 0;
}
#dark.navbar-default .navbar-nav>li>a {
    color: rgba(250, 250, 250, 1);
    background-color: rgba(51, 51, 51, 1);
}
#dark.navbar-default .navbar-nav>li>a:hover,
#dark.navbar-default .navbar-nav>li>a:focus {
    color: rgba(148, 145, 145, 1);
    background-color: rgba(51, 51, 51, 1);
}
#dark.navbar-default .navbar-nav>.active>a,
#dark.navbar-default .navbar-nav>.active>a:hover,
#dark.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
#dark.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#dark.navbar-default .navbar-toggle:hover,
#dark.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#dark.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#dark.navbar-default .navbar-toggle:hover .icon-bar,
#dark.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #333333;
}