<html>
	<body>
			Користувач $name надіслав заявку на повірку  $deviceType до $providerName $date.
            <br>Код Вашої заявки: $applicationId, статус якої ви моежете перевірити за посиланням:
				$protocol://$domain:8080/#/application-status/$applicationId
	</body>
</html>
