<html>
	<body>
			До $providerName $date від $name надійшла заявка на повірку $deviceType.<br>
			Код Вашої заявки: $applicationId.
		<br> Виконання Вашої заявки Ви можете перевірити за посиланням: $protocol://$domain:8080/#/application-status/$applicationId
	</body>
</html>
