<html>
	<body>
			Доброго дня!<br>
			Дані організації були змінені.<br>
			Нові данні :<br>
			Назва : $name .<br>
			Email : $email .<br>
			Телефон : $phone .<br>
			Tип : $name .<br>
			Кількість працівників : $employeesCapacity .<br>
			Максимальний час обробки заявки : $maxProcessTime .<br>
			Область : $region .<br>
			Район : $district .<br>
			Населений пункт : $locality .<br>
			Вулиця : $street .<br>
			Будинок : $building .<br>
			Квартира : $flat .<br>
	</body>
</html>