<html>
<body>
<span style="font-weight:bold">
			Доброго дня! Організація $name успішно створена!
		</span>
<br>
<br>Дані для входу на сервіси сайту:
<br>Логін: $username
<br>Пароль: $password
<br>
<br>Дякуємо, що користуєтесь нашим сервісом.
</body>
</html>