<html>
	<body>
			Увага! Максимальний термін опрацювання повірки № $verificationId перевищено на $processTimeExceeding днів!<br>
			Нагадуємо, що максимальний термін обробки повірки для Вашої організації становить $maxProcessTime днів!
	</body>
</html>