<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th colspan="2" class="text-center text-info">Інформація про постачальника послуг</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <th>Під'їзд</th>
        <th>{{additionalInfo.entrance}}</th>
    </tr>

    <tr>
        <th>Код на дверях</th>
        <th>{{additionalInfo.doorCode}}</th>
    </tr>

    <tr>
        <th>Поверх</th>
        <th>{{additionalInfo.floor}}</th>
    </tr>
    <tr>
        <th>Бажана дата повірки</th>
        <th>{{additionalInfo.dateOfVerif}}</th>
    </tr>
    <tr>
        <th>Бажаний час</th>
        <th>{{additionalInfo.time}}</th>
    </tr>
    <tr>
        <th>Справність сантехніки</th>
        <th>{{additionalInfo.serviceability}}</th>
    </tr>
    <tr>
        <th>Вода відсутня до: </th>
        <th>{{additionalInfo.noWaterToDate}}</th>
    </tr>
    <tr>
        <th>Примітки: </th>
        <th>{{additionalInfo.notes}}</th>
    </tr>
    </tbody>
</table>