<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="modal-body">
    <form name="calibrationTestFormEdit" novalidate>

        <div class="row">
            <div class="form-group col-md-4">
                <label class="control-label">Назва тесту:</label>
            </div>
            <div class="form-group col-md-8" show-errors>
                <input type="text"
                       ng-model="calibrationTest.name"
                       name="name" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label class="control-label">Температура*:</label>
            </div>
            <div class="form-group col-md-8" show-errors>
                <input type="text"
                       ng-model="calibrationTest.temperature"
                       name="temperature" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="control-label">Номер установки:</label>
            </div>
            <div class="form-group col-md-8">
                <input type="text" ng-model="calibrationTest.settingNumber" name="settingNumber" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="control-label">Широта:</label>
            </div>
            <div class="form-group col-md-8">
                <input type="text" ng-model="calibrationTest.latitude" name="latitude" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="control-label">Довгота:</label>
            </div>
            <div class="form-group col-md-8">
                <input type="text" ng-model="calibrationTest.longitude" name="longitude" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="control-label">Статус споживання:</label>
            </div>
            <div class="form-group col-md-8">
                <input type="text" ng-model="calibrationTest.consumptionStatus" name="consumptionStatus" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="control-label">Результат тесту:</label>
            </div>
            <div class="form-group col-md-8">
                <input type="text" ng-model="calibrationTest.testResult" name="testResult" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-10">
                <button class="btn btn-success" ng-click="editTest()">Редагувати тест</button>
                <a class="btn btn-warning" ng-click="resetTestForm()">Скинути форму</a>
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-danger pull-right" ng-click="closeModal()">Закрити</button>
            </div>
        </div>
    </form>

</div>
</body>
</html>