<div id="taskModel" class="modal-content" xmlns="http://www.w3.org/1999/html">
    <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">{{'TASK_TITLE' | translate}}
            <strong style="color: green;">{{verifId}}</strong></h3>
        <h4 class="modal-title" ng-show="showSendingMessage"><strong style="color: red;">{{'SEND_MESSAGE' | translate}}</strong></h4>
    </div>
    <div class="modal-body">
        <form name="formTask" novalidate>
            <p class="validation-message" ng-show="incorrectValue">{{'ERROR_VALIDATION' |  translate}}</p>
            <!-- CALIBRATION PLACE -->
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">{{'CALIBRATION_PLACE' | translate}}</label>
                </div>
                <div class="form-group col-md-8">
                    <select chosen data-placeholder="{{'CHOOSE_CALIBRATION_PLACE'| translate}}" class="form-control" ng-model="calibrationTask.place"
                            class="col-xs-5 selectContainer"
                            id="place" name="place" allow-single-deselect="true"
                            disable-search="true" required>
                        <option type="text" value="mobile_station">Мобільна станція</option>
                        <option type="text" value="stationary_station">Стаціонарна станція</option>
                    </select>
                    <div ng-show="formTask.$submitted || formTask.place.$touched">
                        <div ng-show="formTask.place.$error.required">
                            <span style="color: red" class="glyphicon glyphicon-exclamation-sign"> </span>{{'REQUIRED' | translate}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Field of application (WATER or TERMAL) -->
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">{{'APPLICATION_FIELD' | translate}}</label>
                </div>
                <div class="form-group col-md-8">
                    <select chosen data-placeholder="{{'CHOOSE_APPLICATION_FIELD'| translate}}" class="form-control" ng-model="calibrationTask.applicationFiled"
                            class="col-xs-5 selectContainer"
                            id="applicationFiled" name="applicationFiled" allow-single-deselect="true"
                            disable-search="true" required>
                        <option type="text" value="THERMAL">Гаряча вода</option>
                        <option type="text" value="WATER">Вода</option>
                        <option type="text" value="GASEOUS">Газ</option>
                        <option type="text" value="ELECTRICAL">Електрика</option>
                    </select>
                    <div ng-show="formTask.$submitted || formTask.applicationFiled.$touched">
                        <div ng-show="formTask.applicationFiled.$error.required">
                            <span style="color: red" class="glyphicon glyphicon-exclamation-sign"> </span>{{'REQUIRED' | translate}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- COUNTER STATUS -->
            <div class="row" ng-hide="checkPlace()">
                <div class="form-group col-md-4">
                    <label class="control-label">{{'COUNTER' | translate}}</label>
                </div>
                <div class="form-group col-md-8">
                    <select chosen data-placeholder="{{'CHOOSE_COUNTER_STATUS'| translate}}" class="form-control" ng-model="calibrationTask.counterStatus"
                            class="col-xs-5 selectContainer"
                            id="counterStatus" name="counterStatus" allow-single-deselect="true" disable-search="true"
                            required>
                        <option value="removed">Демонтований</option>
                        <option value="not_removed">Не демонтований</option>
                    </select>
                    <div ng-show="formTask.$submitted || formTask.$touched">
                        <div ng-show="formTask.$error.required">
                            <span style="color: red" class="glyphicon glyphicon-exclamation-sign"> </span>{{'REQUIRED' | translate}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- MOUNTING CREW -->
            <div class="row" ng-hide="checkCounterStatus()">
                <div class="form-group col-md-4">
                    <label class="control-label">{{'MOUNTING_CREW' | translate}}</label>
                </div>
                <div class="form-group col-md-8">
                    <select chosen data-placeholder="{{'CHOOSE_MOUNTING_CREW'| translate}}" class="form-control" ng-model="calibrationTask.mountingCrew"
                            class="col-xs-5 selectContainer"
                            id="mountingCrew" name="mountingCrew" allow-single-deselect="true" disable-search="true" required>
                    </select>
                    <div ng-show="formTask.$submitted || formTask.$touched">
                        <div ng-show="formTask.$error.required">
                            <span style="color: red" class="glyphicon glyphicon-exclamation-sign"> </span>{{'REQUIRED' | translate}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- DATE OF VISIT -->
            <div class="row">
                <div class="form-group col-md-4" >
                    <label class="control-label">{{'DATE_OF_VISIT'| translate }}</label>
                </div>

                <div class="form-group col-md-8" ng-class="dateValidation.css" >
                    <div class="input-group right-inner-addon" style="width: 100%">
                        <span class="input-group-btn" style="height: 100%">
                            <button type="button" class="btn btn-default myGroupBtn" ng-click="open1($event)">
                                <i class="glyphicon glyphicon-calendar" ></i>
                            </button>
                        </span>
                        <input type="text" class="form-control date-picker" datepicker-popup
                               ng-model="calibrationTask.taskDate"
                               is-open="firstCalendar.isOpen"
                               min-date="minDate" max-date="maxDate"
                               datepicker-options="dateOptions"
                               date-disabled="disabled(date, mode)" close-text="Close"
                               ng-change="receiveModuleNumbers()" readonly required/>
                         <span class="input-group-btn">
                               <button type="button" class="btn btn-default myGroupBtn"
                                         ng-show="!isDateDefault()"
                                         ng-click="clearDate1()">
                                  <i class="glyphicon glyphicon-remove"></i>
                               </button>
                         </span>


                    </div>
                    <div ng-show="formTask.$submitted || formTask.date.$touched">
                        <div ng-show="formTask.date.$error.required">
                            <span style="color: red" class="glyphicon glyphicon-exclamation-sign"> </span>{{'REQUIRED' | translate}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- INSTALLATION NUMBER -->
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">{{'INSTALLATION_NUMBER'| translate }}</label>
                </div>
                <div class="form-group col-md-8" ng-class="installationNumberValidation.css">
                    <select chosen id="district" name="district" class="form-control" type="text"
                            ng-model="calibrationTask.installationNumber"
                            allow-single-deselect="false"
                            ng-options="option for option in modulesSerialNumbers | filter"
                            required>
                    </select>
                    <div ng-show="formTask.$submitted || formTask.installationNumber.$touched">
                        <div ng-show="formTask.installationNumber.$error.required">
                            <span style="color: red" class="glyphicon glyphicon-exclamation-sign"> </span>{{'REQUIRED' | translate}}
                        </div>
                    </div>

                    <p class="validation-message" ng-show="installationNumberValidation.isValid">{{'INSTALLATION_NUMBER_REGEX' | translate}}</p>
                </div>
            </div>


               <!-- <button type="button" class="btn btn-default" ng-click="openAdditionalInformation()" style="margin-bottom: 15px; ">
                    <i class="fa fa-info fa-lg"></i>
                        {{'INFO_BUTTON' | translate}}</button>
                </button>-->


            <!-- ENTRANCE -->
           <!-- <div class="row" ng-show="showStatus.opened">
                <div class="form-group col-md-4">
                    <label class="control-label">{{'ENTRANCE' | translate}}</label>
                </div>
                <div class="form-group col-md-8" ng-class="floorValidation.css">
                    <input type="text"
                           ng-model="calibrationTask.entrance"
                           ng-change="checkAll('entrance')"
                           id="entrance" name="entrance" class="form-control">

                    <p class="validation-message" ng-show="entranceValidation.isValid">{{'FLOOR_REGEX' |  translate}}</p>
                </div>
            </div>

            <!-- DOOR CODE
            <div class="row" ng-show="showStatus.opened">
                <div class="form-group col-md-4">
                    <label class="control-label">{{'DOOR_CODE' | translate}}</label>
                </div>
                <div class="form-group col-md-8" ng-class="floorValidation.css">
                    <input type="text"
                           ng-model="calibrationTask.doorCode"
                           ng-change="checkAll('doorCode')"
                           id="doorCode" name="doorCode" class="form-control">

                    <p class="validation-message" ng-show="doorCodeValidation.isValid">{{'DOOR_CODE_REGEX' |  translate}}</p>
                </div>
            </div>

            <!-- FLOOR
            <div class="row" ng-show="showStatus.opened">
                <div class="form-group col-md-4">
                    <label class="control-label">{{ 'FLOOR' | translate}}</label>
                </div>
                <div class="form-group col-md-8" ng-class="floorValidation.css">
                    <input type="text"
                           ng-model="calibrationTask.floor"
                           ng-change="checkAll('floor')"
                           id="floor" name="floor" class="form-control">

                    <p class="validation-message" ng-show="floorValidation.isValid">{{'FLOOR_REGEX' |  translate}}</p>
                </div>
            </div>

            <!-- DATE OF verification/disassembly
            <div class="row" ng-show="showStatus.opened">
                <div class="form-group col-md-4" >
                    <label class="control-label">{{'DATE_OF_VERIF/DISASSEMBLY'| translate }}</label>
                </div>

                <div class="form-group col-md-8" ng-class="dateValidation.css" >
                    <div class="input-group right-inner-addon" style="width: 100%">
                <span class="input-group-btn" style="height: 100%">
                     <button type="button" class="btn btn-default myGroupBtn" ng-click="open2($event)">
                         <i class="glyphicon glyphicon-calendar" ></i>
                     </button>
                </span>

                        <input type="text" class="form-control date-picker" datepicker-popup
                               ng-model="calibrationTask.dateOfVerif"
                               is-open="secondCalendar.isOpen"
                               min-date="minDate" max-date="maxDate"
                               datepicker-options="dateOptions"
                               date-disabled="disabled(date, mode)" close-text="Close"
                               ng-change="receiveModuleNumbers()" readonly required/>
                         <span class="input-group-btn">
                               <button type="button" class="btn btn-default myGroupBtn"
                                       ng-show="!isDateDefault()"
                                       ng-click="clearDate2()">
                                   <i class="glyphicon glyphicon-remove"></i>
                               </button>
                         </span>


                    </div>
                    <div ng-show="formTask.$submitted || formTask.date.$touched">
                        <div ng-show="formTask.date.$error.required">
                            <span style="color: red" class="glyphicon glyphicon-exclamation-sign"> </span>{{'REQUIRED' | translate}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- TIME OF CALIBRATION
            <div class="row" ng-show="showStatus.opened">
                <div class="form-group col-md-4">
                    <label class="control-label">{{ 'TIME_OF_CALIBRATION' | translate}}</label>
                </div>
                <div class="form-group col-md-8" ng-class="timeValidation.css">
                    <input type="text"
                           ng-model="calibrationTask.time"
                           ng-change="checkAll('time')"
                           id="time" name="time" class="form-control">

                    <p class="validation-message" ng-show="timeValidation.isValid">{{'TIME_REGEX' |  translate}}</p>
                </div>
            </div>

            <!-- Plumbing serviceability
            <div class="row" ng-show="showStatus.opened">
                <div class="form-group col-md-4">
                    <label class="control-label">{{ 'PLUMBING_SERVICEABILITY' | translate}}</label>
                </div>
                <div class="form-group col-md-8">
                    <input type="checkbox" checked="checked" ng-checked="true"
                           ng-model="calibrationTask.serviceability"
                           id="serviceability" name="serviceability" class="form-control"/>
                </div>
            </div>

            <!-- No water to date
            <div class="row" ng-show="showStatus.opened">
                <div class="form-group col-md-4" >
                    <label class="control-label">{{'NO_WATER_TO'| translate }}</label>
                </div>

                <div class="form-group col-md-8" ng-class="dateValidation.css" >
                    <div class="input-group right-inner-addon" style="width: 100%">
                <span class="input-group-btn" style="height: 100%">
                     <button type="button" class="btn btn-default myGroupBtn" ng-click="open3($event)">
                         <i class="glyphicon glyphicon-calendar" ></i>
                     </button>
                </span>

                        <input type="text" class="form-control date-picker" datepicker-popup
                               ng-model="calibrationTask.noWaterToDate"
                               is-open="thirdCalendar.isOpen"
                               min-date="minDate" max-date="maxDate"
                               datepicker-options="dateOptions"
                               date-disabled="disabled(date, mode)" close-text="Close"
                               ng-change="receiveModuleNumbers()" readonly required/>
                         <span class="input-group-btn">
                               <button type="button" class="btn btn-default myGroupBtn"
                                       ng-show="!isDateDefault()"
                                       ng-click="clearDate3()">
                                   <i class="glyphicon glyphicon-remove"></i>
                               </button>
                         </span>
                    </div>
                    <div ng-show="formTask.$submitted || formTask.date.$touched">
                        <div ng-show="formTask.date.$error.required">
                            <span style="color: red" class="glyphicon glyphicon-exclamation-sign"> </span>{{'REQUIRED' | translate}}
                        </div>
                    </div>
                </div>
            </div>

           <!-- NOTES
            <div class="row" ng-show="showStatus.opened">
                <div class="form-group col-md-4">
                    <label class="control-label">{{'NOTES' | translate}}</label>
                </div>
                <div class="form-group col-md-8">
                   <textarea type="text" rows="5" cols="45" ng-model="calibrationTask.notes"
                             id="notes" name="notes" class="form-control"></textarea>
                </div>
            </div>-->

            <!-- BUTTONS -->
            <div class="row">
                <div class="form-group col-md-10">
                    <button class="btn btn-success" ng-click="save()">{{'SAVE' | translate}}</button>
                    <a class="btn btn-warning" ng-click="resetTaskForm()">{{'RESET' | translate}}</a>
                </div>
                <div class="form-group col-md-2">
                    <button class="btn btn-danger pull-right" ng-click="closeModal()">{{'CLOSE'| translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
