<div class="modal-body" ng-show="isShownForm">
    <form name="clientForm" ng-submit="sendApplicationData()" novalidate>

        <accordion close-others="true">
            <div class="panel panel-primary">
                <accordion-group is-open="generalInformation">
                    <accordion-heading>
                        <div class="panel-heading">
                            {{'GENERAL_INFORMATION' | translate }}
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': generalInformation,
                            'glyphicon-chevron-right': !generalInformation}"></i>
                        </div>
                    </accordion-heading>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4 form-group">
                                    <label for="lastName">{{'LAST_NAME' | translate}} </label>
                                </div>
                                <div class="col-md-8 form-group" show-errors>
                                    <input id="lastName" name="lastName" class="form-control" type="text"
                                           ng-model="formData.lastName"
                                           popover="{{'ALPHABETIC_INFO' | translate}}"
                                           popover-trigger="focus" popover-placement="right"
                                           ng-pattern="FIRST_LAST_NAME_REGEX"
                                           required>
                                    <span class="form-control-feedback glyphicon  form-horizontal glyphicon glyphicon-ok-sign"
                                          id="okFeedBack"></span>

                                    <p class="help-block" ng-if="clientForm.lastName.$error.required">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        {{'REQUIRED' | translate}}
                                    </p>

                                    <p class="help-block" ng-if="clientForm.lastName.$error.pattern">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        {{'DOUBLE_NAME_ERROR' | translate}}
                                    </p>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 form-group">
                                    <label for="firstName">
                                        {{'FIRST_NAME' | translate}} </label>
                                </div>
                                <div class="col-md-8 form-group" show-errors>
                                    <input id="firstName" name="firstName" class="form-control"
                                           ng-model="formData.firstName"
                                           popover="{{'ALPHABETIC_INFO' | translate}}" popover-trigger="focus"
                                           popover-placement="right"
                                           ng-pattern="FIRST_LAST_NAME_REGEX" required>
                                    <span class="form-control-feedback glyphicon  form-horizontal glyphicon glyphicon-ok-sign"
                                          id="okFeedBack"></span>

                                    <p class="help-block" ng-if="clientForm.firstName.$error.required">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        {{'REQUIRED' | translate}}
                                    </p>

                                    <p class="help-block" ng-if="clientForm.firstName.$error.pattern">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        {{'DOUBLE_NAME_ERROR' | translate}}
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 form-group">
                                    <label for="middleName">
                                        {{'MIDDLE_NAME' | translate}} </label>
                                </div>
                                <div class="col-md-8 form-group" show-errors>
                                    <input id="middleName" name="middleName" type="text" class="form-control"
                                           ng-model="formData.middleName"
                                           popover="{{'MIDDLE_NAME_INFO' | translate}}" popover-trigger="focus"
                                           popover-placement="right" ng-pattern="MIDDLE_NAME_REGEX" required>
                                    <span class="form-control-feedback glyphicon  form-horizontal glyphicon glyphicon-ok-sign"
                                          id="okFeedBack"></span>

                                    <p class="help-block" ng-if="clientForm.middleName.$error.required">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        {{'REQUIRED' | translate}}
                                    </p>

                                    <p class="help-block" ng-if="clientForm.middleName.$error.pattern">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        {{'ALPHABETIC_ERROR' | translate}}
                                    </p>
                                </div>
                            </div>

                            <div class="form-group" show-errors>
                                <div class="col-md-4 form-group">
                                    <label for="email">
                                        {{'EMAIL' | translate}} </label>
                                </div>

                                <div class="col-md-8 form-group" show-errors>
                                    <input id="email" name="email" type="email" class="form-control"
                                           ng-model="formData.email"
                                           placeholder="example@gmail.com"
                                           ng-pattern="EMAIL_REGEX" required>
                                <span class="form-control-feedback glyphicon  form-horizontal glyphicon glyphicon-ok-sign"
                                      id="okFeedBack"></span>

                                    <p class="help-block" ng-if="clientForm.email.$error.email">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        {{'EMAIL_ERROR' | translate}}<i>example@gmail.com</i>
                                    </p>

                                    <p class="help-block" ng-if="clientForm.email.$error.required">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        {{'REQUIRED' | translate}}
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4 form-group">
                                    <label for="phoneNumber">
                                        {{'PHONE_NUMBER' | translate}} </label>
                                </div>
                                <div class="col-md-8 form-group" show-errors>
                                    <div>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon-code">+380</span>
                                            <input id="phoneNumber" name="phoneNumber" type="tel"
                                                   class="form-control col-md-8 "
                                                   ng-model="formData.phone"
                                                   placeholder="XXXXXXXXX" ng-pattern="PHONE_REGEX" required>
                                            <span class="input-group-addon">{{'SECOND_PHONE' |translate}}</span>
					            			<span class="input-group-addon">
								 	            <input type="checkbox" ng-model="checkboxModel">
								            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="help-block col-md-8 col-md-offset-2"
                                       ng-if="clientForm.phoneNumber.$error.pattern">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        {{'PHONE_NUMBER_ERROR' | translate}}

                                    <p class="help-block col-md-8 col-md-offset-2"
                                       ng-if="clientForm.email.$error.required">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        {{'REQUIRED' | translate}}
                                    </p>
                                </div>
                            </div>
                            <div class="form-group" ng-show="checkboxModel">
                                <div class="col-md-4 form-group">
                                    <label for="phoneNumberSecond">
                                        {{'SECOND_PHONE' | translate}} </label>
                                </div>
                                <div class="col-md-8 form-group" show-errors>
                                    <div>
                                        <div class="input-group" ng-show="checkboxModel">

                                            <span class="input-group-addon" id="basic-addon-code">+380</span>
                                            <input id="phoneNumberSecond" name="phoneNumberSecond" class="form-control"
                                                   ng-model="formData.secondPhone"
                                                   placeholder="XXXXXXXXX" ng-pattern="PHONE_REGEX_SECOND"
                                                   popover="{{'PHONE_NUMBER_INFO' | translate}}"
                                                   popover-trigger="focus" popover-placement="right">
                                        </div>
                                        <span class="form-control-feedback glyphicon  form-horizontal glyphicon glyphicon-ok-sign"
                                              id="okFeedBack" ng-show="checkboxModel"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="help-block col-md-8 col-md-offset-2"
                                       ng-if="clientForm.phoneNumberSecond.$error.pattern">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        {{'PHONE_NUMBER_ERROR' | translate}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </accordion-group>
            </div>

            <div class="panel panel-primary">
                <accordion-group is-open="location.open">
                    <accordion-heading>
                        <div class="panel-heading">
                            {{'LOCATION' | translate}}
                            <i class="pull-right glyphicon"
                               ng-class="{'glyphicon-chevron-down': location.open,
                   '            glyphicon-chevron-right': !location.open}"></i>
                        </div>
                    </accordion-heading>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4 form-group">
                                    <label for="region">
                                        {{'REGION' | translate}} </label>
                                </div>
                                <div class="col-md-8 form-group" show-errors>
                                    <ui-select class="form-control" type="text" theme="select2"
                                               ng-model="selectedData.region"
                                               on-select="receiveDistricts(selectedData.region)"
                                               name="region" id="region">
                                        <ui-select-match placeholder="{{'SELECT_REGION' | translate}}"
                                                         allow-clear="true">
                                            {{$select.selected.designation}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="region in regions | filter: $select.search">
                                            <span ng-bind-html="region.designation"></span>
                                        </ui-select-choices>
                                    </ui-select>

                                    <p class="help-block">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        {{'TYPEAHEAD_ERROR' | translate}}
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 form-group">
                                    <label for="district">{{'DISTRICT' | translate}}</label>
                                </div>
                                <div class="col-md-8 form-group" show-errors>
                                    <ui-select class="form-control" type="text" theme="select2"
                                               ng-model="selectedData.district"
                                               ng-disabled="!selectedData.region"
                                               on-select="receiveLocalitiesAndProviders(selectedData.district)"
                                               name="district" id="district" required>
                                        <ui-select-match placeholder="{{'SELECT_DISTRICT' | translate}}"
                                                         allow-clear="true">
                                            {{$select.selected.designation}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="district in districts | filter: $select.search">
                                            <span ng-bind-html="district.designation"></span>
                                        </ui-select-choices>
                                    </ui-select>

                                    <p class="help-block">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        {{'TYPEAHEAD_ERROR' | translate}}
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 form-group">
                                    <label for="locality">
                                        {{'LOCALITY' | translate}} </label>
                                </div>

                                <div class="col-md-8 form-group" show-errors>
                                    <ui-select class="form-control" type="text" theme="select2"
                                               ng-model="selectedData.locality"
                                               ng-disabled="!selectedData.district"
                                               on-select="receiveStreets(selectedData.locality,selectedData.district)"
                                               name="locality" id="locality" required>
                                        <ui-select-match placeholder="{{'SELECT_LOCALITY' | translate}}"
                                                         allow-clear="true">
                                            {{$select.selected.designation}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="locality in localities | filter: $select.search">
                                            <span ng-bind-html="locality.designation"></span>
                                        </ui-select-choices>
                                    </ui-select>

                                    <p class="help-block">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        {{'TYPEAHEAD_ERROR' | translate}}
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4" form-group>
                                    <label for="index"> {{'INDEX' | translate}}
                                    </label>
                                </div>

                                <div class="col-md-8 form-group" show-errors>
                                    <ui-select class="form-control" type="text" theme="select2"
                                               ng-model="selectedData.index"
                                               ng-disabled="!selectedData.locality"
                                               name="index" id="index" required>
                                        <ui-select-match placeholder="{{'INDEX' | translate}}" allow-clear="true">
                                            {{$select.selected}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="index  in indexes | filter: $select.search">
                                            <span ng-bind-html="index"></span>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 form-group">
                                    <label for="street">
                                        {{'STREET' | translate}} </label>
                                </div>
                                <div class="col-md-8 form-group" show-errors>
                                    <div class="pull-left col-lg-3" id="typeStreet">
                                        <ui-select class="form-control" type="text" theme="select2"
                                                   ng-model="selectedData.selectedStreetType"
                                                   name="street" id="street" required>
                                            <ui-select-match placeholder="{{'TYPE_OF_STREET' | translate}}"
                                                             allow-clear="true">
                                                {{$select.selected.designation}}
                                            </ui-select-match>
                                            <ui-select-choices
                                                    repeat="streetsType in streetsTypes | filter: $select.search">
                                                <span ng-bind-html="streetsType.designation"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-md-9" id="streetBox">
                                        <input name="street" class="form-control" type="text"
                                               ng-model="selectedData.selectedStreet"
                                               ng-disabled="!selectedData.selectedStreetType"
                                               typeahead="street as street.designation for street in streets | filter: $viewValue | limitTo: 4"
                                               ng-pattern="STREET_REGEX"
                                               autocomplete="off"
                                               typeahead-editable="false"
                                               typeahead-on-select="receiveBuildings(selectedData.selectedStreet)"
                                               required>


                                    </div>
                                    <span class="form-control-feedback glyphicon form-horizontal glyphicon glyphicon-ok-sign"
                                          id="okFeedBack"></span>

                                </div>
                                <p class="help-block col-md-offset-2">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    {{'DOUBLE_NAME_ERROR' | translate}}
                                </p>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 form-group">
                                    <label for="building">
                                        {{'BUILDING' | translate}} </label>
                                </div>
                                <div class="col-md-8 form-group" show-errors>
                                    <input id="building" name="building" class="form-control"
                                           ng-model="selectedData.selectedBuilding"
                                           typehead="building as building.designation for building in buildings | filter: $viewValue"
                                           ng-pattern="BUILDING_REGEX" required>
                                    <span class="form-control-feedback glyphicon form-horizontal glyphicon glyphicon-ok-sign"
                                          id="okFeedBack"></span>

                                    <p class="help-block">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        {{'REQUIRED' | translate}}
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 form-group">
                                    <label for="flat">{{'FLAT' | translate}}</label>
                                </div>
                                <div class="col-md-8 form-group" show-errors>
                                    <input id="flat" name="flat" class="form-control"
                                           ng-model="formData.flat" popover="{{'FLAT_INFO' | translate}}"
                                           popover-trigger="focus" popover-placement="right"
                                           ng-pattern="FLAT_REGEX" required>
                                    <span class="form-control-feedback glyphicon form-horizontal glyphicon glyphicon-ok-sign"
                                          id="okFeedBack"></span>

                                    <p class="help-block" ng-if="clientForm.flat.$error.required">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        {{'REQUIRED' | translate}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </accordion-group>
            </div>

            <div class="panel panel-primary">
                <accordion-group is-open="counter.open">
                    <accordion-heading>
                        <div class="panel-heading">
                            {{'COUNTER_' | translate}}
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': counter.open,
                                'glyphicon-chevron-right': !counter.open}"></i>
                        </div>
                    </accordion-heading>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group">
                                <div class="col-md-4 form-group">
                                    <label for="device">
                                        {{'COUNTER_CATEGORY' | translate}} </label>
                                </div>
                                <div class="col-md-8 form-group" show-errors>
                                    <div class="pull-left col-lg-3" id="counterNumber">
                                        <ui-select class="form-control" type="text" theme="select2"
                                                   ng-model="selectedData.selectedCount"
                                                   name="device" id="device" required>
                                            <ui-select-match allow-clear="false">
                                                {{$select.selected}}
                                            </ui-select-match>
                                            <ui-select-choices
                                                    repeat="option in deviceCountOptions | filter: $select.search">
                                                <span ng-bind-html="option"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-md-9 pull-right" id="deviceBox">
                                        <ui-select class="form-control" type="text" theme="select2"
                                                   ng-model="selectedData.selectedDevice"
                                                   on-select="receiveProviders(selectedData.selectedDevice)"
                                                   name="device" required>
                                            <ui-select-match placeholder="{{'COUNTER_CATEGORY' | translate}}"
                                                             allow-clear="true">
                                                {{$select.selected.designation}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="device in devices | filter: $select.search">
                                                <span ng-bind-html="device.designation"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <p class="help-block">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        {{'TYPEAHEAD_ERROR' | translate}}
                                    </p>
                                </div>
                            </div>

                            <div class="form-group" ng-show="isProvider>0">
                                <label for="provider" class="col-md-4 control-label">
                                    {{'I_AM_PROVIDER' | translate}}
                                </label>

                                <div class="col-md-8 pull-left">
                                    <input type="checkbox" class="form-control" ng-model="providerDefined">
                                </div>
                            </div>
                            <div class="form-group" show-errors ng-hide="providerDefined">
                                <div class="col-md-4">
                                    <label for="provider" class="control-label">
                                        {{'PROVIDER' | translate}} </label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <ui-select class="form-control" type="text" theme="select2"
                                               ng-model="selectedData.selectedProvider"
                                               ng-required="!providerDefined"
                                               name="provider" id="provider">
                                        <ui-select-match placeholder="{{'PROVIDER' | translate}}" allow-clear="true">
                                            {{$select.selected.designation}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="provider in providers | filter: $select.search">
                                            <span ng-bind-html="provider.designation"></span>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                            </div>

                            <div class="form-group" ng-show="providerDefined">
                                <div class="col-md-4 form-group">
                                    <label for="provider" class="control-label">{{ 'PROVIDER' | translate}} </label>
                                </div>
                                <div class="col-md-8 form-group" show-errors>
                                    <input id="providerInfo" name="providerInfo" class="form-control"
                                           ng-model="selectedProvider.designation"
                                           placeholder={{selectedProvider.designation}}
                                           readonly>
                                </div>
                            </div>

                            <!-- ISdismantled  -->
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">{{ 'DISMANTLED_COUNTER' | translate}}</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="checkbox" ng-value="true" checked
                                           ng-model="selectedData.dismantled"
                                           id="dismantled" name="dismantled" class="form-control"/>
                                    <br>
                                </div>
                            </div>

                            <!-- DATE OF dismantled  -->
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">{{' DATE_OF_DISMANTLED '| translate }}</label>
                                </div>

                                <div class="col-md-8" ng-class="dateValidation.css">
                                    <div class="input-group right-inner-addon">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default myGroupBtn" ng-click="open3($event)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>

                                        <input type="text" class="form-control date-picker" datepicker-popup
                                               ng-model="selectedData.dateOfDismantled "
                                               is-open="thirdCalendar.isOpen"
                                               min-date="minDate" max-date="maxDate"
                                               datepicker-options="dateOptions"
                                               date-disabled="disabled(date, mode)" close-text="Close"
                                               ng-change="receiveModuleNumbers()" readonly/>
                                         <span class="input-group-btn">
                                    <button type="button" class="btn btn-default myGroupBtn"
                                            ng-show="!isDateDefault()"
                                            ng-click="clearDateOfDismantled()">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </span>
                                    </div>
                                    <br>
                                </div>
                            </div>

                            <!-- DATE OF assembling  -->
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">{{' DATE_OF_MOUNTED '| translate }}</label>
                                </div>

                                <div class="col-md-8">
                                    <div class="input-group right-inner-addon">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default myGroupBtn" ng-click="open4($event)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>

                                        <input type="text" class="form-control date-picker" datepicker-popup
                                               ng-model="selectedData.dateOfMounted"
                                               is-open="fourthCalendar.isOpen"
                                               min-date="minDate" max-date="maxDate"
                                               datepicker-options="dateOptions"
                                               date-disabled="disabled(date, mode)" close-text="Close"
                                               ng-change="receiveModuleNumbers()" readonly/>
                                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default myGroupBtn"
                                            ng-show="!isDateDefault()"
                                            ng-click="clearDateOfMounted()">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </span>
                                    </div>
                                    <br>
                                </div>
                            </div>

                            <!-- Comment-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="comment">
                                    {{'APPLICATION_COMMENT' | translate}}
                                </label>

                                <div class="col-md-8">
                            <textarea id="comment" name="comment" class="form-control" rows="3"
                                      ng-model="formData.comment" maxlength="254">
                            </textarea>
                                    <br>
                                </div>
                            </div>

                            <!--NUMBER OF COUNTER-->
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label for="counterNumber" class="control-label">{{' NUMBER_OF_COUNTER ' |
                                        translate}}</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text"
                                           ng-model="selectedData.numberCounter"
                                           id="numberCounter" name="numberCounter" class="form-control">
                                    <br>
                                </div>
                            </div>

                            <!--SYMBOL OF COUNTER-->
                            <div class="form-group" show-errors>
                                <div class="col-md-4">
                                    <label for="symbol" class="control-label">
                                        {{' SYMBOL_OF_COUNTER ' | translate}}
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <ui-select class="form-control" type="text" theme="select2"
                                               ng-model="selectedData.counterSymbol"
                                               ng-required="selectedData.dismantled"
                                               on-select="recieveStandardSizesBySymbol(selectedData.counterSymbol)"
                                               name="symbol" id="symbol">
                                        <ui-select-match allow-clear="false">
                                            {{$select.selected.symbol}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="counterSymbol in symbols | filter: $select.search">
                                            <span ng-bind-html="counterSymbol.symbol"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <br>
                                </div>
                            </div>

                            <!--STANDART_SIZE_OF_COUNTER standard sizeSYMBOL OF COUNTER-->
                            <div class="form-group" show-errors>
                                <div class="col-md-4">
                                    <label for="standardSize" class="control-label">
                                        {{' STANDART_SIZE_OF_COUNTER ' | translate}}
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <ui-select class="form-control" type="text" theme="select2"
                                               ng-model="selectedData.counterStandardSize"
                                               ng-required="selectedData.dismantled"
                                               ng-disabled="!selectedData.counterSymbol"
                                               name="standardSize" id="standardSize">
                                        <ui-select-match allow-clear="false">
                                            {{$select.selected.standardSize}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="counterStandardSize in standardSizes | filter: $select.search">
                                            <span ng-bind-html="counterStandardSize.standardSize"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <br>
                                </div>
                            </div>

                            <!--YEAR OF COUNTER-->
                            <div class="form-group" show-errors>
                                <div class="col-md-4">
                                    <label for="releaseYear" class="control-label">{{' YEAR OF COUNTER ' |
                                        translate}}</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text"
                                           ng-model="selectedData.releaseYear"
                                           ng-required="selectedData.dismantled"
                                           id="releaseYear" name="releaseYear" class="form-control">
                                    <br>
                                </div>
                            </div>

                        </div>
                    </div>
                </accordion-group>
            </div>

            <div class="panel panel-primary">
                <accordion-group is-open="info.open">
                    <accordion-heading>
                        <div class="panel-heading">
                            {{'INFO_BUTTON' | translate}}
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': info.open,
                        'glyphicon-chevron-right': !info.open}"></i>
                        </div>
                    </accordion-heading>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group">

                                <!-- ENTRANCE -->
                                <div class="form-group col-md-4">
                                    <label class="control-label">{{'ENTRANCE' | translate}}</label>
                                </div>
                                <div class="form-group col-md-8" ng-class="floorValidation.css">
                                    <input type="text"
                                           ng-model="addInfo.entrance"
                                           ng-change="checkAll('entrance')"
                                           id="entrance" name="entrance" class="form-control">

                                    <p class="validation-message" ng-show="entranceValidation.isValid">
                                        {{'FLOOR_REGEX' | translate}}</p>
                                </div>

                                <!-- DOOR CODE-->
                                <div class="form-group col-md-4">
                                    <label class="control-label">{{'DOOR_CODE' | translate}}</label>
                                </div>
                                <div class="form-group col-md-8" ng-class="floorValidation.css">
                                    <input type="text"
                                           ng-model="addInfo.doorCode"
                                           ng-change="checkAll('doorCode')"
                                           id="doorCode" name="doorCode" class="form-control">

                                    <p class="validation-message" ng-show="doorCodeValidation.isValid">
                                        {{'DOOR_CODE_REGEX' | translate}}</p>
                                </div>

                                <!-- FLOOR -->
                                <div class="form-group col-md-4">
                                    <label class="control-label">{{ 'FLOOR' | translate}}</label>
                                </div>
                                <div class="form-group col-md-8" ng-class="floorValidation.css">
                                    <input type="text"
                                           ng-model="addInfo.floor"
                                           ng-change="checkAll('floor')"
                                           id="floor" name="floor" class="form-control">

                                    <p class="validation-message" ng-show="floorValidation.isValid">
                                        {{'FLOOR_REGEX' | translate}}</p>
                                </div>

                                <!-- DATE OF verification/disassembly -->

                                <div class="form-group col-md-4">
                                    <label class="control-label">{{'DATE_OF_VERIF/DISASSEMBLY'| translate }}</label>
                                </div>

                                <div class="form-group col-md-8" ng-class="dateValidation.css">
                                    <div class="input-group right-inner-addon">
                                    <span class="input-group-btn">
                                         <button type="button" class="btn btn-default myGroupBtn"
                                                 ng-click="open1($event)">
                                             <i class="glyphicon glyphicon-calendar"></i>
                                         </button>
                                    </span>

                                        <input type="text" class="form-control date-picker" datepicker-popup
                                               ng-model="addInfo.dateOfVerif"
                                               is-open="firstCalendar.isOpen"
                                               min-date="minDate" max-date="maxDate"
                                               datepicker-options="dateOptions"
                                               date-disabled="disabled(date, mode)" close-text="Close"
                                               ng-change="receiveModuleNumbers()" readonly/>
                                              <span class="input-group-btn">
                                                   <button type="button" class="btn btn-default myGroupBtn"
                                                           ng-show="!isDateDefault()"
                                                           ng-click="clearDate1()">
                                                       <i class="glyphicon glyphicon-remove"></i>
                                                   </button>
                                              </span>
                                    </div>
                                    <br>
                                </div>

                                <!-- TIME OF CALIBRATION -->
                                <div class="form-group col-md-4">
                                    <label class="control-label">{{ 'TIME_OF_CALIBRATION' | translate}}</label>
                                </div>
                                <div class="form-group col-md-8" ng-class="timeValidation.css">
                                    <input type="text"
                                           ng-model="addInfo.time"
                                           ng-change="checkAll('time')"
                                           id="time" name="time" class="form-control">

                                    <p class="validation-message" ng-show="timeValidation.isValid">{{'TIME_REGEX' |
                                        translate}}</p>
                                </div>

                                <!-- Plumbing serviceability -->
                                <div class="form-group col-md-4">
                                    <label class="control-label">{{ 'PLUMBING_SERVICEABILITY' | translate}}</label>
                                </div>
                                <div class="form-group col-md-8">
                                    <input type="checkbox" ng-value="true" checked
                                           ng-model="addInfo.serviceability"
                                           id="serviceability" name="serviceability" class="form-control"/>
                                </div>

                                <!-- No water to date-->
                                <div class="form-group col-md-4">
                                    <label class="control-label">{{'NO_WATER_TO'| translate }}</label>
                                </div>

                                <div class="form-group col-md-8" ng-class="dateValidation.css">
                                    <div class="input-group right-inner-addon">
                                    <span class="input-group-btn">
                                         <button type="button" class="btn btn-default myGroupBtn"
                                                 ng-click="open2($event)">
                                             <i class="glyphicon glyphicon-calendar"></i>
                                         </button>
                                    </span>

                                        <input type="text" class="form-control date-picker" datepicker-popup
                                               ng-model="addInfo.noWaterToDate"
                                               is-open="secondCalendar.isOpen"
                                               min-date="minDate" max-date="maxDate"
                                               datepicker-options="dateOptions"
                                               date-disabled="disabled(date, mode)" close-text="Close"
                                               ng-change="receiveModuleNumbers()" readonly/>
                                           <span class="input-group-btn">
                                                <button type="button" class="btn btn-default myGroupBtn"
                                                        ng-show="!isDateDefault()"
                                                        ng-click="clearDate2()">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                           </span>
                                    </div>
                                </div>

                                <!-- NOTES -->
                                <div class="form-group col-md-4">
                                    <label class="control-label">{{'NOTES' | translate}}</label>
                                </div>
                                <div class="form-group col-md-8">
                                <textarea type="text" rows="5" cols="45" ng-model="addInfo.notes"
                                          id="notes" name="notes" class="form-control"></textarea>
                                </div>

                            </div>
                        </div>
                    </div>
                </accordion-group>
            </div>
        </accordion>

        <div class="row">

            <div class="form group col-md-10">
                <button type="submit" class="btn btn-success text-uppercase"
                        ng-show="!showEditButton">
                    {{'SAVE' | translate}}
                </button>
                <button type="reset" class="btn btn-warning text-uppercase"
                        ng-click="resetApplicationForm()">
                    {{'CLEAR_FORM'|translate}}
                </button>
                <button type="button" class="btn btn-primary text-uppercase"
                        ng-click="createNew()">
                    {{'CREATE_BY_PATTERN'| translate}}
                </button>
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-danger pull-right text-uppercase" ng-click="closeAlert()">
                    {{'CLOSE'|translate}}
                </button>
            </div>

        </div>
    </form>

</div>

<div ng-show="!isShownForm " class="row col-md-12 alert alert-success alert-dismissible centered" role="alert">
    <button ng-click="closeAlert()" type="button" class="close btn-close-alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <i ng-show="!applicationCodes" class="fa fa-3x fa-spinner fa-spin col-md-6 col-md-offset-5"></i>


    <div ng-if="isMailValid" class="text-center" ng-show="applicationCodes">
        {{'APP_SENT_ORG' | translate}}
        <div ng-repeat="code in applicationCodes">
            <b>{{ code }} </b> <br>
        </div>
    </div>
    <div ng-if="!isMailValid" class="text-center" ng-show="applicationCodes">
        {{'APP_SENT_ORG' | translate}}
        <div ng-repeat="code in applicationCodes">
            <b>{{ code }} </b> <br>
        </div>
        {{'APP_INVALID_MAIL' | translate}} <b>+380{{ clientForm.phoneNumber.$viewValue }} </b> <br>
    </div>
</div>
</div>