<div class="modal-header">
	<h3 class="modal-title">{{'FILL_IN_INFORMATION_ABOUT_EQUIPMENT'	| translate}}</h3>
</div>

<div class="modal-body">

	<form name="eqipmentForm" novalidate>

		<div>
			<hr />
			<div class="row">
				<div class="form-group col-md-4">
					<label class="control-label">{{'NAME' | translate }}</label>
				</div>
				<div class="form-group col-md-8" show-errors>

					<input type="text" ng-model="equipmentFormData.name" id="name"
						ng-pattern="EQUIPMENT_NAME_REGEX" name="name"
						   class="form-control" required>

					<p class="help-block-calibrator" ng-if="eqipmentForm.name.$error.pattern">
						<span class="glyphicon glyphicon-exclamation-sign"></span> {{'EQUIPMENT_NAME_LENGTH' |
						translate }}
					</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-4">
				<label class="control-label">{{'TYPE_OF_EQUIPMENT' |  translate }}</label>
			</div>
			<div class="form-group col-md-8" show-errors>
				<input type="text" ng-model="equipmentFormData.deviceType" id="deviceType"
					   ng-pattern="EQUIPMENT_TYPE_REGEX" name="deviceType"
					   class="form-control" required>
				<p class="help-block-calibrator" ng-if="eqipmentForm.deviceType.$error.pattern">
					<span class="glyphicon glyphicon-exclamation-sign"></span> {{'EQUIPMENT_TYPE_REGEX' |
					translate }}
				</p>
			</div>
		</div>


		<div class="row">
			<div class="form-group col-md-4">
				<label class="control-label">{{'MANUFACTURER' | translate }}</label>
			</div>
			<div class="form-group col-md-8" show-errors>
				<input type="text" ng-model="equipmentFormData.manufacturer" id="manufacturer"
					ng-pattern="EQUIPMENT_MANUFACTURER_REGEX"  name="manufacturer"
					   class="form-control" required>
				<p class="help-block-calibrator" ng-if="eqipmentForm.manufacturer.$error.pattern">
					<span class="glyphicon glyphicon-exclamation-sign"></span> {{'MANUFACTURER_REGEX' |
					translate }}
				</p>
			</div>
		</div>
			
		<div class="row">
			<div class="form-group col-md-4">
				<label class="control-label">{{'VERIFICATION_INTERVAL' | translate }}</label>
			</div>
			<div class="form-group col-md-8" show-errors>
				<input type="text" ng-model="equipmentFormData.verificationInterval" id="verificationInterval"
					ng-pattern="EQUIPMENT_INTERVAL_REGEX"
					name="verificationInterval" class="form-control" required>
				<p class="help-block-calibrator" ng-if="eqipmentForm.verificationInterval.$error.pattern">
					<span class="glyphicon glyphicon-exclamation-sign"></span> {{'EQUIPMENT_INTERVAL_REGEX' |
					translate }}
				</p>
			</div>
		</div>
	

	
		<hr />

		<div class="row">
			<div class="form-group col-md-10">
				<button type="submit" class="btn btn-success"
					ng-click="onEquipmentFormSubmit()">{{'ADD' | translate}}</button>
				<a class="btn btn-warning" ng-click="resetEquipmentForm()">{{'CLEAR_FORM' | translate }}</a>
			</div>
			<div class="form-group col-md-2">
				<button class="btn btn-danger pull-right" ng-click="closeModal()">{{'CLOSE'	| translate}}</button>
			</div>
		</div>

	</form>
</div>