<div class="modal-header">
    <h3 class="modal-title">{{'DATAILS_OF_CALIBRATOR' | translate}}</h3>
</div>

<div class="modal-body">
    <ng-include src="'resources/app/calibrator/views/main-details-table.html'"></ng-include>
    <hr>

    <button type="button" class ="btn btn-default" ng-click="openCounterInfo()">
        <i class="fa fa-info fa-lg"></i>
        {{'COUNTER_' | translate}}
    </button>
    <button class="btn btn-default pull-right" ng-click="toEditCounter = !toEditCounter" ng-show="!toEditCounter && showCounter.opened">{{'EDIT' | translate}}</button>
    <button class="btn btn-default pull-right" ng-click="toEditCounter = !toEditCounter" ng-show="toEditCounter && showCounter.opened">{{'REVIEW' | translate}}</button>


    <ng-include src="'resources/app/common/views/modals/counter-info-modal.html'" ng-show=" toEditCounter && showCounter.opened"></ng-include>
    <ng-include src="'resources/app/common/views/modals/counter-info-table.html'" ng-show="!toEditCounter && showCounter.opened"></ng-include>

    <button type="button" class="btn btn-default" ng-click="openAdditionalInformation()">
        <i class="fa fa-info fa-lg"></i>
        {{'INFO_BUTTON' | translate}}
    </button>
    <button class="btn btn-default pull-right" ng-click="toEditInfo = !toEditInfo" ng-show="!toEditInfo && showStatus.opened">{{'EDIT' | translate}}</button>
    <button class="btn btn-default pull-right" ng-click="toEditInfo = !toEditInfo" ng-show="toEditInfo && showStatus.opened">{{'REVIEW' | translate}}</button>

    <ng-include src="'resources/app/common/views/modals/additional-info-modal.html'" ng-show="toEditInfo && showStatus.opened"></ng-include>
    <ng-include src="'resources/app/common/views/modals/additional-info-table.html'" ng-show="!toEditInfo && showStatus.opened"></ng-include>



</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Закрити</button>
</div>
