<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<!--<iframe src="C:\Metrology\img\14502047028891.pdf" width="1000" height="1000"></iframe>-->
<object data="scanDoc" type="application/pdf" width="1000" height="1000"></object>
</body>
</html>

<!--<!DOCTYPE HTML>-->
<!--<html>-->
<!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<title>Тег IMG</title>-->
<!--</head>-->
<!--<body>-->
<!--<iframe src="C:\Metrology\img\14502047028891.pdf" width="1000" height="1000" alt="Попробуйте в другом браузере"></iframe>-->
<!--</object>-->

<!--</body>-->
<!--</html>-->
