<style>
    .main {
        background-color: gainsboro;
        border-width: 20px;
        border: black;
        position: absolute;
        z-index: 1000;
    }

</style>
<button class="btn btn-primary btn-sm" type="button" ng-click="clickMainButton()">
    {{ 'globalSearch' }}
</button>
<div class="container main" ng-show="mainButton">
    <form class = "row" name='paramsAddition' ng-submit="submit()">
        <div class="col-lg-3">
            <select class="form-control" ng-options="param as (param.name | translate) for param in params"
                    ng-model="selected"></select>
            </div>
        <div class="col-lg-3">
            <input class="form-control" type="text" ng-model="selectedValue" ng-show="selected.type == 'String'">
            <select class="form-control" ng-options="value for value in selected.value" ng-model="selectedValue"
                    ng-show="selected.type =='Enumeration'"></select>
            <input date-range-picker="opts" class="form-control date-picker" type="text"
                   ng-model="myDatePicker.pickerDate" options="opts"
                   id="datepickerfield" ng-show="selected.type == 'Date'" readonly/>
                                        <span class="input-group-btn">
                                                  <button type="button" class="btn btn-default"
                                                          ng-show="!isDateDefault()"
                                                          ng-click="clearDate()">
                                                      <i class="glyphicon glyphicon-remove"></i>
                                                  </button>
                                        </span>
        </div>
            <input class="btn btn-primary btn-sm" type="submit" id="submit" value="Submit"
                   ng-show="selected.type != undefined"/>
    </form>
    <p ng-repeat='param in model'>
        {{param}}
        <button class="btn btn-primary btn-sm" ng-click="deleteSearchParam(param)">Remove</button>
    </p>
</div>