<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<div id="page-wrapper" ng-controller="CalibrationTestControllerCalibrator">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{'CALIBRATION_TESTS' | translate}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-xs btn-primary btn-actions-custom"
            popover="Створити тест" popover-trigger="mouseenter"
            ng-click="openAddCalibrationTestModal(verification.id)">
            <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
        </div>
    </div>
    <p></p>

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{'CALIBRATION_TESTS' | translate}}</div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>{{'FIND_BY_TEST_NAME' | translate}} <input type="text" ng-model="searchData"
                            ng-change="onTableHandling()" ng-model-options="{debounce: 600}" class="form-control input-sm">
                            </label>
                        </div>
                    <p>{{verId}}</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-striped table-bordered table-hover"
                                   id="devicesTable">
                                <thead>
                                <tr>
                                    <th>{{'ID'| translate}}</th>
                                    <th>{{'NAME' | translate}}</th>
                                    <th>{{'INITIAL_DATE' | translate }}</th>
                                    <th>{{'TEMPERATURE' | translate }}</th>
                                    <th>{{'SETTING_NUMBER' | translate}}</th>
                                    <th>{{'LATITUDE' | translate}}</th>
                                    <th>{{'LONGITUDE' | translate}}</th>
                                    <th>{{'CONSUMPTION_STATUS' | translate }}</th>
                                    <th>{{'PHOTO_PATH' | translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="calibrationTest in pageContent">
                                    <td>{{ calibrationTest.id }}</td>
                                    <td>{{ calibrationTest.name }}</td>
                                    <td>{{ calibrationTest.dateTest }}</td>
                                    <td>{{ calibrationTest.temperature }}</td>
                                    <td>{{ calibrationTest.settingNumber }}</td>
                                    <td>{{ calibrationTest.latitude }}</td>
                                    <td>{{ calibrationTest.longitude }}</td>
                                    <td>{{ calibrationTest.consumptionStatus }}</td>
                                    <td>{{ calibrationTest.photoPath }}</td>
                                    <div class="col-sm-offset-6">

                                    </div>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-sm"
                                                ng-click="openEditEquipmentModal(measuringEquipment.id)">
                                            <span class="glyphicon glyphicon-wrench"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <label>{{'DISPLAY_ON' | translate}} <select ng-model="itemsPerPage"
                                                                ng-change="onTableHandling()"
                                                                class="form-control input-sm">
                        <option value="1">1</option>
                        <option value="3">3</option>
                        <option value="5" selected>5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    </label>

                    <div class="row">
                        <div class="col-sm-12">
                            <pagination total-items="totalItems" ng-model="currentPage"
                                        max-size="5" boundary-links="true" rotate="false"
                                        ng-change="onTableHandling()" items-per-page="itemsPerPage"></pagination>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
</body>
</html>
