<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .first-column {
            width: 25%;
            float: left;
        }

        .second-column {
            width: 70%;
            float: right;
            padding-left: 65px;
        }

        table {
            width: 400px;
            overflow: scroll;
        }

        .scroll-wrapper  { overflow-x: scroll; }

        .control-label { width: 90px; }

        .control-image-label { width: 200px; }

        .input-sm { height: 25px; }

        .image-td {
            height: 150px;
        }

        tr > td { min-height: 30px; }
    </style>

</head>
<body>
<div id="page-wrapper">
    <div>
        <h2 class="text-center">Заповніть інформацію про протокол:</h2>
    </div>
    <form name="CalibrationTestForm" novalidate style="padding-top: 10px">
        <div class="first-column">
            <div class="row">
                <label class="control-label" style="min-height: 30px"></label>
            </div>
            <div class="row">
                <div class="form-group col-md-5">
                    <label class="control-label">{{'FILE_NAME' | translate }}</label>
                </div>
                <div class="form-group col-md-7" show-errors>
                    <input type="text" ng-model="TestForm.fileName"  ng-minlength="3" ng-disabled="fileLoaded"
                           id="fileName" name="fileName" class="form-control input-sm" align="right" required>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-5">
                    <label class="control-label">{{'COUNTER_NUMBER' | translate }}</label>
                </div>
                <div class="form-group col-md-7" show-errors>
                    <input type="text" ng-model="TestForm.counterNumber" ng-disabled="fileLoaded"
                           name="counterNumber" class="form-control input-sm" required>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-5">
                    <label class="control-label">{{'DATE_TIME' | translate }}</label>
                </div>
                <div class="form-group col-md-7" show-errors>
                    <input type="text" ng-model="TestForm.testDate" ng-disabled="fileLoaded"
                           name="dateTime" class="form-control input-sm" required>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-5">
                    <label class="control-label">{{'TEMPERATURE' | translate}}</label>
                </div>
                <div class="form-group col-md-7">
                    <input type="number" ng-model="TestForm.temperature" ng-disabled="fileLoaded"
                           name="temperature" class="form-control input-sm" required>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-5">
                    <label class="control-label">{{'ACCUMULATED_VOLUME' | translate}}</label>
                </div>
                <div class="form-group col-md-7">
                    <input type="text" ng-model="TestForm.accumulatedVolume" ng-disabled="fileLoaded"
                           name="accumulatedVolume" class="form-control input-sm" required>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-5">
                    <label class="control-label">{{'SETTING_NUMBER' |
                        translate }}</label>
                </div>
                <div class="form-group col-md-7">
                    <input type="text" ng-model="TestForm.installmentNumber" ng-disabled="fileLoaded"
                           name="settingNumber" class="form-control input-sm" required>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-5">
                    <label class="control-label">{{'LATITUDE' | translate }}</label>
                </div>
                <div class="form-group col-md-7">
                    <input type="text" ng-model="TestForm.latitude" ng-disabled="fileLoaded"
                           name="latitude" class="form-control input-sm" required>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-5">
                    <label class="control-label">{{'LONGITUDE' | translate }}</label>
                </div>
                <div class="form-group col-md-7">
                    <input type="text" ng-model="TestForm.longitude" ng-disabled="fileLoaded"
                           name="longitude" class="form-control input-sm" required>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-5">
                    <label class="control-label">{{'CONSUMPTION_LOL_STATUS' |
                        translate }}</label>
                </div>
                <div class="form-group col-md-7">
                    <input type="text" ng-model="TestForm.consumptionStatus" ng-disabled="fileLoaded"
                           name="consumptionStatus" class="form-control input-sm" required>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-5">
                    <label class="control-label">{{'TEST_RESULT' |
                        translate }}</label>
                </div>
                <div class="form-group col-md-7">
                    <input type="text" ng-model="TestForm.testResult" ng-disabled="fileLoaded"
                           name="testResult" class="form-control input-sm" required>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <img ng-show="fileLoaded" id="testMainPhoto" src="data:image/png;base64, TestForm.testPhoto" width="100%" height="100%">
                </div>
            </div>

        </div>

        <div class="second-column">
            <div class="row">
                <label class="control-label" style="min-height: 30px"></label>
            </div>
            <div class="scroll-wrapper">
                <table class="table table-bordered" style="overflow: scroll; width: 200px">
                <thead>
                <tr>
                    <td>
                        <label class="control-label">{{'TEST_NUMBER' |
                            translate }}</label>
                    </td>
                    <td>
                        <label class="control-label">{{'GIVEN_CONSUMPTION' |
                            translate }}</label>
                    </td>
                    <td>
                        <label class="control-label">{{'ACCEPTABLE_ERROR' |
                            translate }}</label>
                    </td>
                    <td>
                        <label class="control-label">{{'VOLUME_OF_STANDARD'
                            | translate }}</label>
                    </td>
                    <td>
                        <label class="control-label">{{'INITIAL_VALUE' |
                            translate }}</label>
                    </td>
                    <td>
                        <label class="control-label">{{'TERMINAL_VALUE' |
                            translate }}</label>
                    </td>
                    <td>
                        <label class="control-label">{{'VOLUME_IN_DEVICE' |
                            translate }}</label>
                    </td>
                    <td>
                        <label class="control-label">{{'TEST_DURATION' |
                            translate }}</label>
                    </td>
                    <td>
                        <label class="control-label">{{'ACTUAL_CONSUMPTION'
                            | translate }}</label>
                    </td>
                    <td>
                        <label class="control-label">{{'CONSUMPTION_LOL_STATUS'
                            | translate }}</label>
                    </td>
                    <td>
                        <label class="control-label">{{'CALCULATION_ERROR' |
                            translate }}</label>
                    </td>
                    <td>
                        <label class="control-label">{{'TEST_RESULT' |
                            translate }}</label>
                    </td>
                </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="testData in TestDataFormData">
                        <td>
                            <input type="text" style="width: 150px" ng-model="testData.testNumber" ng-disabled="fileLoaded"
                               class="form-control input-sm" required>
                        </td>
                        <td>
                            <input type="number" ng-model="testData.givenConsumption" ng-disabled="fileLoaded"
                                   class="form-control input-sm" required>
                        </td>
                        <td>
                            <input type="number" ng-model="testData.acceptableError" ng-disabled="fileLoaded"
                                   class="form-control input-sm" required>
                        </td>
                        <td>
                            <input type="number" ng-model="testData.volumeOfStandard" ng-disabled="fileLoaded"
                                   class="form-control input-sm" required>
                        </td>
                        <td>
                            <input type="number" ng-model="testData.initialValue" ng-disabled="fileLoaded"
                                   class="form-control input-sm" required>
                        </td>
                        <td>
                            <input type="number" ng-model="testData.endValue" ng-disabled="fileLoaded"
                                   class="form-control input-sm" required>
                        </td>
                        <td>
                            <input type="number" ng-model="testData.volumeInDevice" ng-disabled="fileLoaded"
                                   class="form-control input-sm" required>
                        </td>
                        <td>
                            <input type="number" ng-model="testData.testTime" ng-disabled="fileLoaded"
                                   class="form-control input-sm" required>
                        </td>
                        <td>
                            <input type="number" ng-model="testData.actualConsumption" ng-disabled="fileLoaded"
                                   class="form-control input-sm" required>
                        </td>
                        <td>
                            <input type="text" ng-model="testData.consumptionStatus" ng-disabled="fileLoaded"
                                   class="form-control input-sm" required>
                        </td>
                        <td>
                            <input type="number" ng-model="testData.calculationError" ng-disabled="fileLoaded"
                                   class="form-control input-sm" required>
                        </td>
                        <td>
                            <input type="text" ng-model="testData.testResult" ng-disabled="fileLoaded"
                                   class="form-control input-sm" required>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>

            <div class="scroll-wrapper" ng-show="TestDataFormData[0].dataAvailable" style="padding-top: 50px">
                <table class="table table-bordered">
                <thead>
                    <tr>
                        <td ng-repeat="testData in TestDataFormData" ng-show="testData.dataAvailable">
                            <label class="control-image-label">
                                {{ testData.testNumber }}
                            </label>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td ng-repeat="testData in TestDataFormData" ng-show="testData.dataAvailable" class="image-td">
                                <img ng-show="testData.dataAvailable"
                                     data-ng-src="data:image/png;base64,{{testData.beginPhoto}}" width="100%" height="100%">
                        </td>
                    </tr>
                    <tr>
                        <td ng-repeat="testData in TestDataFormData" ng-show="testData.dataAvailable" class="image-td">
                                <img ng-show="testData.dataAvailable"
                                     data-ng-src="data:image/png;base64,{{testData.endPhoto}}" width="100%" height="100%">
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

        <div style="padding-top: 30px">
            <div class="form-group col-md-10">
                <button type="submit" class="btn btn-success btn-md"
                        ng-click="saveCalibrationTest()">{{'ADD' | translate}}
                </button>
                <button class="btn btn-primary btn-sm" type="button" style="margin-left: 20px" ng-show="!fileLoaded"
                        ng-click="fileName = uploadBbiFile(testId);console.log(fileName);">
                    <img src="/resources/assets/button-icons/upload.png"
                         ng-click="fileName = uploadBbiFile(testId);console.log(fileName);">
                    </img> {{ 'UPLOAD_BBI_FILE' | translate }}
                </button>
            </div>
        </div>
    </form>
</div>
</body>
</html>