<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{'MAIN_PANEL_CALIBRATOR' | translate}}</h1>
            </div>
            <!--Graph of verifications-->
            <div class="col-lg-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <li class="fa fa-bar-chart-o fa-fw"></li>
                        Графік надходження заявок
                    </div>
                    <div ng-controller="GraphicEmployeeCalibratorMainPanel">

                        <div class="modal-header-capacity">
                            <h3 class="capacity-employee">Виберіть період часу для пошуку інформації</h3>
                        </div>
                        <form name="myForm" novalidate class="formCalendar">


							<div class="calendar-wd">
								<input readonly type="text" datepicker-popup="{{format}}"
									ng-model="dataToSearch.fromDate"
									ng-change="changeDateToSend(dataToSearch.fromDate)"
									is-open="firstCalendar.isOpen" min-date="minDate"
									datepicker-options="dateOptions"
									date-disabled="disabled(date, mode)" ng-required="true"
									close-text="Close" /> <span>
									<button type="button" class="btn btn-default myGroupBtn"
										ng-click="open1($event)">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
								<p class="validation-message date-validation-message" ng-if="fromDateInTheFuture">
									<span class="glyphicon glyphicon-exclamation-sign"></span>
									{{'DATE_IN_THE_FUTURE' | translate }}
								</p>
							</div>


							<div class="calendar-wd">
                                <input readonly type="text"
                                       datepicker-popup="{{format}}"
                                       ng-model="dataToSearch.toDate"
                                       ng-change="changeDateToSend(dataToSearch.toDate)"
                                       is-open="secondCalendar.isOpen"
                                       min-date="minDate" datepicker-options="dateOptions"
                                       date-disabled="disabled(date, mode)" ng-required="true"
                                       close-text="Close"/>

                            <span>
                                <button type="button" class="btn btn-default myGroupBtn"
                                        ng-click="open2($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                            <p class="validation-message date-validation-message" ng-if="toDateInTheFuture">
									<span class="glyphicon glyphicon-exclamation-sign"></span>
									{{'DATE_IN_THE_FUTURE' | translate }}
							</p>
							<p class="validation-message date-validation-message" ng-if="toDateInvalid">
									<span class="glyphicon glyphicon-exclamation-sign"></span>
									{{'TO_DATE_EARLIER_THAN_FROM' | translate }}
							</p>
                            </div>


                            <div class="cal">

                                <button class="btn btn-success" type="submit" ng-click="showGrafic()">
                                    Відобразити
                                </button>

                            </div>
                        </form>
                        <br>
                        <br>
                        <br>
                        <highchart id="chart1" config="chartConfig" class="span10"></highchart>


                    </div>
                </div>
            </div>
         </div>
	</div>
</div>
