<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="page-wrapper">

    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">{{'TASK' | translate}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <br/>
            <div class="panel panel-default">

                <div class="panel-heading">
                    <span>{{'INFORMATION' | translate}}</span>
                    <span class="pull-right">{{'VERIFS_FOUND' | translate }}: {{resultsCount}}</span>
                </div>

                <div class="panel-body">



                    <div class="row">
                        <div class="col-md-12">
                            <table show-filter="true" ng-table="tableParams" template-pagination="custom/pager"
                                   class="table table-bordered table-hover users_table">

                                <tbody>
                                <tr ng-repeat="verification in $data" >
                                    <td data-title="''"><input type="checkbox" ng-click="resolveVerificationId(verification.verficationId)"/>
                                    </td>
                                    <td data-title="'INITIAL_DATE' | translate" class="datecolumn" sortable="'date'"
                                        filter="{ 'date': 'daterange' }">{{ verification.sentToCalibrator | date :
                                        'dd-MM-yyyy'}}
                                        <div ng-show="verification.processTimeExceeding>0"><b>{{'TIME_EXCEEDED' |
                                            translate}} {{verification.processTimeExceeding}} {{'DAYS' |
                                            translate}}</b>
                                        </div>
                                    </td>
                                    <td data-title="'VERIFICATION_ID' | translate"
                                        filter="{ 'id': 'text' }" ng-model="filters.id">{{ verification.verficationId }}
                                    </td>
                                    <td data-title="'PROVIDER_NAME' | translate"
                                        filter="{ 'provider': 'text' }" ng-model="filters.id">{{ verification.providerName }}
                                    </td>
                                    <td data-title="'CLIENT_FULL_NAME' | translate"
                                        filter="{ 'client_full_name': 'text' }">{{ verification.clientFullName }}
                                    </td>
                                    <td data-title="'CLIENT_ADDRESS' | translate"
                                        filter="{ 'address': 'text' }">{{ verification.address }}
                                    </td>
                                    <td data-title="'TELEPHONE' | translate"
                                        filter="{ 'quantity': 'text' }">{{ verification.telephone }}
                                    </td>

                                </tr>
                                </tbody>

                            </table>
                            <script type="text/ng-template" id="custom/pager">
                                <div>
                                    <ul class="pager ng-cloak">
                                        <li ng-repeat="page in pages"
                                            ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                                            ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                                            <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo;
                                                Previous</a>
                                            <a ng-switch-when="next" ng-click="params.page(page.number)"
                                               href="">Next &raquo;</a>
                                        </li>
                                        <li>
                                            <div class="btn-group">
                                                <button type="button" ng-class="{'active':params.count() == 5}"
                                                        ng-click="params.count(5)" class="btn btn-default">5
                                                </button>
                                                <button type="button" ng-class="{'active':params.count() == 10}"
                                                        ng-click="params.count(10)" class="btn btn-default">10
                                                </button>
                                                <button type="button" ng-class="{'active':params.count() == 25}"
                                                        ng-click="params.count(25)" class="btn btn-default">25
                                                </button>
                                                <button type="button" ng-class="{'active':params.count() == 50}"
                                                        ng-click="params.count(50)" class="btn btn-default">50
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </script>
                            <script type="text/ng-template" id="ng-table/filters/daterange.html">

                                <div class="input-group right-inner-addon" style="width: 100%">
                                    <i id="calendar_icon" class="glyphicon glyphicon-calendar"
                                       ng-click="showPicker($event)"></i>
                                    <input date-range-picker="opts" class="form-control date-picker" type="text"
                                           ng-model="myDatePicker.pickerDate" ng-change="doSearch()" options="opts"
                                           id="datepickerfield" readonly/>

                                        <span class="input-group-btn">
                                                  <button type="button" class="btn btn-default myGroupBtn"
                                                          ng-show="!isDateDefault()"
                                                          ng-click="clearDate()">
                                                      <i class="glyphicon glyphicon-remove"></i>
                                                  </button>
                                        </span>
                                </div>
                            </script>


                            <p id="emptyError" ng-if="allIsEmpty && isClicked"
                               class="help-block">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                            </p>

                            <div class="pull-left">
                                <button type="button" class="btn btn-primary"
                                        ng-click="openTask()"><span class="glyphicon glyphicon-send"></span>
                                        {{'CREATE_TASK' | translate}}
                                </button>
                            </div>

                            <!--<div class="pull-right">-->
                                <!--<button type="button" class="btn btn-primary"-->
                                        <!--ng-click="createExcelFile()"><span class="glyphicon glyphicon-send"></span>-->
                                    <!--Створити ексель документ-->
                                <!--</button>-->

                                <!--<a href="" id="dawnloadFile" download>Скачати файл ексель</a>-->
                            <!--</div>-->


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>